{{#> base}}
    {{#*inline "title"}}
        A page loaded from an external link
    {{/inline}}
    {{#*inline "defHeadCounterScripts"}}
        <script type="text/javascript" src="{{ buildPath }}/e2e/tag.js"></script>
    {{/inline}}
    {{#*inline "content"}}
        <div class="content">
            External page
        </div>
    {{/inline}}
{{/base}}
