{{#> base}}
    {{#*inline "title"}}
        external link logging page title
    {{/inline}}
    {{#*inline "defHeadCounterScripts"}}
        <script type="text/javascript" src="{{ buildPath }}/e2e/tag.js"></script>
    {{/inline}}
    {{#*inline "head"}}
        <script type="text/javascript">
            setForceSessionCookie();
        </script>
    {{/inline}}
    {{#*inline "content"}}
        <div class="content">
            <a id="ext-link" href="https://yandex.com/test/logExternalLinks/extPage.hbs" target="_blank">External link</a>
            <a id="ext-download-link" href="https://yandex.com/test/logExternalLinks/music.mp3" target="_blank">External download link</a>
            <a id="int-download-link" href="https://yandex.ru/test/logExternalLinks/music.mp3" target="_blank">Internal download link</a>
        </div>
    {{/inline}}
{{/base}}
