.HejmdalTestingTable {
    &__status {
        width: 3 * $unit;
    }

    &__checkbox {
        width: 10 * $unit;
    }

    &__id {
        width: 12 * $unit;
    }

    &__type {
        width: 15 * $unit;
    }

    &__actions {
        width: 35 * $unit;
    }
}
