.form {
    margin-bottom: 32px;

    &__control {
        margin-bottom: 12px;
    }

    .textarea,
    .CodeMirror {
        height: 15em;
        font-family: "Lucida Console", Monaco, monospace;
    }

    .CodeMirror-placeholder {
        color: #999;
    }
}
