Source: config-nginx-taxi-test-ext-proxy
Section: devel
Priority: optional
Maintainer: Nikolay Kraev <nikkraev@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
#Vcs-Git: git://git.debian.org/collab-maint/config-nginx-taxi-test-ext-proxy.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/config-nginx-taxi-test-ext-proxy.git;a=summary

Package: config-nginx-taxi-test-ext-proxy
Architecture: all
Depends: ${misc:Depends}
Description: Config nginx for taxi test ext proxy server
 Config nginx for taxi test ext proxy server
