{{#> base}}
    {{#*inline "content"}}
        <div>
            <h1>phoneChanger</h1>
            <a href="%D0%BC%D0%B5%D1%82%D1%80%D0%B8%D0%BA%D0%B"></a>
            <a class="phone1" href="tel:+7 (222) 333-44-55">+7 (222) 333-44-55</a>
        </div>
    {{/inline}}
{{/base}}
