.PriceConversionTestList {
    &__test {
        height: auto;
        background-color: #fffcb0
        cursor: pointer;
        &_positive {
            background-color: #bfffa0;
        }

        &_negative {
            background-color: #ff8585;
        }

        &:hover {
            opacity:0.6;
        }
    }

    &__cell,
    &__buttonsCell {
        padding: 10px;
    }

    &__buttonsCell {
        width: 120px;
    }
}
