<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.yandex.tv.services.testapp">

	<!--
		NOTE: here we use protectionLevel=normal instead of signature|preinstalled
		in all services because androidTest app is always signed with debug key from AS
		so neither signature match nor app is preinstalled
	-->

	<permission
		android:name="com.yandex.tv.permission.BIND_TEST_SERVICE"
		android:protectionLevel="normal" />
	<uses-permission android:name="com.yandex.tv.permission.BIND_TEST_SERVICE" />

	<permission
		android:name="com.yandex.tv.permission.BIND_DENIED_SERVICE"
		android:protectionLevel="normal" />
	<uses-permission android:name="com.yandex.tv.permission.BIND_DENIED_SERVICE" />

	<application tools:ignore="AllowBackup,MissingApplicationIcon">

		<service
			android:name=".TestService"
			android:exported="true"
			android:permission="com.yandex.tv.permission.BIND_TEST_SERVICE">
			<intent-filter>
				<action android:name="com.yandex.tv.action.BIND_TEST_SERVICE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>

		<service
			android:name=".DeniedService"
			android:exported="true"
			android:permission="com.yandex.tv.permission.BIND_DENIED_SERVICE">
			<intent-filter>
				<action android:name="com.yandex.tv.action.BIND_DENIED_SERVICE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>

	</application>

</manifest>
