{
    "extends": [
        "plugin:cypress/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "cypress/no-unnecessary-waiting": "warn",
        "cypress/no-assigning-return-values": 0,
        "comma-dangle": 0
    }
}
