import pytest

# UNCOMMENT FOR DELIVERY
from united_dispatch_delivery_plugins import *

# UNCOMMENT FOR EATS
# from united_dispatch_eats_plugins import *

# UNCOMMENT FOR GROCERY
# from united_dispatch_grocery_plugins import *


pytest_plugins = [
    'simulator.cases.{{case_name}}.mocks.driver_trackstory',
    'simulator.cases.{{case_name}}.mocks.order_satisfy',
    'simulator.cases.{{case_name}}.mocks.order_search',
    'simulator.cases.{{case_name}}.mocks.score_candidates',
]


# UNCOMMENT FOR DELIVERY
@pytest.fixture(name='united_dispatch_unit')
def _united_dispatch_unit(taxi_united_dispatch_delivery):
    return taxi_united_dispatch_delivery


# UNCOMMENT FOR EATS
# @pytest.fixture(name='united_dispatch_unit')
# def _united_dispatch_unit(taxi_united_dispatch_eats):
#     return taxi_united_dispatch_eats


# UNCOMMENT FOR GROCERY
# @pytest.fixture(name='united_dispatch_unit')
# def _united_dispatch_unit(taxi_united_dispatch_grocery):
#     return taxi_united_dispatch_grocery


@pytest.fixture(name='experiments3', autouse=True)
def _experiments3(experiments3, load_json):
    """
    Uses static files from static/ folder for configurating experiments
    https://wiki.yandex-team.ru/taxi/backend/testsuite/#jeksperimentyvjson-fajjle
    """

    # experiments3.add_experiments_json(
    #     load_json('experiments3/united_dispatch_planner_shard.json'),
    # )

    return experiments3
