Source: package-name
Section: misc
Priority: extra
Maintainer: my name <my login@yandex-team.ru>
Build-Depends:
 build-essential,
 cmake,
 debhelper (>=9),
 mongodb-mongos,
 mongodb-server,
 mongodb-shell,
 postgresql-12,
 postgresql-server-dev-12,
 python-yaml,
 redis-server,
 redis-tools,
 taxi-deps-py3-2,
 yandex-debhelper-all,
 yandex-dh-environment,
 yandex-dh-nginx,
 yandex-taxi-protobuf-compiler,
Standards-Version: 3.9.8

Package: package-name
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 memlockd,
 nginx,
 python-requests,
 supervisor,
 tzdata,
 yandex-taxi-scripts-cron (>= 0.0.141),
Description: my service
