{{#> base}}
    {{#*inline "title"}}
        Clickmap Method page title
    {{/inline}}
    {{#*inline "content"}}
        <h1>Clickmap Method page</h1>
        <button id="button">Кнопка</button>
    {{/inline}}
{{/base}}
