<yandex>
    <yauth>
        <enable_testing_auth type='bool'>True</enable_testing_auth>
        <test_user type='str'>volozh</test_user>
    </yauth>
    <yauth>
        <enable_testing_auth type='bool'>True</enable_testing_auth>
        <test_user type='str'>volozh</test_user>
    </yauth>
    <tvm>
        <self_client_id type='int'>201500</self_client_id>
        <self_secret type='str'>some secret</self_secret>
        <walle_client_id type='int'>23232323</walle_client_id>
    </tvm>
    <database>
        <name type='str' from_env_or_default='POSTGRES_RECIPE_DBNAME'>cms_test</name>
        <user type='str' from_env_or_default='POSTGRES_RECIPE_USER'>cms</user>
        <password type='str' from_env_or_default='POSTGRES_RECIPE_PASSWORD'>cms</password>
        <host type='str' from_env_or_default='POSTGRES_RECIPE_HOST'>127.0.0.1</host>
        <port type='int' from_env_or_default='POSTGRES_RECIPE_PORT'>5432</port>
        <conn_max_age type='int'>600</conn_max_age>
        <connect_timeout type='int'>30</connect_timeout>
    </database>
    <max_heartbeat_last_age_seconds>600</max_heartbeat_last_age_seconds>
    <judge_queue>{{ judge_queue }}</judge_queue>
    <marshal_queue>{{ marshal_queue }}</marshal_queue>
    <auto_unload type='bool'>{{ auto_unload }}</auto_unload>
    <auto_approve type='bool'>{{ auto_approve }}</auto_approve>
    <noodle_address type='str'>http://127.0.0.1:85</noodle_address>
    <startrek_api_token type='str'>secret</startrek_api_token>
    <startrek_api_useragent type='str'>metrika-cms</startrek_api_useragent>
    <logging>
        <stdout type='bool'>True</stdout>
        <file type='str'>/dev/null</file>
        <django_level>INFO</django_level>
    </logging>
    <django_debug type='bool'>True</django_debug>
    <secret_key type='str'>xxx</secret_key>
    <skip_load_for_temporary_unreachable>{{ skip_load }}</skip_load_for_temporary_unreachable>
</yandex>
