<yandex>
    <master>
        <port>{{ port}}</port>
        <number_of_workers type='int'>1</number_of_workers>
        <logger_settings>
            <stdout>True</stdout>
            <log_format><![CDATA[%(asctime)s %(threadName)-12.12s %(processName)-12.12s %(name)48.48s %(levelname)-.1s %(message)s]]></log_format>
        </logger_settings>
        <loggers type='list'>
            <item type='str'>metrika</item>
            <item type='str'>judge</item>
            <item type='str'>mtutils</item>
            <item type='str'>requests</item>
            <item type='str'>urllib3</item>
        </loggers>
    </master>
    <database>
        <name type='str' from_env_or_default='POSTGRES_RECIPE_DBNAME'>cms_test</name>
        <user type='str' from_env_or_default='POSTGRES_RECIPE_USER'>cms</user>
        <password type='str' from_env_or_default='POSTGRES_RECIPE_PASSWORD'>cms</password>
        <host type='str' from_env_or_default='POSTGRES_RECIPE_HOST'>127.0.0.1</host>
        <port type='int' from_env_or_default='POSTGRES_RECIPE_PORT'>5432</port>
        <conn_max_age type='int'>600</conn_max_age>
        <connect_timeout type='int'>2</connect_timeout>
    </database>
    <queue>{{ judge_queue }}</queue>
    <lock>{{ judge_lock }}</lock>
    <frontend>{{ frontend }}</frontend>
    <cluster_api>{{ cluster_api }}</cluster_api>
    <iteration_idle_time>1</iteration_idle_time>
    <decider>
        <acceptance-cluster>
            <acceptance-environment></acceptance-environment>
        </acceptance-cluster>
        <temporary_unreachable_allowdict>
            <acceptance-cluster type='list'>
                <item>acceptance-environment</item>
            </acceptance-cluster>
        </temporary_unreachable_allowdict>
    </decider>
</yandex>
