Source: yandex-mobile-test-taxi-mongos-config
Section: unknown
Priority: extra
Maintainer: Elena Konoreva <aesdana@yandex-team.ru>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: yandex-mobile-test-taxi-mongos-config
Architecture: all
Depends: 
Description: mongos config file for %mobile_test_taxi
 mongos config file for %mobile_test_taxi
