<b>{{ view.tests_status }}</b>
{% if view.has_statistics %}
<table border="3">
<tr><td>Всего тестов:</td><td>{{ view.suites_total }}</td></tr>
<tr><td>Тестов пройдено:</td><td>{{ view.suites_success }}</td></tr>
<tr><td>Тестов провалено:</td><td>{{ view.suites_failed }}</td></tr>
</table>
{% if view.has_report_link %}
<a href="{{ view.report_link }}">{{ view.report_description }}</a>
{% endif %}
{% endif %}
