**!!{{ view.shortcut }}!!** (({{ view.link }} {{ view.type }} #{{ view.id }})): **{{ view.tests_status }}**
{% if view.has_statistics %}
#|
|| Всего тестов: | {{ view.suites_total }} ||
|| Тестов пройдено: | {{ view.suites_success }} ||
|| Тестов провалено: | {{ view.suites_failed }} ||
|#
{% if view.has_report_link %}
(({{ view.report_link }} {{ view.report_description }}))
{% endif %}
{% endif %}
