{
  "startDate": %start_date%,
  "agent": {
    "properties": {
      "property": [
        {
          "name": "teamcity.agent.hostname",
          "value": %agent_name%
        }
      ]
    }
  },
  "statusText": %status_text%,
  "buildType": {
    "id": %build_type_id%,
    "projectName": %project_name%,
    "parameters": {
      "property": [
        {
          "value": %juggler_category%,
          "inherited": true,
          "name": "env.JUGGLER_CATEGORY"
        },
        {
          "value": %ignore_agent_monitoring%,
          "inherited": true,
          "name": "env.IGNORE_AGENT_MONITORING"
        },
        {
          "value": %ignore_juggler_develop%,
          "inherited": true,
          "name": "env.JUGGLER_SKIP_DEVELOP_MONITORING"
        }
      ],
      "count": 21,
      "href": "/app/rest/buildTypes/id:YandexTaxiProjects_Tools_InternalPackages_YandexTaxiDashboardss_Rel/parameters"
    },
    "name": "Release"
  },
  "number": "0.5",
  "status": %build_status%,
  "id": %build_id%,
  "webUrl": %web_url%,
  "branchName": %branch_name%,
  "triggered": %triggered%
}
