Source: yandex-taxi-dmp-test-rtc-etl
Section: python
Priority: extra
Maintainer: Yandex Taxi Analytics Group <taxi-dwh@yandex-team.ru>
Homepage: https://github.yandex-team.ru/taxi-dwh/dwh
Build-Depends: debhelper (>= 9),
    build-essential,
    devscripts,
    equivs,
    yandex-dh-environment,
    libpq-dev,
Standards-Version: 3.9.5


Package: yandex-taxi-dmp-test-rtc-etl
Architecture: all
Description: Yandex Taxi DMP.
Depends: ${shlibs:Depends}, ${misc:Depends},
    yandex-taxi-dmp-deps-py3,
    yandex-taxidwh-logging-conf,
    clickhouse-server-base (= 1.1.54370),
    clickhouse-client (= 1.1.54370),
    config-monrun-taxi-import-blocker,
    msodbcsql (= 13.1.9.2-1) | msodbcsql17 (= 17.5.2.1-1),
    yandex-environment,


Package: yandex-taxi-dmp-test-rtc-etl-cron
Architecture: all
Description: Yandex Taxi DMP. Cron tasks.
Depends: ${shlibs:Depends}, ${misc:Depends},
    yandex-taxi-dmp-test-rtc-etl (=${source:Version}),
