#! /usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export DH_VERBOSE=1

%:
	dh $@ --with environment

override_dh_auto_clean:

override_dh_auto_build:

override_dh_install:
	sed -e "s/{{TAXIDWH_ETL_VERSION}}/$(DEB_VERSION_UPSTREAM)/g"  debian/yandex-taxi-dmp-test-rtc-etl.conf.tmpl > debian/yandex-taxi-dmp-test-rtc-etl.conf
	dh_install

override_dh_auto_install:

override_dh_strip: ;
