Source: yandex-taxi-docker-integration-tests
Section: unknown
Priority: optional
Maintainer: Egor Kartashov <kartvep@yandex-team.ru>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: git@github.yandex-team.ru:taxi/docker-integration-tests.git
Vcs-Browser: https://github.yandex-team.ru/taxi/docker-integration-tests

Package: yandex-taxi-docker-integration-tests
Architecture: all
Depends: ${misc:Depends}
Description: Scripts and docker configurations for taxi integration tests
