Source: config-monrun-mobile-taxi-partners-test-front
Section: unknown
Priority: extra
Maintainer: Elena Konoreva <aesdana@yandex-team.ru>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.2

Package: config-monrun-mobile-taxi-partners-test-front
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: %mobile_taxi_partner_test_front balancing script
