.EfficiencyPipelineAlgorithmsTestForm {
    &__subHeader {
        margin-top: $unit * 5;
        font-size: 20px;
    }

    &__plusButton {
        padding-left: $unit * 2;
    }

    &__groupFields {
        margin-bottom: $unit;
    }

    &__groupFieldsContent {
        border-radius: 6px;
        padding: 0 $unit * 2;
    }

    &__testcaseHeader {
        height: $unit * 8;

        &_pointer {
            cursor: pointer;
        }
    }

    &__testcaseContent {
        padding-bottom: 12px;
    }

    &__entitiesContent {
        padding: $unit * 2 0;
    }

    &__testcaseHeaderAdditional {
        color: $WarmGray300;
    }

    &__iconCol {
        height: 24px;

        &_right {
            transform: rotate(-90 deg);
        }
    }
}
