.PriceConversionTestRuleForm {
    &__backendVariables {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__metadata {
        display: flex;
        padding: 6px;
    }

    &__highlight {
        padding: 10px;
        background-color: #99ffa0;
        &_yellow {
            background-color: #fffa9e;
        }
    }

    &__backendVariablesField {
        min-height: 600px;
    }
}
