<table class="cf__t cf__t_parent">
    <tbody>
    <tr>
        <td><h4>Artifacts</h4></td>
    </tr>
    <tr>
        <td>
            <table class="cf__t">
                <tbody>
                <tr>
                    {% for report_name, report_link in reports.iteritems() %}
                    <td><a href='{{ resource_link }}/{{ report_link }}' target='_blank'>{{ report_name }}</a></td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="margin-top: 18px;">
    <h4 class="css-1jhj3bj-Title__H4-LogLinks__Title">Resources</h4>
    {% for name, link in resources.iteritems() %}
        <a class="css-w6kh0r-LogLinks__LinkCss" href='{{ link }}/'>{{ name }}</a>
    {% endfor %}
</div>


