<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yandex.tv.services.testapp.client">

    <uses-permission android:name="com.yandex.tv.permission.BIND_TEST_SERVICE"/>

    <!-- intentionally not granted -->
    <!-- <uses-permission android:name="com.yandex.tv.permission.BIND_DENIED_SERVICE" /> -->

    <application tools:ignore="AllowBackup,MissingApplicationIcon">
        <activity android:name="com.yandex.tv.services.testapp.TestActivity" android:exported="true" />
    </application>

</manifest>
