{{#> base}}
{{#*inline "title"}}
    FirstPartyMethod page
{{/inline}}
{{#*inline "defHeadCounterScripts"}}
    <script type="text/javascript" src="{{ buildPath }}/e2e/tag.js"></script>
{{/inline}}
{{#*inline "head"}}
<script type="text/javascript">
    var cookie = 'yandexCookie' + Math.random().toString().slice(2);
    document.cookie = 'forceIO=' + cookie + '; domain=.yandex.ru; path=/';
</script>
{{/inline}}
{{#*inline "content"}}
    <h1>FirstPartyMethod page</h1>
{{/inline}}
{{/base}}