{%- import 'base_macros.j2' as base with context -%}
{%- import 'custom_macros.j2' as custom with context -%}

server {
    {{ base.listen(port='443', is_ssl=True, is_default=False) }}
    {{ base.server_name() }}

    {{ base.access_log(file_name='test1') }}
    {{ base.error_log(file_name='test1') }}

    {{ base.ssl() }}

    {{ custom.locations() }}
}
