[Unit]
Description=Passport Logbroker Client Passport Messages

[Service]
Environment=TZ=/etc/localtime
LimitNOFILE=65536
WorkingDirectory=/etc/yandex/logbroker-client
ExecStart=/usr/bin/logbroker-client-logbroker-test
Restart=always
RestartSec=30
KillSignal=SIGINT
Type=simple
StandardError=syslog
NotifyAccess=all
User=www-data

[Install]
WantedBy=multi-user.target
