html, body, .st__showcase, .st__wrapper {
    height: 100%;
}

body {
    background: #f6f6f6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-top: 12rem;
    box-sizing: border-box;
}

.st__header {
    height: 10rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: #f6f6f6;
    box-shadow: 0px 10px 11px -7px #ccc;
}

.st__title {
    font-size: 3em;
    font-weight: 300;
    margin: 1rem 0;
    text-align: center;
}

.st__title em {
    font-weight: 400;
    font-style: normal;
}

.st__title span {
    color: #f00;
}

.st__wrapper {
    display: flex;
    height: 100%;
    max-height: 100%;
    flex-flow: column wrap;
}

/*.st__inactive_bad_video .st__story_bad_video {*/
/*    display: initial;*/
/*}*/

.st__selected-counter {
    font-weight: 400;
}

.st__selected-counter .st__switcher-counter {
    font-size: 1.4em;
    color: #2196F3;
    font-weight: 600;
}

.st__wrapper.st__inactive_type_maps_content .st__story.st__story_type_maps_content, .st__wrapper.st__inactive_type_content .st__story.st__story_type_content {
    display: none;
}

.st__wrapper.st__inactive_type_video .st__story.st__story_type_video, .st__wrapper.st__inactive_type_photo .st__story.st__story_type_photo {
    display: none
}

.st__force_skipped .st__story.st__story_skipped, .st__force_skipped_geo .st__story.st__story_skipped_geo, .st__force_skipped_type .st__story.st__story_skipped_type, .st__force_bad_video .st__story.st__story_bad_video {
    display: initial;
}

.st__inactive_skipped .st__story_skipped, .st__inactive_skipped_geo .st__story_skipped_geo, .st__inactive_skipped_type .st__story_skipped_type {
    display: none;
}

.st__inactive_normal .st__story_normal {
    display: none;
}

.st__story {
    width: calc(100% - 4rem);
    background: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 7px 26px -7px #ccc;
    box-sizing: border-box;
    margin: 1em;
    padding: 1.4rem 1.4rem 0 1.4rem;
    transition: background 0.5s ease-out, padding 0.5s ease-out;
}

.st__hr {
    display:none;
}

.st__story_open + .st__hr {
    display: initial;
    flex-basis: 100%;
}

.st__story_collapsed:hover {
    background: #f4f4f4;
}

.st__story_collapsed.st__hide-helper .st__slides {
    display: none !important;
    height: 0px
}

.st__story-header {
    align-items: stretch;
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 10px 7px -9px #ccc;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    padding: 0.8rem;
}

.st__story-header-text, .st__story-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.st__story-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0px;
}

.st__story-subtitle {
    color: #656060;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 300;
    margin: 0.5rem 0;
}

.st__story-header-text {
    border-right: 1px solid #ccc;
    box-shadow: -4px 2px 8px -7px #ccc;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 3rem;
}

.st__story-header-info {
    flex-basis: 70%;
}

.st__info-block {
    padding: 0.5rem 1rem;
    word-break: break-all;
}

.st__info-block em {
    color: #656060;
    font-style: italic;
    font-weight: 300;
}

.st__info-link {
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
}

.st__story-preview {
    box-shadow: 6px 4px 8px -7px #ccc;
    max-width: 18%;
    align-self: center;
}

.st__slides {
    position: absolute;
    width: 100%;
    left: 0;
    height: auto;
    column-gap: 1rem;
    row-gap: 1rem;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: space-around;
    margin-block-end: 0;
    margin-block-start: 0;
    overflow: hidden;
    padding: 1rem 0rem;
    padding-inline-start: 0;
}

.st__story_collapsed .st__slides {
    box-shadow: 0 0 0 0 transparent;
    box-sizing: border-box;
    height: 0rem;
    padding: 0;
}

.st__slides-show {
    border-radius: 15px;
    height: 1rem;
    color: #080808;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0.2rem 0 0.6rem;
    text-align: center;
}

.st__slides-show span {
    display: none;
    pointer-events: none;
    touch-action: none;
}

.st__story_collapsed .st__slides-show_open, .st__story_open .st__slides-show_collapse {
    display: inline-block;
}

.st__slide {
    border-radius: 2rem;
    background:#fff;
    box-shadow: 0 0 9px -4px rgb(189, 189, 189);
    list-style: none;
    padding-bottom: 20px;
}

.st__slide-img {
    width: 100%;
}

.st__slide-info {
    box-sizing: border-box;
    padding: 1rem;
}

.st__slide-type, .st__slide-id, .st__slide-button-text {
    color: #000;
    font-size: 1.2em;
    white-space: normal;
    word-break: break-all;
}

.st__slide-type:before, .st__slide-id:before, .st__slide-button-text:before, .st__slide-button-url:before {
    color: #656060;
    content: 'Тип слайда:';
    font-style: italic;
    font-weight: 300;
}

.st__slide-id:before {
    content: 'ID слайда:';
}

.st__slide-button {
    box-sizing: border-box;
    padding: 0rem 1rem;
}

.st__slide-button-text {
    margin-top: 1rem;
}

.st__slide-button-text:before {
    content: 'Текст кнопки:';
    display: block;
}

.st__slide-button-url:before {
    content: 'Ссылка:';
    display: block;
}

.st__slide-button-url {
    font-size: 1.2em;
    margin-top: 1rem;
}

.st__slide-button-url a {
    color: #000;
    word-break: break-all;
}

.st__controlls {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
}

.st__controlls a {
    border-bottom: 1px solid #ccc;
    color: #656060;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 300;
    margin: 1rem;
}

.st__control_sep {
    display: inline-block;
}

.st__switcher {
    color: coral !important;
}

.st__switcher_alert {
    color: darkred !important;
}

.st__switcher.st__switcher_active {
    color: green !important;
}

.st__switcher-counter {
    display: none;
}

.st__switcher-counter_active {
    display: inline-block;
}

.st__switcher-counter:before {
    content: '(';
}

.st__switcher-counter:after {
    content: ')';
}

.st__phone-mask .st__phone-screen {
    display: block;
    margin: 0 auto 23%;
    width: 88%;
}

.st__phone-content {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.st__phone-guidelines {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.st__phone-guidelines .st__guidelines-lines {
    border: 1px solid #f60707;
    display: flex;
    position: absolute;
    top: 12.8%;
    right: 3.75%;
    left: 3.75%;
    bottom: 3.75%;
    box-shadow: 0 0 0.4rem 0.01rem #f60707;
}

.st__phone_none .st__phone-guidelines, .st__inactive_guidelines .st__phone-guidelines {
    display:none;
}

/* Центрирование контентных Stories с Фото*/
.st__story_type_content.st__story_type_photo .st__phone-content {
    align-items: center;
}

.st__story_type_content.st__story_type_photo .st__phone-mask .st__phone-content .st__phone-screen {
    margin: 0 auto;
}

.st__phone-inner {
    position: relative;
    height: 0;
    border: none;
}

.st__phone_none .st__phone-inner {
    height: auto;
}

.st__phone_none .st__phone-inner {
    height: auto;
}

.st__phone_none .st__phone-content {
    position: static;
}

.st__phone_none .st__phone-mask .st__phone-screen {
    display: block;
    margin: 0;
    width: 100%;
}

.st__phone-mask .st__phone-content:after {
    display: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('https://yastatic.net/s3/home/obi-wan__test/stories_showcase/iphone11.png') center top no-repeat;
    background-size: cover;
}

/* iPhone 11 */
.st__phone_iphone11 .st__phone-mask .st__phone-inner {
    padding-top: 200%;
}

.st__phone_iphone11 .st__phone-mask .st__phone-content:after {
    display: block;
    background-image: url('https://yastatic.net/s3/home/obi-wan__test/stories_showcase/iphone11.png');
}

.st__phone_iphone11 .st__phone-mask .st__phone-screen {
    margin: 0 auto 23%;
    width: 88%;
}

.st__phone_iphone11 .st__phone-guidelines {
    height: 76%;
    width: 88%;
    top: 12%;

}

.st__phone_iphone11 .st__phone-guidelines .st__guidelines-lines {
    top: 7.7%;
    right: 4.2%;
    left: 4.2%;
    bottom: 4.2%;
}


/* iPhone 8 */
.st__phone_iphone8 .st__phone-mask .st__phone-content:after {
    display: block;
    background-image: url('https://yastatic.net/s3/home/obi-wan__test/stories_showcase/iphone8.png');
}

.st__phone_iphone8 .st__phone-mask .st__phone-inner {
    padding-top: 200%;
}

.st__phone_iphone8 .st__phone-mask .st__phone-screen {
    margin: 0 auto 38%;
    width: 84%;
}

.st__phone_iphone8 .st__phone-guidelines {
    height: 62%;
    width: 84%;
    top: 19%;
}

.st__phone_iphone8 .st__phone-guidelines .st__guidelines-lines {
    top: 10%;
    right: 5.2%;
    left: 5.2%;
    bottom: 5.2%;
}

/* iPhone 5 */
.st__phone_iphone5 .st__phone-mask .st__phone-content:after {
    display: block;
    background-image: url('https://yastatic.net/s3/home/obi-wan__test/stories_showcase/iphone5.png');
}

.st__phone_iphone5 .st__phone-mask .st__phone-inner {
    padding-top: 200%;
}

.st__phone_iphone5 .st__phone-mask .st__phone-screen {
    margin: 0 auto 40%;
    width: 83%;
}

.st__phone_iphone5 .st__phone-guidelines {
    height: 58%;
    width: 82%;
    top: 21%;
}

.st__phone_iphone5 .st__phone-guidelines .st__guidelines-lines {
    top: 11.5%;
    right: 4.5%;
    left: 4.5%;
    bottom: 4.5%;
}



@media screen and (min-width: 1400px) {
    body {
        font-size: 14px;
    }

    .st__story {
        margin: 1rem;
        width: 50%;
    }

    .st__slides {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .st__slides-show {
        font-size: 1em;
    }
}

@media screen and (min-width:1600px) {
    .st__story {
        width: 40%;
    }
}

@media screen and (min-width: 2000px) {
    .st__story {
        width: 33%;
    }
}

