{{#> base}}
    {{#*inline "defHeadCounterScripts"}}
        <script type="text/javascript" src="{{ buildPath }}/e2e/tag.js"></script>
    {{/inline}}
    {{#*inline "content"}}
        <div>
            This is iframe for webvisor
            <script>
                setTimeout(() => {
                    new Ya.Metrika2({
                        childIframe: true,
                        trustedDomains: ['yandex.ru'],
                        webvisor: true,
                    });
                }, 1000);
            </script>
        </div>
    {{/inline}}
{{/base}}
