{{#> base}}
    {{#*inline "defHeadCounterScripts"}}
        <script type="text/javascript" src="{{ buildPath }}/e2e/tag.js"></script>
    {{/inline}}
    {{#*inline "head"}}
        <script type="text/javascript">
            setForceSessionCookie();
        </script>
    {{/inline}}
    {{#*inline "content"}}
        <div>
            <div id="some-page">
                <h1>My title</h1>
                <div>
                    <iframe width="100" height="100" id="blank" src="about:blank"></iframe>
                    <iframe width="100" height="100" id="same" src="/test/webvisor2/webvisor2-iframe.hbs"></iframe>
                    <iframe width="100" height="100" id="trusted" src="https://example.com/test/webvisor2/webvisor2-iframe.hbs"></iframe>
                </div>
            </div>
        </div>
    {{/inline}}
{{/base}}
