.EfficiencyPipelineAlgorithmsPipelineTests {
    &__container {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    }

    &__subheader {
        color: $WarmGray300;
        font-size: $font_size_s;
    }

    &__title {
        font-size: $font_size_l;
    }

    &__subname {
        color: $WarmGray300;
        font-style: italic;
    }

    &__error {
        color: $RedToxic;
    }
}
