{{#> base}}
    {{#*inline "defHeadCounterScripts"}}
        <script type="text/javascript" src="{{ buildPath }}/e2e/prod_tag.js"></script>
    {{/inline}}
    {{#*inline "content"}}
        <script>
            window.createContentChunk = function () {
                var container = document.createElement('ul');
                var text = 'Some long text';
                for (var i=0; i<=10000; i++) {
                    var element = document.createElement('li');
                    element.setAttribute('attr1', '123');
                    element.setAttribute('attr2', '2222');
                    element.textContent = text;
                    container.appendChild(element);
                }
                document.body.appendChild(container);
            }
            window.createContentChunk();
        </script>
        <h1>Chunk page</h1>
    {{/inline}}
{{/base}}
