.ScoringScriptsTests {
    &__tabs {
        .amber-tabs__nav {
            flex-wrap: wrap;
        }
    }

    &__jsonCol {
        width: 50%;
    }

    &__json {
        width: 100%;
    }

    &__testRow {
        margin-top: 2 * $unit;
    }

    &__nameWrapper {
        display: flex;
        justify-content: space-between;
    }

    &__commonErrors {
        color: $RedToxic;
    }

    &__label {
        font-size: $font_size_s;
        line-height: 14px;
        margin-bottom: 3px;
        color: $grey40;
    }

    &__name {
        flex-grow: 1;
    }

    &__content {
        margin: 4px 0;

        &_error {
            outline: 2px solid $RedToxic;
        }
    }

    &__tab {
        &_success {
            color: $GreenToxic;
        }

        &_error {
            color: $RedToxic;
        }
    }

    &__errorLine {
        position: absolute;
        z-index: 3; // Higher than default for react-ace active line
        background-color: #fed8d5;
    }

    &__totalError {
        color: $RedToxic;
    }
}
