{{#> base}}
{{#*inline "title"}}
    yandex page title
{{/inline}}
{{#*inline "defHeadCounterScripts"}}
    <script type="text/javascript" src="{{ buildPath }}/e2e/ua_informer.js"></script>
{{/inline}}
{{#*inline "head"}}
<script type="text/javascript">
    var yaCookie = 'yandexCookie' + Math.random().toString().slice(2);
    var matchInfo = location.search.match(/c=([^&]+)/);
    if (matchInfo) {
        yaCookie = matchInfo[1];
    }
    var domain = 'yandex.ru';
    if (location.host.match(/webvisor/)) {
        domain = 'webvisor.org';
    }
    setForceSessionCookie(domain, '/', yaCookie);
</script>
{{/inline}}

{{#*inline "defBodyScripts"}}
        <script type="text/javascript">
            window._socket = io('{{ protocol }}://{{ host }}{{ portInfo }}?sessionid=' + yaCookie);
            window.dispatchEvent(new Event('socket'));
            document.cookie = 'gdpr=0';
        </script>
{{/inline}}

{{#*inline "content"}}
    <div class="content">ua page</div>
    <a id="next" onclick="this.href += '?c='+ yaCookie" href="https://yandex.ru/test/altDomain/altDomain.hbs">next page</a>
{{/inline}}
{{/base}}