<!DOCTYPE HTML><html lang='ru'>
<meta charset="utf-8" />
<head>
<script type="text/javascript" src="/view/js/jquery-latest.js"></script>
<script type="text/javascript" src="/view/js/jquery-ui.js"></script>
<title>Activate.sh</title>

<script type="text/javascript">

function activate_sh_done(data, textStatus, xhr) {
    var response_data = xhr.status == 200 ? data : data.responseJSON;
    jQuery('#result').html('');
    var response = jQuery('<pre/>').text(JSON.stringify(response_data, null, 2));
    response.appendTo('#result');
}

jQuery(document).ready(function() {
    jQuery('#send').click(function() {
        jQuery('#result').html('Sending...');
        jQuery.ajax({
            type : "POST",
            url  : "[% url %]",
        }).done(activate_sh_done).fail(activate_sh_done);
    });
});
</script>

</head>
<body>

<h3>Activate events at smoothie</h3>

<button id="send">Activate!</button>
<br>
<h3>Result:</h3>
<div id="result">
</div>

</body>
</html>
