<!DOCTYPE HTML><html lang='ru'>
<meta charset="utf-8" />
<head><title>Test helper</title></head>

<h3>List of helper handlers</h3>

<ol>

[% FOREACH i = menu %]
<li>  <a href="[% i.path %]">[% i.name %]</a> - [% i.desc %] </li>
[% END %]

</ol>


</body>
</html>
