Source: yandex-taxi-secdist-repo-conf-testing
Section: devel
Priority: optional
Maintainer: Nikolay Kraev <nikkraev@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
#Vcs-Git: git://git.debian.org/collab-maint/yandex-taxi-secdist-repo-conf-testing.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/yandex-taxi-secdist-repo-conf-testing.git;a=summary

Package: yandex-taxi-secdist-repo-conf-testing
Architecture: all
Depends: ${misc:Depends}, secdist-keyring
Description: add yandex taxi security repo
 add yandex taxi security repo
