{{#> base}}
    {{#*inline "title"}}
        Webvisor page title
    {{/inline}}
    {{#*inline "head"}}
    {{/inline}}
    {{#*inline "content"}}
        <div id="with-null-content"></div>
        <div id="with-empty-content"></div>
        <div id="with-empty-attribute" data-empty="">This tag contains an empty attribute</div>
        <div id="with-null-attribute" data-empty="">This tag will contain an attribute with null char</div>
    {{/inline}}
{{/base}}
