{{#> base}}
    {{#*inline "title"}}
        Webvisor page title
    {{/inline}}
    {{#*inline "head"}}
    {{/inline}}
    {{#*inline "content"}}
        <div class="title">eof event capture</div>
    {{/inline}}
{{/base}}
