{{#> base}}
    {{#*inline "content"}}
        <div id="container">
            <h1>Focus page</h1>
            <input id="firstFocus"/>
            <input id="secondFocus"/>
        </div>
    {{/inline}}
{{/base}}
