{{#> base}}
    {{#*inline "content"}}
        <div id="container">
            <h1>Inputs page</h1>
            <input id="normalInput"/>
            <input id="progInput"/>
            <input id="password" type="password"/>
            <input id="card" name="credit-card"/>
            <label><input id="checkbox" type="checkbox" checked="checked"/>checkbox</label>
            <button id="button">programmically change input</button>
            <script>
                const checkbox = document.querySelector('#checkbox');
                const progInput = document.querySelector('#progInput');
                document.querySelector('#button').addEventListener('click', () => {
                    setTimeout(() => {
                        progInput.value = '123';
                        checkbox.checked = true;
                    }, 100);
                });
            </script>
        </div>
    {{/inline}}
{{/base}}
