{{#> base}}
    {{#*inline "content"}}
        <div id="container">
            <div id="hoverTarget">Hover</div>
            <div id="emptySpace"></div>
            <div id="clickTarget">Click</div>
            <h1>Mouse page</h1>
            <style>
                #hoverTarget {
                    margin-top: 200px;
                    margin-left: 50px;
                }
                #emptySpace {
                    height: 300px;
                }
                #clickTarget {
                    margin-left: 200px;
                }
            </style>
        </div>
    {{/inline}}
{{/base}}
