{{#> base}}
    {{#*inline "content"}}
        <div id="container">
            <h1>Scroll page</h1>
            <textarea id="scrollingInput"></textarea>
            <style>
                #scrollingInput {
                    overflow-y: scroll;
                    height: 100px;
                    resize: none;
                }
            </style>
            <script>
                const container = document.querySelector('#container');
                const input = document.querySelector('#scrollingInput');
                for (let i = 0; i < 300; i++) {
                    const someDiv = document.createElement('div');
                    someDiv.innerText = 'something';
                    container.insertBefore(someDiv, input);
                    input.value += 'someWord \n';
                }
            </script>
        </div>
    {{/inline}}
{{/base}}
