{{#> base}}
    {{#*inline "content"}}
        <div>
            <img id="image" src="/server/src/app/firstImg.png">
            <script>
                const image = document.querySelector('#image');

                image.addEventListener('click', () => {
                    image.src = '/server/src/app/secondImg.png?slow=2000';
                });
            </script>
        </div>
    {{/inline}}
{{/base}}
