{{#> base}}
    {{#*inline "content"}}
        <div>
            <div id="some-page">
                <h1>My title</h1>
                <button id="button">Press me</button>
                <input id="input" type="text"/>
                <input id="password" type="password"/>
                <div id="container">
                    <div id="change">
                        this will be changed
                    </div>
                    <div id="remove">
                        thi will be removed
                    </div>
                </div>
            </div>
            <script>
                document.querySelector('#button').onclick = function () {
                    const container = document.querySelector('#container');
                    const input = document.querySelector('#input');
                    const nodeToChange = document.querySelector('#change');
                    const nodeToRemove = document.querySelector('#remove');
                    const nodeToInsert = document.createElement('div');
                    const password = document.querySelector('#password');
                    nodeToInsert.setAttribute('id', 'added-node');

                    container.removeChild(nodeToRemove);
                    container.appendChild(nodeToInsert);
                    nodeToChange.setAttribute('attr1', '123');
                    nodeToChange.firstChild.textContent = 'new text content';
                    input.value = '666';
                    password.value = '666';
                    password.setAttribute('value', '666');
                };
            </script>
        </div>
    {{/inline}}
{{/base}}
