{{#> base}}
    {{#*inline "title"}}
        Keystroke captor page title
    {{/inline}}
    {{#*inline "content"}}
        <h1>Keystroke captor test</h1>
        <input id="ignored" type="password" name="Адрес" class="ym-disable-keys"/>
        <input id="input" />
        <button id="button">Кнопка</button>
    {{/inline}}
{{/base}}
