{{#> base}}
    {{#*inline "content"}}
        <h1>Chunk page</h1>
        <h3>Chunk page</h3>
        <script>
            document.write('<ul>');
            var text = new Array(1000).join('Some long text');
            for (var i=0; i<=100; i++) {
                document.write('<li>' + text + '</li>');
            }
            document.write('</ul>');
        </script>
    {{/inline}}
{{/base}}
