{{#> base}}
    {{#*inline "title"}}
       Basket page
    {{/inline}}
    {{#*inline "content"}}
        <dl>
            <dt>Валюта и цена</dt>
            <dd id="currencyWithTotal">
                <span id="currency">1235,23</span>
                <span id="total">₽</span>
            </dd>

            <dt>Только цена</dt>
            <dd id="onlyCurrency">1235,23</dd>

            <dt>Только валюта</dt>
            <dd id="onlyTotal">₽</dd>

            <dt>Список товаров</dt>
            <dd id="goods">
                <div class="price">12</div>
                <div class="qty">1</div>
                <div class="title">Сапог</div>
            </dd>
        </dl>
    {{/inline}}
{{/base}}


