#TextWadOptions {
#    KeyInvOptions {
#        PortionConfig {
#            PortionTupleName : "keyinv"
#            FormatTupleName: "keyinvFormat"
#            DefaultFormat: ""
#        }
#        MaxSubPortions: 200
#        LevelToStoreOnDisk: 2
#        UseInternalMap: false
#    }
#    WadOptions {
#        WadAndOldMode: true
#    }
#    UseSeparateProcessors: true
#    RenamedKeyInvCompatibilityMode: true
#    DisableKeyInv: true
#    DisableKeyInvWad: true
#}
#HnswOptions {
#    MaxNeighbors: 32
#    BatchSize: 1000
#    UpperLevelBatchSize: 40000
#    SearchNeighborhoodSize: 300
#    NumExactCandidates: 100
#    NumThreads: 3
#    LevelSizeDecay: 16
#    DssmEmbeddingTupleName: "DssmEmbedding"
#    IndexFilePath: "indexhnswldtb"
#}
#ArcOptions {
#  TupleName: "arc"
#  PatchTextArcHeaders: true
#  BeautyUrlTupleName: "CasedUrl"
#}
#LinkKeyInvOptions {
#  PortionConfig {
#        PortionTupleName: "refkeyinv"
#        FormatTupleName: "refkeyinvFormat"
#        DefaultFormat: "zlib+oki1"
#        WordWeightTupleName: "refaww"
#  }
#  WordWeightTupleName: "refaww"
#  MaxSubPortions: 200
#  LevelToStoreOnDisk: 2
#  UseInternalMap: false
#}
#LinkArcOptions {
#  TupleName: "refarc"
#  AllowEmptyArchives: true
#}
#LinkAnnOptions {
#    FileNameBase: "indexlinkann"
#    KeyInvOptions {
#        PortionConfig {
#            PortionTupleName: "LinkAnnKeyInv"
##            FormatTupleName: "LinkAnnKeyInvFormat"
#            DefaultFormat: "zlib+oki1"
#        }
#        MaxSubPortions: 200
#        LevelToStoreOnDisk: 2
#        UseInternalMap: false
#    }
#    WadKeyInvOptions {
#        WadAndOldMode: false
#    }
#    Array4DOptions {
#        DataTupleName: "LinkAnnRow"
#        WadMode: true
#    }
#    SentenceLengthsOptions {
#        SentenceLengthsTupleNames: "LinkAnnSent"
#        WadMode: true
#    }
#}
#LinkAnnArcOptions {
#    TupleName: "LinkAnnArc"
#    AllowEmptyArchives: true
#    PatchTextArcHeaders: false
#}
#SentenceLengthsOptions {
#    SentenceLengthsTupleName: "SentenceLengths"
#    WadMode: true
#}
#ErfOptions {
#  ErfTupleName: "KiwiErf2Features"
#  ErfTupleName: "AntispamHostErf2Features"
#  ErfTupleName: "AntispamErf2Features"
#  ErfTupleName: "DaterErf2Features"
#  ErfTupleName: "TextErf2Features"
#  ErfTupleName: "UrlDataErf2Features"
#  ErfTupleName: "UserDataErf2Features"
#  ErfTupleName: "lerf2"
#  ErfTupleName: "RemappedDupsFeatures"
#  ErfTupleName: "RemappedCatalogErf2Features"
#  ErfTupleName: "AggregatedKiwiErf2Features"
#  ErfTupleName: "NastyImageErf2Features"
#  ErfTupleName: "RemappedMainMirrorUrlFeatures"
#  UseNewFormat: true
#}
#HostErfOptions {
#    HostErfTupleName:     "HostErfInfo"
#    RegHostErfTupleName:  ""
#    UseNewFormatForRegHerf: true
#    UseNewFormatForHerf: false
#}
#InvUrlHashOptions {
#    IsProtoFormat: true
#    InvUrlHashTupleName: "UrlDataErf2Features"
#}
#UrlSeqOptions {
#    MainRobotUrlTupleName: "MainRobotUrl"
#}
#TitleSeqOptions {
#    TitleTupleName: "Title"
#}
#XMapOptions {
#    XMapTupleName: "refxmap"
#}
#DMapOptions {
#    DMapTupleName: "refdmap"
#}
#RefLerfOptions {
#    RefLerfTupleName: "reflerf"
#}
#FrqOptions {
#    MaxFreqTupleName: "MaxFreq"
#}
#NavSrcOptions {
#    MainRobotUrlTupleName: "MainRobotUrl"
#    NavSourceTupleName: "NavInfo"
#}
#NavSrcNormOptions {
#    MainRobotUrlTupleName: "MainRobotUrl"
#    NavSourceTupleName: "NavInfo"
#}
#GroupAttrOptions {
#  GroupAttrTupleName: "GroupAttrs"
#}
#AnnotationsOptions {
#  KeyInvOptions {
#    MaxSubPortions: 200
#    LevelToStoreOnDisk: 2
#    PortionConfig {
#      PortionTupleName: "AnnKeyInv"
#      FormatTupleName: "AnnKeyInvFormat"
#    }
#  }
#  Array4DOptions {
#    DataTupleName: "AnnArray4DPortions"
#    WadMode: true
#  }
#  WadKeyInvOptions {
#  }
#}
#FactorAnnOptions {
#    KeyInvOptions {
#        MaxSubPortions: 200
#        LevelToStoreOnDisk: 2
#        PortionConfig {
#            PortionTupleName: "FactorAnnKeyInv"
#        }
#    }
#    Array4DOptions {
#        DataTupleName: "FactorAnnArray4DPortions"
#        WadMode: true
#    }
#    FileNameBase: "indexfactorann"
#    SentenceLengthsOptions {
#        SentenceLengthsTupleNames: "FactorAnnSent"
#        WadMode: true
#    }
#    WadKeyInvOptions {
#    }
#}
#
#UrlDocOptions {
#    MainRobotUrlTupleName: "MainRobotUrl"
#}
#OmniRefOptions {
#    RefXMapTupleName: "refxmap"
#    RefArcTupleName: "refarc"
#    MaxDocRefs: 10
#}
#OmniDocOptions {
#    MainRobotUrlTupleName: "MainRobotUrl"
#    TitleTupleName: "TitleNormalizedUTF8"
#    DssmEmbeddingTupleName: "DssmEmbedding"
#    AnnRegStatsTupleName: "DssmAnnRegCompressedStats"
#    DssmAggregatedAnnRegEmbeddingTupleName: "DssmAggregatedAnnRegCompressedEmbedding"
#    DssmAnnCtrCompressedEmbeddingTupleName: "DssmAnnCtrCompressedEmbedding"
#    DssmAnnXfDtShowWeightCompressedEmbedding1TupleName: "DssmAnnXfDtShowWeightCompressedEmbedding1"
#    DssmAnnXfDtShowWeightCompressedEmbedding2TupleName: "DssmAnnXfDtShowWeightCompressedEmbedding2"
#    DssmAnnXfDtShowWeightCompressedEmbedding3TupleName: "DssmAnnXfDtShowWeightCompressedEmbedding3"
#    DssmAnnXfDtShowWeightCompressedEmbedding4TupleName: "DssmAnnXfDtShowWeightCompressedEmbedding4"
#    DssmAnnXfDtShowWeightCompressedEmbedding5TupleName: "DssmAnnXfDtShowWeightCompressedEmbedding5"
#    DssmAnnXfDtShowOneCompressedEmbeddingTupleName: "DssmAnnXfDtShowOneCompressedEmbedding"
#    DssmAnnXfDtShowOneSeCompressedEmbeddingTupleName: "DssmAnnXfDtShowOneSeCompressedEmbedding"
#    DssmAnnXfDtShowOneSeAmSsHardCompressedEmbeddingTupleName: "DssmAnnXfDtShowOneSeAmSsHardCompressedEmbedding"
#    DssmMainContentKeywordsEmbeddingTupleName: "DssmMainContentKeywordsEmbedding"
#    PoliteMode: true
#    UseNewFormat: true
#}
#RegErfOptions {
#    RegErfTupleName: "RegErf"
#    UseNewFormat: true
#}
StaticDataOptions {
    RecipeConfig {
      Files {
          Name: "by.query"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/by.query"
      }
      Files {
          Name: "kz.query"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/kz.query"
      }
      Files {
          Name: "porno.query"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/porno.query"
      }
      Files {
          Name: "ua.query"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/ua.query"
      }
      Files {
          Name: "cat.c2s"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/cat.c2s"
      }
      Files {
          Name: "geo.c2s"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geo.c2s"
      }
      Files {
          Name: "cat.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/cat.c2p"
      }
      Files {
          Name: "dmoz.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/dmoz.c2p"
      }
      Files {
          Name: "genre.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/genre.c2p"
      }
      Files {
          Name: "geo.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geo.c2p"
      }
      Files {
          Name: "onl.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/onl.c2p"
      }
      Files {
          Name: "sect.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/sect.c2p"
      }
      Files {
          Name: "src.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/src.c2p"
      }
      Files {
          Name: "xxx.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/xxx.c2p"
      }
      Files {
          Name: "geo.c2CountryCity"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geo.c2CountryCity"
      }
      Files {
          Name: "geoBase.c2CountryRegion"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geoBase.c2CountryRegion"
      }
      Files {
          Name: "geoa.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geoa.c2p"
      }
      Files {
          Name: "stopword.lst"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/stopword.lst"
      }
      Files {
          Name: "geo.stat"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geo.stat"
      }
      Files {
          Name: "nn_models_meta.json"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/nn_models_meta.json"
      }
#
#     The models below are not copied to shard - we read it directly from the resource
#     //TODO(yrum, 20190304): do this to all models (frequent_terms.proto, etc)
#
#      Files {
#          Name: "panther_dwelltime_dssm_model.nn_applier"
#          CopyToShard: true
#          LocalPath: "${RES_PATH}/oxy_data/panther_dwelltime_dssm_model.nn_applier"
#      }
#      Files {
#          Name: "doc_meta.pb"
#          CopyToShard: true
#          LocalPath: "${RES_PATH}/oxy_data/doc_meta.pb"
#      }
    }
}
StampTagOptions {
    Timestamp: 1
    ShardId {
        Tier: "Quick"
    }
    LemmatizedLanguages: "rus,ukr,eng,tur"
}
ShardConfOptions {
    ShardName: "refresh-test-shard"
}
RTYProcessorOptions {
#    PantherOptions {
#        MapperConfig {
#            Input {
#                TextPortionTupleName: "keyinv"
#                TextFormatTupleName: "keyinvFormat"
#                AnnPortionTupleName: "AnnKeyInv"
#                AnnFormatTupleName: "AnnKeyInvFormat"
#            }
#            Output {
#                PantherCountsPortionTupleName: "PantherCountsKeyInv"
#                PantherCountsFormatTupleName: "PantherCountsFormat"
#            }
#            Version: "0.1"
#            IndexingMode: "full"
#        }
#        KeyInvOptions {
#            PortionConfig {
#                PortionTupleName: "PantherCountsKeyInv"
#                FormatTupleName: "PantherCountsFormat"
#            }
#            MaxSubPortions: 200
#            LevelToStoreOnDisk: 2
#            UseInternalMap: false
#        }
#        CountsToPantherOptions {
#            MinUnigramRelevance: 0.001
#            MinBigramRelevance: 0.005
#            RelevanceMultiplier: 100
#            MaxUnigramIdf: 5000
#            TopKishkaLength: 32
#            UseYndexPanther: false
#            CheckPantherFiles: false
#        }
#    }
}
