Source: yandex-environment-taxi-partners-test
Section: unknown
Priority: extra
Maintainer: Elena Konoreva <aesdana@yandex-team.ru>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: yandex-environment-taxi-partners-test
Architecture: all
Depends: 
Description: environment type for taxi partners-test
 environment type for taxi partners-test
