{{#> base}}
{{#*inline "title"}}
    phone hide title
{{/inline}}
{{#*inline "defHeadCounterScripts"}}
    <script type="text/javascript" src="{{ buildPath }}/e2e/tag.js"></script>
{{/inline}}
{{#*inline "head"}}
<script type="text/javascript">
    setForceSessionCookie();
</script>
{{/inline}}
{{#*inline "content"}}
    <div>
        <h1>phone hide</h1>
        <a class="phone1" href="tel:+7 (222) 333-44-55">+7 (222) 333-44-55</a>

        <a class="phone2" href="tel:+8 (333) 444-55-66" id="phone2">+8 (333) 444-55-66</a>
    </div>
{{/inline}}
{{/base}}
