{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:cypress/recommended"
  ],
  "rules": {
    "cypress/no-unnecessary-waiting": "warn",
    "comma-dangle": 0
  },
  "plugins": [
    "prettier"
  ]
}
