{{#> base}}
    {{#*inline "title"}}
        Page title
    {{/inline}}
    {{#*inline "defBodyScripts"}}
        <script type="text/javascript">
            window._socket = io('{{ protocol }}://{{ host }}{{ portInfo }}?bufferUntilReady=1');
            window._socket.on('connect', function () {
                window.dispatchEvent(new Event('socket'));
                window.document.cookie = 'gdpr=0';
                window.localStorage.setItem('_ym_synced', '{"SYNCED_ADM":9999999999}')
                new Ya.Metrika2({id: 26302566});
            });
        </script>
    {{/inline}}
    {{#*inline "content"}}
        Page
        <div class="helpme"></div>
    {{/inline}}
{{/base}}
