<!DOCTYPE html>
<html charset="UTF-8">
<head>
    <title>Prerender page title</title>
    <link rel="prerender" href="{{ baseUrl }}/page.hbs"/>
</head>
<body>
Prerender page
<a href="{{ baseUrl }}/page.hbs" target="_blank" class="nextPage">open page</a>
</body>
</html>

