{{#> base}}
    {{#*inline "title"}}
        yandex page title
    {{/inline}}
    {{#* inline 'defHeadCounterScripts'}}
    {{/inline}}
    {{#*inline "content"}}
    <script type="text/javascript">
        window.ym = function () {
            window.ym.a.push(arguments);
        };
        window.ym.a = [];
        // Отложенная загрузка счётчика
        window.loadTagJs = function (debugBuild) {
            if (debugBuild) {
                document.cookie = '_ym_debug_build=' + debugBuild
            }
            var elementScript = document.createElement('script');
            elementScript.src = "{{ buildPath }}/e2e/tag.js";
            document.head.appendChild(elementScript);
            return elementScript;
        };
    </script>
        <div class="content">
            Insert Debug Script page
        </div>
    {{/inline}}
{{/base}}
