.testing-aggregation {
  .main-row {
    padding: 0.25rem;
    box-sizing: border-box;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--border);
  }

  .aggregated-row {
    display: flex;

    >*:nth-child(1) {
      width: 200px;
    }

    >*:not(:first-child) {
      text-align: center;
      width: 100%;
      max-width: 90px;
    }
  }

  .topic-list {
    >*:nth-child(odd):not(:last-child) {
      background-color: var(--background-zone);
    }
  }
}