Source: yandex-passport-frontend
Section: yandex
Priority: optional
Build-Depends: cdbs,
               git,
               yandex-dh-nodeubic (>= 2.14),
               debhelper (>= 7.4),
               conductor-utils,
               nodejs-6,
               git,
               libipreg1-nodejs (>=1.0-38),
               libuatraits (>=1.1.31-1),
               uatraits-nodejs (>=1.2.2-6),
               libgeobase5-nodejs (= 5.0-46),
               libyandex-lang-detect (>=1.6-48),
               yandex-lang-detect-nodejs (>=1.6-48),
               uatraits-data,
               libfontconfig1,
               fontconfig,
               libfontconfig1-dev,
               libfreetype6-dev
Maintainer: Evgeny Yakushevsky <yakushevsky@yandex-team.ru>

Package: yandex-passport-frontend
Section: yandex
Priority: optional
Architecture: all
Depends: yandex-environment,
         ubic,
         nodejs-6,
         libipreg1-nodejs (>=1.0-38),
         libuatraits (>=1.1.31-1),
         uatraits-nodejs (>=1.2.2-6),
         libgeobase5-nodejs (>= 5.0-46),
         libyandex-lang-detect (>=1.6-48),
         yandex-lang-detect-nodejs (>=1.6-48)
Description: front-end for python-passport
