Source: releaser-test-package
Priority: extra
Maintainer: Ilya Khomutov <robert@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: releaser-test-package
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simpe releaser test package
