{{#> base}}
    {{#*inline "title"}}
        Click tracking page title
    {{/inline}}
    {{#*inline "content"}}
        Click tracking page

        <!-- Тег button -->
        <div>
            <span>
                <button id="button_id" name="button_name">кнопка button</button>
            </span>
        </div>

        <!-- Тег input[type="button"] -->
        <input id="input_button_id" name="input_button_name" type="button" value="кнопка input-button"/>

        <!-- Тег input[type="submit"] -->
        <input id="input_submit_id" name="input_submit_name" type="submit" value="кнопка input-submit"/>

        <!-- Тег input[type="reset"] -->
        <input id="input_reset_id" name="input_reset_name" type="reset" value="кнопка input-reset"/>

        <!-- Тег input[type="file"] -->
        <input id="input_file_id" name="input_file_name" type="file" value="кнопка input-file"/>

        <!-- Тег a -->
        <a id="a_id" href="/testHref" title="кнопка a - тайтл">кнопка a</a>

        <!-- Тeг div -->
        <div id="div_id" class="button">Кнопка div</div>

        <!-- Пересечение тегов -->
        <a id="a_id_outer">
            <button id="button_inner_id">
                <span>Кнопка вложенная</span>
            </button>
        </a>

        <!-- Контент засчитывать только у ближайшей кнопки, если снаружи нет текста -->
        <a id="a_id_outer_2">
            <div id="a_id_outer_2_div" style="width: 100px; height: 100px;"></div>
            <button id="button_inner_id_2">Текст</button>
        </a>

        <!-- Контент засчитывать, если снаружи есть дополнительный текст -->
        <a id="a_id_outer_3">
            <span id="a_id_outer_3_span">Текст:</span>
            <button id="button_inner_id_3">Текст</button>
        </a>

        <!-- Учитывать только div, если внутри него нет других div -->
        <div id="div_id_outer" class="button">
            <div id="div_id_inner">Кнопка div</div>
        </div>

        <script>
            Array.prototype.map.call(document.getElementsByTagName('a'), function (a) {
                a.addEventListener('click', function (e) {
                    e.preventDefault();
                });
            });
        </script>
    {{/inline}}
{{/base}}
