{{#> base}}
{{#*inline "defHeadCounterScripts"}}
    <script type="text/javascript" src="{{ buildPath }}/e2e/local_watch.js"></script>
{{/inline}}
{{#*inline "content"}}
    <div class='info'>Retransmit page for wv1</div>
{{/inline}}
{{/base}}