{{#> base}}
{{#*inline "title"}}
    Bad retransmit page title
{{/inline}}
{{#*inline "content"}}
    <div class='info'>Bad retransmit page</div>
    <a href="{{ baseUrl }}/good_page.hbs" class="nextPage">go to next page</a>
{{/inline}}
{{/base}}