{% if not use_custom_stand and do_not_delete_stand -%}
Адрес стенда: {{ stand_host }}:{{ stand_port }} (<a href="https://deploy.yandex-team.ru/stage/{{ stand_stage_id }}">{{ stand_stage_id }}</a>)
{% endif -%}
{% if not use_custom_tank and do_not_delete_tank -%}
Адрес танка: {{ tank_host }}:{{ tank_port }} (<a href="https://deploy.yandex-team.ru/stage/{{ tank_stage_id }}">{{ tank_stage_id }}</a>)
{% endif -%}
{% if lunapark_url -%}
Отчет о нагрузочном тесте в lunapark: <a href="{{ lunapark_url }}">{{ lunapark_url }}</a>
Результат нагрузочного теста: <strong>{% if load_test_result %}<span style="color: green">OK</span>{% else %}<span style="color: red">ERROR: </span>{% endif %}</strong>{% if not load_test_result -%}{{ load_test_error }}{% endif -%}
{% else -%}
Отчет о нагрузочном тесте в lunapark <strong><span style="color: red">не получен!</span></strong>
{% endif %}
