body {
    background: url(img/a.png);
}
a {
    background: url(img/a.png?abs=4);
}
b {
    background: url(img/a.png#filter);
}
i {
    background: url(img/a.png?abs=4#filter);
}
a {
    background: url(data:image/png;base64,blablabla);
}
div {
    background: url(http://host.me/path/to/img.jpg);
}
span {
    background: url(https://host.me/path/to/img.jpg);
}
li {
    background: url(//host.me/path/to/img.jpg);
}