body {
    background: url("/tst/yYBTiYAwAJmW1VZdiHODs44yGY0.png");
}
a {
    background: url("/tst/yYBTiYAwAJmW1VZdiHODs44yGY0.png?abs=4");
}
b {
    background: url("/tst/yYBTiYAwAJmW1VZdiHODs44yGY0.png#filter");
}
i {
    background: url("/tst/yYBTiYAwAJmW1VZdiHODs44yGY0.png?abs=4#filter");
}
a {
    background: url("data:image/png;base64,blablabla");
}
div {
    background: url("http://host.me/path/to/img.jpg");
}
span {
    background: url("https://host.me/path/to/img.jpg");
}
li {
    background: url("//host.me/path/to/img.jpg");
}