{{#> base}}
    {{#*inline "title"}}
        Formvisor page title
    {{/inline}}
    {{#*inline "head"}}
    {{/inline}}
    <!-- На этой странице счетчик не нужен -->
    <!-- Как только мы перейдем на эту страницу со страницы socket off,-->
    <!-- сокет инициализируется и все данные из его буфера поступят на страницу -->
    {{#*inline "content"}}
        <form>
            <div class="title">Hello</div>
            <div>
                <span class="name">Имя</span>
                <input class="name-input"/>
            </div>
            <div>
                <span class="surname">Фамилия</span>
                <input class="surname-input" />
            </div>
            <div>
                <input class="submit-button" type="submit" />
            </div>
        </form>
        <div class="scroll-medium" style="margin-top: 1500px">Скролим в середину</div>
        <div class="scroll-bottom" style="margin-top: 3000px">Скролим на дно</div>
    {{/inline}}
{{/base}}
