{{#> base}}
    {{#*inline "title"}}
        Formvisor page title
    {{/inline}}
    {{#*inline "head"}}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            // Важно отключить GDPR
            window.localStorage.setItem('_ym_synced', '{"SYNCED_ADM":9999999999}')
            document.cookie = 'gdpr=0';
            // Счетчик инитим прямо из шаблона (из кода проблемно)
            window.yaCounter57069895 = new Ya.Metrika2({
                id:57069895,
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
            });
        </script>
        <!-- /Yandex.Metrika counter -->
        <script type="text/javascript">
            // Этот ID закрепит буффер сокета между страницами
            // В socketOn прописывать не нужно, он передастся через куку
            setForceSessionCookie(null);
        </script>
    {{/inline}}
    <!-- Эти строки отключают Socket -->
    <!-- Когда Socket отключен, данные накапливаются в его буфере -->
    {{#*inline "defBodyScripts"}}
    {{/inline}}
    {{#*inline "content"}}
        <form action="/test/formvisor/formvisor-socket-on.hbs">
            <div class="title">Hello</div>
            <div>
                <span class="name">Имя</span>
                <input class="name-input"/>
            </div>
            <div>
                <span class="surname">Фамилия</span>
                <input class="surname-input" />
            </div>
            <div>
                <input class="submit-button" type="submit" />
            </div>
        </form>
        <div class="scroll-medium" style="margin-top: 1500px">Скролим в середину</div>
        <div class="scroll-bottom" style="margin-top: 3000px">Скролим на дно</div>
    {{/inline}}
{{/base}}
