YTServerName: "Locke"
YTTokenFile: "./zora_secrets/yt.token"
LockConfig {
    MasterLockFile: "//home/zora/rotor/test/balancer-master-lock"
    MasterInfoFile: "//home/zora/rotor/test/balancer-master-info"
}

Monitor {
    Address {
        Port : 8811
    }
}

BalanceOptions {
    RebalanceInterval: 300
    MinCapacity: 500
    MaxCapacity: 50000
    LowLoadLimit: 30
    NormalLoadLimit: 80
    HighLoadLimit: 100
    RebalanceTrigger: 20
}
