Points {
  Position: 0
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 0
  DCId: 3
}
Points {
  Position: 75912527052302681
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 1
  DCId: 3
}
Points {
  Position: 151825054104605362
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 2
  DCId: 1
}
Points {
  Position: 227737581156908043
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 3
  DCId: 3
}
Points {
  Position: 303650108209210724
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 4
  DCId: 3
}
Points {
  Position: 379562635261513405
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 5
  DCId: 1
}
Points {
  Position: 455475162313816086
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 6
  DCId: 3
}
Points {
  Position: 531387689366118767
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 7
  DCId: 1
}
Points {
  Position: 607300216418421448
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 8
  DCId: 3
}
Points {
  Position: 683212743470724129
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 9
  DCId: 3
}
Points {
  Position: 759125270523026810
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 10
  DCId: 3
}
Points {
  Position: 835037797575329491
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 11
  DCId: 1
}
Points {
  Position: 910950324627632172
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 12
  DCId: 3
}
Points {
  Position: 986862851679934853
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 13
  DCId: 1
}
Points {
  Position: 1062775378732237534
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 14
  DCId: 3
}
Points {
  Position: 1138687905784540215
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 15
  DCId: 1
}
Points {
  Position: 1214600432836842896
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 16
  DCId: 3
}
Points {
  Position: 1290512959889145577
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 17
  DCId: 3
}
Points {
  Position: 1366425486941448258
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 18
  DCId: 1
}
Points {
  Position: 1442338013993750939
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 19
  DCId: 3
}
Points {
  Position: 1518250541046053620
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 20
  DCId: 3
}
Points {
  Position: 1594163068098356301
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 21
  DCId: 1
}
Points {
  Position: 1670075595150658982
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 22
  DCId: 3
}
Points {
  Position: 1745988122202961663
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 23
  DCId: 3
}
Points {
  Position: 1821900649255264344
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 24
  DCId: 3
}
Points {
  Position: 1897813176307567025
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 25
  DCId: 3
}
Points {
  Position: 1973725703359869706
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 26
  DCId: 1
}
Points {
  Position: 2049638230412172387
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 27
  DCId: 3
}
Points {
  Position: 2125550757464475068
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 28
  DCId: 3
}
Points {
  Position: 2201463284516777749
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 29
  DCId: 1
}
Points {
  Position: 2277375811569080430
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 30
  DCId: 3
}
Points {
  Position: 2353288338621383111
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 31
  DCId: 3
}
Points {
  Position: 2429200865673685792
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 32
  DCId: 1
}
Points {
  Position: 2505113392725988473
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 33
  DCId: 1
}
Points {
  Position: 2581025919778291154
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 34
  DCId: 3
}
Points {
  Position: 2656938446830593835
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 35
  DCId: 3
}
Points {
  Position: 2732850973882896516
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 36
  DCId: 1
}
Points {
  Position: 2808763500935199197
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 37
  DCId: 3
}
Points {
  Position: 2884676027987501878
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 38
  DCId: 3
}
Points {
  Position: 2960588555039804559
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 39
  DCId: 3
}
Points {
  Position: 3036501082092107240
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 40
  DCId: 1
}
Points {
  Position: 3112413609144409921
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 41
  DCId: 3
}
Points {
  Position: 3188326136196712602
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 42
  DCId: 1
}
Points {
  Position: 3264238663249015283
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 43
  DCId: 3
}
Points {
  Position: 3340151190301317964
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 44
  DCId: 3
}
Points {
  Position: 3416063717353620645
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 45
  DCId: 3
}
Points {
  Position: 3491976244405923326
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 46
  DCId: 3
}
Points {
  Position: 3567888771458226007
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 47
  DCId: 1
}
Points {
  Position: 3643801298510528688
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 48
  DCId: 1
}
Points {
  Position: 3719713825562831369
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 49
  DCId: 3
}
Points {
  Position: 3795626352615134050
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 50
  DCId: 3
}
Points {
  Position: 3871538879667436731
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 51
  DCId: 3
}
Points {
  Position: 3947451406719739412
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 52
  DCId: 3
}
Points {
  Position: 4023363933772042093
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 53
  DCId: 1
}
Points {
  Position: 4099276460824344774
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 54
  DCId: 3
}
Points {
  Position: 4175188987876647455
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 55
  DCId: 3
}
Points {
  Position: 4251101514928950136
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 56
  DCId: 1
}
Points {
  Position: 4327014041981252817
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 57
  DCId: 1
}
Points {
  Position: 4402926569033555498
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 58
  DCId: 3
}
Points {
  Position: 4478839096085858179
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 59
  DCId: 3
}
Points {
  Position: 4554751623138160860
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 60
  DCId: 3
}
Points {
  Position: 4630664150190463541
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 61
  DCId: 1
}
Points {
  Position: 4706576677242766222
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 62
  DCId: 3
}
Points {
  Position: 4782489204295068903
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 63
  DCId: 1
}
Points {
  Position: 4858401731347371584
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 64
  DCId: 3
}
Points {
  Position: 4934314258399674265
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 65
  DCId: 3
}
Points {
  Position: 5010226785451976946
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 66
  DCId: 1
}
Points {
  Position: 5086139312504279627
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 67
  DCId: 3
}
Points {
  Position: 5162051839556582308
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 68
  DCId: 3
}
Points {
  Position: 5237964366608884989
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 69
  DCId: 3
}
Points {
  Position: 5313876893661187670
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 70
  DCId: 3
}
Points {
  Position: 5389789420713490351
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 71
  DCId: 1
}
Points {
  Position: 5465701947765793032
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 72
  DCId: 3
}
Points {
  Position: 5541614474818095713
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 73
  DCId: 1
}
Points {
  Position: 5617527001870398394
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 74
  DCId: 3
}
Points {
  Position: 5693439528922701075
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 75
  DCId: 1
}
Points {
  Position: 5769352055975003756
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 76
  DCId: 3
}
Points {
  Position: 5845264583027306437
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 77
  DCId: 3
}
Points {
  Position: 5921177110079609118
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 78
  DCId: 3
}
Points {
  Position: 5997089637131911799
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 79
  DCId: 1
}
Points {
  Position: 6073002164184214480
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 80
  DCId: 3
}
Points {
  Position: 6148914691236517161
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 81
  DCId: 3
}
Points {
  Position: 6224827218288819842
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 82
  DCId: 1
}
Points {
  Position: 6300739745341122523
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 83
  DCId: 3
}
Points {
  Position: 6376652272393425204
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 84
  DCId: 3
}
Points {
  Position: 6452564799445727885
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 85
  DCId: 3
}
Points {
  Position: 6528477326498030566
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 86
  DCId: 1
}
Points {
  Position: 6604389853550333247
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 87
  DCId: 3
}
Points {
  Position: 6680302380602635928
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 88
  DCId: 3
}
Points {
  Position: 6756214907654938609
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 89
  DCId: 1
}
Points {
  Position: 6832127434707241290
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 90
  DCId: 3
}
Points {
  Position: 6908039961759543971
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 91
  DCId: 1
}
Points {
  Position: 6983952488811846652
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 92
  DCId: 3
}
Points {
  Position: 7059865015864149333
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 93
  DCId: 3
}
Points {
  Position: 7135777542916452014
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 94
  DCId: 1
}
Points {
  Position: 7211690069968754695
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 95
  DCId: 3
}
Points {
  Position: 7287602597021057376
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 96
  DCId: 3
}
Points {
  Position: 7363515124073360057
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 97
  DCId: 3
}
Points {
  Position: 7439427651125662738
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 98
  DCId: 1
}
Points {
  Position: 7515340178177965419
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 99
  DCId: 1
}
Points {
  Position: 7591252705230268100
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 100
  DCId: 3
}
Points {
  Position: 7667165232282570781
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 101
  DCId: 3
}
Points {
  Position: 7743077759334873462
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 102
  DCId: 3
}
Points {
  Position: 7818990286387176143
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 103
  DCId: 3
}
Points {
  Position: 7894902813439478824
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 104
  DCId: 1
}
Points {
  Position: 7970815340491781505
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 105
  DCId: 1
}
Points {
  Position: 8046727867544084186
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 106
  DCId: 3
}
Points {
  Position: 8122640394596386867
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 107
  DCId: 3
}
Points {
  Position: 8198552921648689548
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 108
  DCId: 1
}
Points {
  Position: 8274465448700992229
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 109
  DCId: 3
}
Points {
  Position: 8350377975753294910
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 110
  DCId: 3
}
Points {
  Position: 8426290502805597591
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 111
  DCId: 3
}
Points {
  Position: 8502203029857900272
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 112
  DCId: 3
}
Points {
  Position: 8578115556910202953
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 113
  DCId: 1
}
Points {
  Position: 8654028083962505634
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 114
  DCId: 3
}
Points {
  Position: 8729940611014808315
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 115
  DCId: 3
}
Points {
  Position: 8805853138067110996
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 116
  DCId: 1
}
Points {
  Position: 8881765665119413677
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 117
  DCId: 3
}
Points {
  Position: 8957678192171716358
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 118
  DCId: 3
}
Points {
  Position: 9033590719224019039
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 119
  DCId: 1
}
Points {
  Position: 9109503246276321720
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 120
  DCId: 1
}
Points {
  Position: 9185415773328624401
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 121
  DCId: 3
}
Points {
  Position: 9261328300380927082
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 122
  DCId: 3
}
Points {
  Position: 9337240827433229763
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 123
  DCId: 1
}
Points {
  Position: 9413153354485532444
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 124
  DCId: 3
}
Points {
  Position: 9489065881537835125
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 125
  DCId: 3
}
Points {
  Position: 9564978408590137806
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 126
  DCId: 3
}
Points {
  Position: 9640890935642440487
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 127
  DCId: 3
}
Points {
  Position: 9716803462694743168
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 128
  DCId: 1
}
Points {
  Position: 9792715989747045849
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 129
  DCId: 3
}
Points {
  Position: 9868628516799348530
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 130
  DCId: 1
}
Points {
  Position: 9944541043851651211
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 131
  DCId: 3
}
Points {
  Position: 10020453570903953892
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 132
  DCId: 3
}
Points {
  Position: 10096366097956256573
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 133
  DCId: 1
}
Points {
  Position: 10172278625008559254
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 134
  DCId: 3
}
Points {
  Position: 10248191152060861935
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 135
  DCId: 3
}
Points {
  Position: 10324103679113164616
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 136
  DCId: 3
}
Points {
  Position: 10400016206165467297
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 137
  DCId: 1
}
Points {
  Position: 10475928733217769978
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 138
  DCId: 3
}
Points {
  Position: 10551841260270072659
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 139
  DCId: 1
}
Points {
  Position: 10627753787322375340
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 140
  DCId: 3
}
Points {
  Position: 10703666314374678021
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 141
  DCId: 3
}
Points {
  Position: 10779578841426980702
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 142
  DCId: 1
}
Points {
  Position: 10855491368479283383
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 143
  DCId: 3
}
Points {
  Position: 10931403895531586064
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 144
  DCId: 3
}
Points {
  Position: 11007316422583888745
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 145
  DCId: 3
}
Points {
  Position: 11083228949636191426
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 146
  DCId: 1
}
Points {
  Position: 11159141476688494107
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 147
  DCId: 1
}
Points {
  Position: 11235054003740796788
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 148
  DCId: 3
}
Points {
  Position: 11310966530793099469
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 149
  DCId: 3
}
Points {
  Position: 11386879057845402150
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 150
  DCId: 1
}
Points {
  Position: 11462791584897704831
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 151
  DCId: 3
}
Points {
  Position: 11538704111950007512
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 152
  DCId: 3
}
Points {
  Position: 11614616639002310193
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 153
  DCId: 3
}
Points {
  Position: 11690529166054612874
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 154
  DCId: 3
}
Points {
  Position: 11766441693106915555
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 155
  DCId: 1
}
Points {
  Position: 11842354220159218236
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 156
  DCId: 1
}
Points {
  Position: 11918266747211520917
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 157
  DCId: 3
}
Points {
  Position: 11994179274263823598
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 158
  DCId: 3
}
Points {
  Position: 12070091801316126279
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 159
  DCId: 3
}
Points {
  Position: 12146004328368428960
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 160
  DCId: 1
}
Points {
  Position: 12221916855420731641
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 161
  DCId: 3
}
Points {
  Position: 12297829382473034322
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 162
  DCId: 1
}
Points {
  Position: 12373741909525337003
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 163
  DCId: 3
}
Points {
  Position: 12449654436577639684
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 164
  DCId: 3
}
Points {
  Position: 12525566963629942365
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 165
  DCId: 1
}
Points {
  Position: 12601479490682245046
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 166
  DCId: 3
}
Points {
  Position: 12677392017734547727
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 167
  DCId: 3
}
Points {
  Position: 12753304544786850408
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 168
  DCId: 1
}
Points {
  Position: 12829217071839153089
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 169
  DCId: 3
}
Points {
  Position: 12905129598891455770
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 170
  DCId: 3
}
Points {
  Position: 12981042125943758451
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 171
  DCId: 3
}
Points {
  Position: 13056954652996061132
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 172
  DCId: 1
}
Points {
  Position: 13132867180048363813
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 173
  DCId: 3
}
Points {
  Position: 13208779707100666494
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 174
  DCId: 1
}
Points {
  Position: 13284692234152969175
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 175
  DCId: 3
}
Points {
  Position: 13360604761205271856
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 176
  DCId: 3
}
Points {
  Position: 13436517288257574537
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 177
  DCId: 3
}
Points {
  Position: 13512429815309877218
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 178
  DCId: 3
}
Points {
  Position: 13588342342362179899
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 179
  DCId: 1
}
Points {
  Position: 13664254869414482580
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 180
  DCId: 3
}
Points {
  Position: 13740167396466785261
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 181
  DCId: 3
}
Points {
  Position: 13816079923519087942
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 182
  DCId: 1
}
Points {
  Position: 13891992450571390623
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 183
  DCId: 3
}
Points {
  Position: 13967904977623693304
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 184
  DCId: 1
}
Points {
  Position: 14043817504675995985
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 185
  DCId: 3
}
Points {
  Position: 14119730031728298666
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 186
  DCId: 3
}
Points {
  Position: 14195642558780601347
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 187
  DCId: 1
}
Points {
  Position: 14271555085832904028
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 188
  DCId: 3
}
Points {
  Position: 14347467612885206709
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 189
  DCId: 3
}
Points {
  Position: 14423380139937509390
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 190
  DCId: 1
}
Points {
  Position: 14499292666989812071
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 191
  DCId: 3
}
Points {
  Position: 14575205194042114752
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 192
  DCId: 3
}
Points {
  Position: 14651117721094417433
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 193
  DCId: 3
}
Points {
  Position: 14727030248146720114
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 194
  DCId: 1
}
Points {
  Position: 14802942775199022795
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 195
  DCId: 1
}
Points {
  Position: 14878855302251325476
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 196
  DCId: 3
}
Points {
  Position: 14954767829303628157
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 197
  DCId: 3
}
Points {
  Position: 15030680356355930838
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 198
  DCId: 1
}
Points {
  Position: 15106592883408233519
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 199
  DCId: 3
}
Points {
  Position: 15182505410460536200
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 200
  DCId: 3
}
Points {
  Position: 15258417937512838881
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 201
  DCId: 3
}
Points {
  Position: 15334330464565141562
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 202
  DCId: 3
}
Points {
  Position: 15410242991617444243
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 203
  DCId: 1
}
Points {
  Position: 15486155518669746924
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 204
  DCId: 3
}
Points {
  Position: 15562068045722049605
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 205
  DCId: 1
}
Points {
  Position: 15637980572774352286
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 206
  DCId: 3
}
Points {
  Position: 15713893099826654967
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 207
  DCId: 1
}
Points {
  Position: 15789805626878957648
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 208
  DCId: 3
}
Points {
  Position: 15865718153931260329
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 209
  DCId: 3
}
Points {
  Position: 15941630680983563010
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 210
  DCId: 3
}
Points {
  Position: 16017543208035865691
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 211
  DCId: 3
}
Points {
  Position: 16093455735088168372
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 212
  DCId: 1
}
Points {
  Position: 16169368262140471053
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 213
  DCId: 3
}
Points {
  Position: 16245280789192773734
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 214
  DCId: 1
}
Points {
  Position: 16321193316245076415
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 215
  DCId: 3
}
Points {
  Position: 16397105843297379096
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 216
  DCId: 1
}
Points {
  Position: 16473018370349681777
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 217
  DCId: 3
}
Points {
  Position: 16548930897401984458
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 218
  DCId: 3
}
Points {
  Position: 16624843424454287139
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 219
  DCId: 1
}
Points {
  Position: 16700755951506589820
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 220
  DCId: 3
}
Points {
  Position: 16776668478558892501
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 221
  DCId: 3
}
Points {
  Position: 16852581005611195182
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 222
  DCId: 3
}
Points {
  Position: 16928493532663497863
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 223
  DCId: 1
}
Points {
  Position: 17004406059715800544
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 224
  DCId: 3
}
Points {
  Position: 17080318586768103225
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 225
  DCId: 3
}
Points {
  Position: 17156231113820405906
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 226
  DCId: 3
}
Points {
  Position: 17232143640872708587
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 227
  DCId: 1
}
Points {
  Position: 17308056167925011268
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 228
  DCId: 1
}
Points {
  Position: 17383968694977313949
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 229
  DCId: 3
}
Points {
  Position: 17459881222029616630
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 230
  DCId: 3
}
Points {
  Position: 17535793749081919311
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 231
  DCId: 1
}
Points {
  Position: 17611706276134221992
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 232
  DCId: 3
}
Points {
  Position: 17687618803186524673
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 233
  DCId: 3
}
Points {
  Position: 17763531330238827354
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 234
  DCId: 3
}
Points {
  Position: 17839443857291130035
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 235
  DCId: 1
}
Points {
  Position: 17915356384343432716
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 236
  DCId: 3
}
Points {
  Position: 17991268911395735397
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 237
  DCId: 3
}
Points {
  Position: 18067181438448038078
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 238
  DCId: 1
}
Points {
  Position: 18143093965500340759
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 239
  DCId: 3
}
Points {
  Position: 18219006492552643440
  Address {
    Host: "rotor-test-cache-2.sas.yp-c.yandex.net"
  }
  BaseId: 240
  DCId: 3
}
Points {
  Position: 18294919019604946121
  Address {
    Host: "rotor-test-cache-1.man.yp-c.yandex.net"
  }
  BaseId: 241
  DCId: 1
}
Points {
  Position: 18370831546657248802
  Address {
    Host: "rotor-test-cache-1.sas.yp-c.yandex.net"
  }
  BaseId: 242
  DCId: 3
}
