DefaultDistributionFactor: 1

Distributions {
    DomainSuffix: "bayan2cdn.xmlrpc.http.yandex.net"
    DistributionFactor: 5
}
Distributions {
    DomainSuffix: "soundcloud.com"
    DistributionFactor: 2
}
Distributions {
    DomainSuffix: "vupload.facebook.com"
    DistributionFactor: 2
}
Distributions {
    DomainSuffix: "otodemir.com.tr"
    DistributionFactor: 2
}
Distributions {
    DomainSuffix: "miniclip.com"
    DistributionFactor: 2
}
Distributions {
    DomainSuffix: "v.pintastic.by"
    DistributionFactor: 2
}
Distributions {
    DomainSuffix: "clip.suabnag.com"
    DistributionFactor: 2
}
Distributions {
    DomainSuffix: "lovoo.com"
    DistributionFactor: 2
}
Distributions {
    DomainSuffix: "an.yandex.ru"
    DistributionFactor: 5
}
Distributions {
    DomainSuffix: "www.facebook.com"
    DistributionFactor: 5
}
Distributions {
    DomainSuffix: "www.google.com"
    DistributionFactor: 5
}
Distributions {
    DomainSuffix: "yyv1c2.vvcpad2.com"
    DistributionFactor: 5
}
Distributions {
    DomainSuffix: "www.googletagmanager.com"
    DistributionFactor: 5
}
Distributions {
    DomainSuffix: "maps.googleapis.com"
    DistributionFactor: 5
}
Distributions {
    DomainSuffix: "fastlane.rubiconproject.com"
    DistributionFactor: 2
}
Distributions {
    DomainSuffix: "syndication.exosrv.com"
    DistributionFactor: 2
}
Distributions {
    DomainSuffix: "syndication.exoclick.com"
    DistributionFactor: 2
}
