Execution {
    ResourceLimit: 700
    MaxInflightPerBlink : 36
    BlinkPaths {
        BlinkPath: "unix://./sockets/01.socket"
    }
}

Monitor {
    Address {
        Port : 8808
    }
}

Cache {
    UseService : true
    MemoryCapacity: 21474836480
    Local: true
    Service {
        Host : "rotor-test-cache-1.sas.yp-c.yandex.net"
        Port : 23155
    }
    ForceMeta: true
}

PostProcessing {
    RthubMode: true
    RthubClusterConfigPath: "config/test/rthub_cluster.conf"
}

