Points {
  Position: 0
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 0
  DCId: 3
}
Points {
  Position: 113868790578454022
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 1
  DCId: 3
}
Points {
  Position: 227737581156908044
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 2
  DCId: 3
}
Points {
  Position: 341606371735362066
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 3
  DCId: 3
}
Points {
  Position: 455475162313816088
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 4
  DCId: 3
}
Points {
  Position: 569343952892270110
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 5
  DCId: 3
}
Points {
  Position: 683212743470724132
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 6
  DCId: 3
}
Points {
  Position: 797081534049178154
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 7
  DCId: 3
}
Points {
  Position: 910950324627632176
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 8
  DCId: 3
}
Points {
  Position: 1024819115206086198
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 9
  DCId: 3
}
Points {
  Position: 1138687905784540220
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 10
  DCId: 3
}
Points {
  Position: 1252556696362994242
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 11
  DCId: 3
}
Points {
  Position: 1366425486941448264
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 12
  DCId: 3
}
Points {
  Position: 1480294277519902286
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 13
  DCId: 3
}
Points {
  Position: 1594163068098356308
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 14
  DCId: 3
}
Points {
  Position: 1708031858676810330
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 15
  DCId: 3
}
Points {
  Position: 1821900649255264352
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 16
  DCId: 3
}
Points {
  Position: 1935769439833718374
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 17
  DCId: 3
}
Points {
  Position: 2049638230412172396
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 18
  DCId: 3
}
Points {
  Position: 2163507020990626418
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 19
  DCId: 3
}
Points {
  Position: 2277375811569080440
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 20
  DCId: 3
}
Points {
  Position: 2391244602147534462
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 21
  DCId: 3
}
Points {
  Position: 2505113392725988484
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 22
  DCId: 3
}
Points {
  Position: 2618982183304442506
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 23
  DCId: 3
}
Points {
  Position: 2732850973882896528
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 24
  DCId: 3
}
Points {
  Position: 2846719764461350550
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 25
  DCId: 3
}
Points {
  Position: 2960588555039804572
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 26
  DCId: 3
}
Points {
  Position: 3074457345618258594
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 27
  DCId: 3
}
Points {
  Position: 3188326136196712616
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 28
  DCId: 3
}
Points {
  Position: 3302194926775166638
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 29
  DCId: 3
}
Points {
  Position: 3416063717353620660
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 30
  DCId: 3
}
Points {
  Position: 3529932507932074682
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 31
  DCId: 3
}
Points {
  Position: 3643801298510528704
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 32
  DCId: 3
}
Points {
  Position: 3757670089088982726
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 33
  DCId: 3
}
Points {
  Position: 3871538879667436748
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 34
  DCId: 3
}
Points {
  Position: 3985407670245890770
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 35
  DCId: 3
}
Points {
  Position: 4099276460824344792
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 36
  DCId: 3
}
Points {
  Position: 4213145251402798814
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 37
  DCId: 3
}
Points {
  Position: 4327014041981252836
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 38
  DCId: 3
}
Points {
  Position: 4440882832559706858
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 39
  DCId: 3
}
Points {
  Position: 4554751623138160880
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 40
  DCId: 3
}
Points {
  Position: 4668620413716614902
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 41
  DCId: 3
}
Points {
  Position: 4782489204295068924
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 42
  DCId: 3
}
Points {
  Position: 4896357994873522946
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 43
  DCId: 3
}
Points {
  Position: 5010226785451976968
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 44
  DCId: 3
}
Points {
  Position: 5124095576030430990
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 45
  DCId: 3
}
Points {
  Position: 5237964366608885012
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 46
  DCId: 3
}
Points {
  Position: 5351833157187339034
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 47
  DCId: 3
}
Points {
  Position: 5465701947765793056
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 48
  DCId: 3
}
Points {
  Position: 5579570738344247078
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 49
  DCId: 3
}
Points {
  Position: 5693439528922701100
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 50
  DCId: 3
}
Points {
  Position: 5807308319501155122
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 51
  DCId: 3
}
Points {
  Position: 5921177110079609144
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 52
  DCId: 3
}
Points {
  Position: 6035045900658063166
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 53
  DCId: 3
}
Points {
  Position: 6148914691236517188
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 54
  DCId: 3
}
Points {
  Position: 6262783481814971210
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 55
  DCId: 3
}
Points {
  Position: 6376652272393425232
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 56
  DCId: 3
}
Points {
  Position: 6490521062971879254
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 57
  DCId: 3
}
Points {
  Position: 6604389853550333276
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 58
  DCId: 3
}
Points {
  Position: 6718258644128787298
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 59
  DCId: 3
}
Points {
  Position: 6832127434707241320
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 60
  DCId: 3
}
Points {
  Position: 6945996225285695342
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 61
  DCId: 3
}
Points {
  Position: 7059865015864149364
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 62
  DCId: 3
}
Points {
  Position: 7173733806442603386
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 63
  DCId: 3
}
Points {
  Position: 7287602597021057408
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 64
  DCId: 3
}
Points {
  Position: 7401471387599511430
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 65
  DCId: 3
}
Points {
  Position: 7515340178177965452
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 66
  DCId: 3
}
Points {
  Position: 7629208968756419474
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 67
  DCId: 3
}
Points {
  Position: 7743077759334873496
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 68
  DCId: 3
}
Points {
  Position: 7856946549913327518
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 69
  DCId: 3
}
Points {
  Position: 7970815340491781540
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 70
  DCId: 3
}
Points {
  Position: 8084684131070235562
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 71
  DCId: 3
}
Points {
  Position: 8198552921648689584
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 72
  DCId: 3
}
Points {
  Position: 8312421712227143606
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 73
  DCId: 3
}
Points {
  Position: 8426290502805597628
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 74
  DCId: 3
}
Points {
  Position: 8540159293384051650
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 75
  DCId: 3
}
Points {
  Position: 8654028083962505672
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 76
  DCId: 3
}
Points {
  Position: 8767896874540959694
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 77
  DCId: 3
}
Points {
  Position: 8881765665119413716
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 78
  DCId: 3
}
Points {
  Position: 8995634455697867738
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 79
  DCId: 3
}
Points {
  Position: 9109503246276321760
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 80
  DCId: 3
}
Points {
  Position: 9223372036854775782
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 81
  DCId: 3
}
Points {
  Position: 9337240827433229804
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 82
  DCId: 3
}
Points {
  Position: 9451109618011683826
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 83
  DCId: 3
}
Points {
  Position: 9564978408590137848
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 84
  DCId: 3
}
Points {
  Position: 9678847199168591870
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 85
  DCId: 3
}
Points {
  Position: 9792715989747045892
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 86
  DCId: 3
}
Points {
  Position: 9906584780325499914
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 87
  DCId: 3
}
Points {
  Position: 10020453570903953936
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 88
  DCId: 3
}
Points {
  Position: 10134322361482407958
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 89
  DCId: 3
}
Points {
  Position: 10248191152060861980
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 90
  DCId: 3
}
Points {
  Position: 10362059942639316002
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 91
  DCId: 3
}
Points {
  Position: 10475928733217770024
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 92
  DCId: 3
}
Points {
  Position: 10589797523796224046
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 93
  DCId: 3
}
Points {
  Position: 10703666314374678068
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 94
  DCId: 3
}
Points {
  Position: 10817535104953132090
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 95
  DCId: 3
}
Points {
  Position: 10931403895531586112
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 96
  DCId: 3
}
Points {
  Position: 11045272686110040134
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 97
  DCId: 3
}
Points {
  Position: 11159141476688494156
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 98
  DCId: 3
}
Points {
  Position: 11273010267266948178
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 99
  DCId: 3
}
Points {
  Position: 11386879057845402200
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 100
  DCId: 3
}
Points {
  Position: 11500747848423856222
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 101
  DCId: 3
}
Points {
  Position: 11614616639002310244
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 102
  DCId: 3
}
Points {
  Position: 11728485429580764266
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 103
  DCId: 3
}
Points {
  Position: 11842354220159218288
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 104
  DCId: 3
}
Points {
  Position: 11956223010737672310
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 105
  DCId: 3
}
Points {
  Position: 12070091801316126332
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 106
  DCId: 3
}
Points {
  Position: 12183960591894580354
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 107
  DCId: 3
}
Points {
  Position: 12297829382473034376
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 108
  DCId: 3
}
Points {
  Position: 12411698173051488398
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 109
  DCId: 3
}
Points {
  Position: 12525566963629942420
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 110
  DCId: 3
}
Points {
  Position: 12639435754208396442
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 111
  DCId: 3
}
Points {
  Position: 12753304544786850464
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 112
  DCId: 3
}
Points {
  Position: 12867173335365304486
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 113
  DCId: 3
}
Points {
  Position: 12981042125943758508
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 114
  DCId: 3
}
Points {
  Position: 13094910916522212530
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 115
  DCId: 3
}
Points {
  Position: 13208779707100666552
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 116
  DCId: 3
}
Points {
  Position: 13322648497679120574
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 117
  DCId: 3
}
Points {
  Position: 13436517288257574596
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 118
  DCId: 3
}
Points {
  Position: 13550386078836028618
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 119
  DCId: 3
}
Points {
  Position: 13664254869414482640
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 120
  DCId: 3
}
Points {
  Position: 13778123659992936662
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 121
  DCId: 3
}
Points {
  Position: 13891992450571390684
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 122
  DCId: 3
}
Points {
  Position: 14005861241149844706
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 123
  DCId: 3
}
Points {
  Position: 14119730031728298728
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 124
  DCId: 3
}
Points {
  Position: 14233598822306752750
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 125
  DCId: 3
}
Points {
  Position: 14347467612885206772
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 126
  DCId: 3
}
Points {
  Position: 14461336403463660794
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 127
  DCId: 3
}
Points {
  Position: 14575205194042114816
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 128
  DCId: 3
}
Points {
  Position: 14689073984620568838
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 129
  DCId: 3
}
Points {
  Position: 14802942775199022860
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 130
  DCId: 3
}
Points {
  Position: 14916811565777476882
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 131
  DCId: 3
}
Points {
  Position: 15030680356355930904
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 132
  DCId: 3
}
Points {
  Position: 15144549146934384926
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 133
  DCId: 3
}
Points {
  Position: 15258417937512838948
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 134
  DCId: 3
}
Points {
  Position: 15372286728091292970
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 135
  DCId: 3
}
Points {
  Position: 15486155518669746992
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 136
  DCId: 3
}
Points {
  Position: 15600024309248201014
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 137
  DCId: 3
}
Points {
  Position: 15713893099826655036
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 138
  DCId: 3
}
Points {
  Position: 15827761890405109058
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 139
  DCId: 3
}
Points {
  Position: 15941630680983563080
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 140
  DCId: 3
}
Points {
  Position: 16055499471562017102
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 141
  DCId: 3
}
Points {
  Position: 16169368262140471124
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 142
  DCId: 3
}
Points {
  Position: 16283237052718925146
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 143
  DCId: 3
}
Points {
  Position: 16397105843297379168
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 144
  DCId: 3
}
Points {
  Position: 16510974633875833190
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 145
  DCId: 3
}
Points {
  Position: 16624843424454287212
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 146
  DCId: 3
}
Points {
  Position: 16738712215032741234
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 147
  DCId: 3
}
Points {
  Position: 16852581005611195256
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 148
  DCId: 3
}
Points {
  Position: 16966449796189649278
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 149
  DCId: 3
}
Points {
  Position: 17080318586768103300
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 150
  DCId: 3
}
Points {
  Position: 17194187377346557322
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 151
  DCId: 3
}
Points {
  Position: 17308056167925011344
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 152
  DCId: 3
}
Points {
  Position: 17421924958503465366
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 153
  DCId: 3
}
Points {
  Position: 17535793749081919388
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 154
  DCId: 3
}
Points {
  Position: 17649662539660373410
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 155
  DCId: 3
}
Points {
  Position: 17763531330238827432
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 156
  DCId: 3
}
Points {
  Position: 17877400120817281454
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 157
  DCId: 3
}
Points {
  Position: 17991268911395735476
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 158
  DCId: 3
}
Points {
  Position: 18105137701974189498
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 159
  DCId: 3
}
Points {
  Position: 18219006492552643520
  Address {
    Host: "rotor-test-scheduler-1.sas.yp-c.yandex.net"
  }
  BaseId: 160
  DCId: 3
}
Points {
  Position: 18332875283131097542
  Address {
    Host: "rotor-test-scheduler-2.sas.yp-c.yandex.net"
  }
  BaseId: 161
  DCId: 3
}
