monitoring:
  port: 16300

status:
  port: 16301

storages:
  - name: pdfetch_unified_agent_storage
    plugin: fs
    config:
      directory: ./unified_agent_storage
      max_partition_size: 100mb

routes:
  - input:
      plugin: grpc
      config:
        uri: unix:///tmp/unified_agent.sock # Поддерживается также и host:port
    channel:
      pipe:
        - storage_ref:
            storage: pdfetch_unified_agent_storage
        - filter:
            plugin: protoseq_batch
            config:
              flush_period: 100ms
              limit:
                bytes: 256kb
        - filter:
            plugin: assign
            config:
              session:
              - server: "{$host_name}"
      output:
        plugin: logbroker
        config:
          endpoint: logbroker.yandex.net
          topic: /zora/pdfetch-info-log
          tvm:
            client_id: 2000193
            secret:
              file: ~/zora_secrets/tvm.keys
          export_session_meta_keys:
            - server
