ClientOptions {
    Port : 23957
}

YTServerName: "Locke"
YTTokenFile: "./zora_secrets/yt.token"
LockConfig {
    MasterLockFile: "//home/zora/rotor/test/registry-master-lock"
    MasterInfoFile: "//home/zora/rotor/test/registry-master-info"
}
ClusterStateDir: "//home/zora/rotor/test/state"

UpdateInterval: 10
HeartBeatTimeout: 60
InactiveTimeout : 2592000
SubmitInterval: 10
MinNodeId: 20000
MaxNodeId: 99999

MonitoringPort : 8810

TrackedServices : "Registry"
TrackedServices : "Rotor-B"
TrackedServices : "Rotor-E"
TrackedServices : "Rotor-S"
