DefaultServer {
    Host: "zora.yandex.net"
    Port: 33444
}

Sources {
    Name : "any"
    BotId : 1
}
Sources {
    Name : "samovar_fresh"
    BotId : 1
}
Sources {
    Name : "gozora"
    BotId : 1
}
Sources {
    Name : "hermetica"
    BotId : 1
}
Sources {
    Name : "direct-tracking-url-android"
    BotId : 1
}
Sources {
    Name : "direct-tracking-url-ios"
    BotId : 1
}
Sources {
    Name : "rmp-tracking-url-android"
    BotId : 1
}
Sources {
    Name : "rmp-tracking-url-ios"
    BotId : 1
}
Sources {
    Name : "banner-scraper"
    BotId : 21
}
Sources {
    Name : "performance-banner-online"
    BotId : 21
}
Sources {
    Name : "parsepl"
    BotId : 1
}
Sources {
    Name : "vins_div2html_online"
    BotId: 30
}
