# Все, кто угодно, с целью потестировать работу с Ротором.
SrcNames {
    Name: "any"
    Params {
        Options { AllowImages : true; }
        Queue   { Weight : 5; Priority : 4; }
        Zora    { Source : "any" }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 100000; }
        IpNames { Name: "*"; }
    }
}

# samovar_fresh
SrcNames {
    Name: "samovar_fresh"
    Params {
        Zora  { Source : "samovar_fresh" }
        Proxy {
            AllowRetry: false;
            JobTimeoutMax: 1200
            JobQueueLimitMb: 2048;
            ReplyQueueLimitMb: 1024;
            NodeQueueLimit: 200000;
        }
        Queue { Weight : 40; Priority: 4; }
        Options { FilterSet: "uzor"; OutputDocsToPipeline: true }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 12000; }
        IpNames { Name: "*"; }
    }
}
SrcNames {
    Name: "gozora"
    Params {
        Zora  { Source : "gozora" }
        Proxy {
            AllowRetry: false;
            JobTimeoutMax: 1200
            JobQueueLimitMb: 2048;
            ReplyQueueLimitMb: 1024;
            NodeQueueLimit: 200000;
        }
        Queue { Weight : 40; Priority: 4; }
        Options { FilterSet: "uzor"; OutputDocsToPipeline: true }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 12000; }
        IpNames { Name: "*"; }
    }
}

SrcNames {
    Name: "hermetica"
    Params {
        Zora  { Source : "hermetica" }
        Proxy {
            AllowRetry: false;
            JobTimeoutMax: 1200
            JobQueueLimitMb: 2048;
            ReplyQueueLimitMb: 1024;
            NodeQueueLimit: 200000;
        }
        Queue { Weight : 40; Priority: 4; }
        Options { FilterSet: "uzor"; OutputDocsToPipeline: true }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 12000; }
        IpNames { Name: "*"; }
    }
}

SrcNames {
    Name: "direct-tracking-url-android"
    Params {
        Zora  { Source : "direct-tracking-url-android" }
        Proxy {
            AllowRetry: false;
            JobTimeoutMax: 1200
            JobQueueLimitMb: 2048;
            ReplyQueueLimitMb: 1024;
            NodeQueueLimit: 200000;
        }
        Queue { Weight : 40; Priority: 4; }
        Options { FilterSet: "uzor"; OutputDocsToPipeline: true }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 100; }
        IpNames { Name: "*"; }
    }
}

SrcNames {
    Name: "direct-tracking-url-ios"
    Params {
        Zora  { Source : "direct-tracking-url-ios" }
        Proxy {
            AllowRetry: false;
            JobTimeoutMax: 1200
            JobQueueLimitMb: 2048;
            ReplyQueueLimitMb: 1024;
            NodeQueueLimit: 200000;
        }
        Queue { Weight : 40; Priority: 4; }
        Options { FilterSet: "uzor"; OutputDocsToPipeline: true }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 100; }
        IpNames { Name: "*"; }
    }
}

# ZORAHELPDESK-2438
SrcNames {
    Name: "rmp-tracking-url-android"
    Params {
        Zora  { Source : "rmp-tracking-url-android" }
        Proxy {
            AllowRetry: false;
            JobTimeoutMax: 1200
            JobQueueLimitMb: 2048;
            ReplyQueueLimitMb: 1024;
            NodeQueueLimit: 200000;
        }
        Queue { Weight : 40; Priority: 4; }
        Options { FilterSet: "uzor"; OutputDocsToPipeline: true }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 10; }
        IpNames { Name: "*"; }
    }
}

SrcNames {
    Name: "rmp-tracking-url-ios"
    Params {
        Zora  { Source : "rmp-tracking-url-ios" }
        Proxy {
            AllowRetry: false;
            JobTimeoutMax: 1200
            JobQueueLimitMb: 2048;
            ReplyQueueLimitMb: 1024;
            NodeQueueLimit: 200000;
        }
        Queue { Weight : 40; Priority: 4; }
        Options { FilterSet: "uzor"; OutputDocsToPipeline: true }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 10; }
        IpNames { Name: "*"; }
    }
}

SrcNames {
    Name: "banner-scraper"
    Params {
        Zora  { Source : "banner-scraper" }
        Proxy {
            AllowRetry: false;
            JobTimeoutMax: 1200
            JobQueueLimitMb: 2048;
            ReplyQueueLimitMb: 1024;
            NodeQueueLimit: 200000;
        }
        Queue { Weight : 40; Priority: 4; }
        Options { FilterSet: "uzor"; OutputDocsToPipeline: true }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 12000; }
        IpNames { Name: "*"; }
    }
}

SrcNames {
    Name: "performance-banner-online"
    Params {
        Zora  { Source : "performance-banner-online" }
        Proxy {
            AllowRetry: false;
            JobTimeoutMax: 1200
            JobQueueLimitMb: 2048;
            ReplyQueueLimitMb: 1024;
            NodeQueueLimit: 200000;
        }
        Queue { Weight : 40; Priority: 4; }
        Options { FilterSet: "uzor"; OutputDocsToPipeline: true }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 12000; }
        IpNames { Name: "*"; }
    }
}

SrcNames {
    Name: "parsepl"
    Params {
        Zora  { Source : "parsepl" }
        Proxy {
            AllowRetry: false;
            JobTimeoutMax: 1200
            JobQueueLimitMb: 2048;
            ReplyQueueLimitMb: 1024;
            NodeQueueLimit: 200000;
        }
        Queue { Weight : 40; Priority: 4; }
        Options { FilterSet: "uzor"; OutputDocsToPipeline: true }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 12000; }
        IpNames { Name: "*"; }
    }
}

# https://st.yandex-team.ru/ZORAHELPDESK-1387
SrcNames {
    Name: "vins_div2html_online"
    Params {
        Cache   {
            Namespace: CNS_GENERIC_IGNORE_ROBOTS;
            Fair: true
        }
        Options {
            AllowImages : true;
            FilterSet: "empty"
        }
        Proxy   {
            AllowRetry: false;
            PreferLocalDC: true;
        }
        Queue   { Weight : 50; Priority : 3; }
        Zora    {
            Source : "vins_div2html_online"
            Type : USERPROXY
        }
    }
    ReqTypes {
        Name: "TExecuteRequest"
        Quota { Second: 10; }
        IpNames { Name: "*"; }
        IpSets { Name: "rotor_dev"; }
    }
}

#
# Фиктивный источник, определяющий, какие адреса могут переопределять адрес клиента
#
SrcNames {
    Name: "_override-client-addr"
    ReqTypes {
        Name: "TExecuteRequest"
        IpSets { Name: "local"; }
        IpSets { Name: "rotor_dev"; }
        IpSets { Name: "rotor_prod"; }
        IpSets { Name: "zora_dev"; }
        IpSets { Name: "zora_cloud"; }
        IpSets { Name: "zora_prod"; }
    }
}
#
# Фиктивный источник, определяющий, какие адреса получают метаинформацию
# Сейчас это только zora
#
SrcNames {
    Name: "_need-meta"
    ReqTypes {
        Name: "TMetadataRequest"
        GolemMacroNames { Name: "_SPIDERNETS_"; }
        IpSets { Name: "zora_dev"; }
        IpSets { Name: "zora_cloud"; }
        IpSets { Name: "zora_prod"; }
    }
}


#
# Фильтры для uzor (default + ненужные эмбеды с перегруженных сайтов)
#
FilterSet {
    Name: "uzor"
    Files: "blacklist.txt"
    Files: "cntblock.txt"
    Files: "fanboy-social.txt"
    Files: "malwaredomains_full.txt"
    Files: "ruadlist+easylist.txt"
    Files: "unindexed_embeds.txt"
}

#
# Фильтры, используемые по умолчанию
#
FilterSet {
    Name: "default"
    Files: "blacklist.txt"
    Files: "cntblock.txt"
    Files: "fanboy-social.txt"
    Files: "malwaredomains_full.txt"
    Files: "ruadlist+easylist.txt"
}
FilterSet {
    Name: "empty"
}
