DefaultServer {
    Host: "zora-test.zora.yandex.net"
    Port: 33444
}

Sources {
    Name : "rotor"
    BotId : 1
    Quota {
        SecondWindowSize : 10
        SecondResponseDelay : 0
        SecondMinQuota : 100
        AdjustmentAlgo : LINEAR
    }
}
Sources {
    Name : "samovar_rotor_resources"
    BotId : 1
    Quota {
        SecondWindowSize : 10
        SecondResponseDelay : 0
        SecondMinQuota : 100
        AdjustmentAlgo : LINEAR
    }
}
Sources {
    Name : "samovar_new_rotor_resources"
    BotId : 1
    Quota {
        SecondWindowSize : 10
        SecondResponseDelay : 0
        SecondMinQuota : 100
        AdjustmentAlgo : LINEAR
    }
}
Sources {
    Name : "rotor-banners"
    BotId : 26
}
Sources {
    Name : "rotor-mobile"
    BotId : 24
}
Sources {
    Name : "rotor-mobile-robots"
    BotId : 27
}
Sources {
    Name : "watto-batch-webmaster"
    BotId : 27
}
Sources {
    Name : "rotor-screenshot"
    BotId : 30
}
Sources {
    Name : "rotor-dev"
    BotId : 1
}
Sources {
    Name : "rotor-mobile-dev"
    BotId : 24
}
Sources {
    Name : "rotor-mobile-robots-dev"
    BotId : 27
    Quota {
        SecondWindowSize : 10
        SecondResponseDelay : 0
        SecondMinQuota : 100
        AdjustmentAlgo : LINEAR
    }
}
Sources {
    Name : "zen"
    BotId : 1
}
Sources {
    Name : "market"
    BotId : 34
}
Sources {
    Name : "news-screenshot"
    BotId : 33
}
Sources {
    Name : "antizen"
    BotId : 1
}
Sources {
    Name : "rotor-video-robots"
    BotId : 32
}
Sources {
    Name : "robot_metrics"
    BotId : 28
}
Sources {
    Name : "robot_metrics_symm"
    BotId : 28
}
Sources {
    Name : "robot_metrics_honest"
    BotId : 1
}
Sources {
    Name : "parsepl"
    BotId : 1
}
Sources {
    Name : "parsepl_batch"
    BotId : 25
}
Sources {
    Name : "parsepl_batch_mobile"
    BotId : 27
}
Sources {
    Name: "watson_market"
    BotId: 25
}
Sources {
    Name : "pdb"
    BotId : 1
}
Sources {
    Name : "video_content_parser"
    BotId : 32
}
Sources {
    Name : "samovar_video_parser"
    BotId : 32
}
Sources {
    Name : "samovar_video_parser_batch"
    BotId : 32
}
Sources {
    Name : "vins_div2html"
    BotId : 30
}
Sources {
    Name : "segmentator"
    BotId : 1
}
Sources {
    Name : "samovar_mobile"
    BotId : 24
}
Sources {
    Name : "samovar_video_parser_no_thumb"
    BotId : 32
}
Sources {
    Name : "samovar_partners"
    BotId : 21
}
Sources {
    Name : "samovar_mobile_screenshot_ed"
    BotId : 47
}
Sources {
    Name : "market_abo_pinger"
    BotId : 34
}
Sources {
    Name : "market_abo_pinger_mobile"
    BotId : 27
}
Sources {
    Name : "mediaselling-online"
    BotId : 41
}
Sources {
    Name : "autoparser_images"
    BotId : 1
}
Sources {
    Name : "rotor-mobile-online-viewer"
    BotId : 27
}
Sources {
    Name : "rotor-direct-online"
    BotId : 21
}
Sources {
    Name : "vins_div2html_online"
    BotId: 30
}
Sources {
    Name: "market_dynamic_pricing"
    BotId: 25
}
Sources {
    Name : "autobot"
    BotId : 1
}
Sources {
    Name : "samovar_market_pinger"
    BotId : 34
}
Sources {
    Name : "samovar_market_pinger_mobile"
    BotId : 27
}
Sources {
    Name : "samovar_direct"
    BotId : 9
}
Sources {
    Name : "news_priority"
    BotId : 33
}
Sources {
    Name : "geosearch_pin_scraper"
    BotId : 1
}
Sources {
    Name : "test_ysclid"
    BotId : 1
}
