Channel {
    Input {
        Source {
            Ident: "zora"
            LogType: "postprocessing"
            Client: "postprocessing"
            MaxPartitions: 5
        }
        InflightLimit {
            ItemsCount: 10000
            ItemsSizeInBytes: 100000000
        }
        Yql {
            Path: "DoNothing"
            InputProto: "NProtos.TInput"
            OutputProto: "NProtos.TInput"
        }
    }
    Yql {
        Path: "ProcessZoraResponse"
        InputProto: "NProtos.TInput"
        OutputProto: "NProtos.TZoraCommonPipelineOutput"
        OutputSettings {
            TraceMessages: true
        }
    }
    Output {
        Name: "ZoraPipeline"
        Queue {
            Ident: ""
            LogType: ""
            PartitionsPerDc: 3
            MaxPartitions: 15
        }
        Yql {
            Path: "PipelineResults"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NProtos.TZoraCommonPipelineOutput"
        }
    }
    Output {
        Name: "ZoraPages"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-pages"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterPages"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 120
        MaxProducerCount: 10
    }
    Output {
        Name: "ZoraPagesFresh"
        Queue {
            Server: "bs-prod.logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-pages-fresh"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterPagesFresh"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
    Output {
        Name: "ZoraHitrenimalsPages"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-hitrenimals-pages"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterHitrenimalsPages"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 120
        MaxProducerCount: 10
        IdleSend: true
    }
    Output {
        Name: "ZoraTranslatedSearch"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora@prestable"
            LogType: "translated-pages"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterTranslatedSearch"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 172800
        MaxProducerCount: 20
    }
    Output {
        Name: "ZoraImagesFresh"
        Queue {
            Server: "bs-prod.logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-images-fresh"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterImagesFresh"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TImage"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
    Output {
        Name: "ZoraSitemaps"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-sitemaps"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterSitemaps"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TSitemap"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
    Output {
        Name: "ZoraAppDocs"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-app-docs"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterAppDocs"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
    Output {
        Name: "ZoraOriginalImages"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora-prestable"
            LogType: "original-images"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterOriginalImages"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TTurboImagesItem"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
    Output {
        Name: "ZoraImages"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-images"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterImages"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TImage"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
    Output {
        Name: "MockPages"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "mock-pages-prestable"
            PartitionsPerDc: 1
            MaxPartitions: 5
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterMockPages"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 172800
        MaxProducerCount: 10
    }
    Output {
        Name: "MockPagesFresh"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora@prestable"
            LogType: "mock-pages-fresh"
            PartitionsPerDc: 1
            MaxPartitions: 5
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterMockPagesFresh"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 172800
        MaxProducerCount: 10
    }
}
Channel {
    Input {
        Source {
            Ident: "zora"
            LogType: "postprocessing"
            Client: "postprocessing"
            MaxPartitions: 5
        }
        InflightLimit {
            ItemsCount: 10000
            ItemsSizeInBytes: 100000000
        }
    }
    Yql {
        Path: "DoNothing"
        InputProto: "NProtos.TInput"
        OutputProto: "NProtos.TInput"
    }
    Output {
        Name: "ZoraHosts"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-hosts"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterHosts"
            InputProto: "NProtos.TInput"
            OutputProto: "NKwYT.THost"
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 120
        MaxProducerCount: 10
    }
    Output {
        Name: "VideoRotorPipeline"
        Queue {
            Ident: "zora-prestable"
            LogType: "videoban"
            PartitionsPerDc: 3
            MaxPartitions: 15
        }
        Yql {
            Path: "VideoRotorPipeline"
            InputProto: "NProtos.TInput"
            OutputProto: "NProtos.TVideoRotorPipelineOutput"
        }
    }
    Output {
        Name: "WattoPipeline"
        Queue {
            Ident: ""
            LogType: ""
            PartitionsPerDc: 3
            MaxPartitions: 15
        }
        Yql {
            Path: "WattoPipeline"
            InputProto: "NProtos.TInput"
            OutputProto: "NProtos.TWattoPipelineOutput"
        }
    }
    Output {
        Name: "ZoraRobotParse"
        Queue {
            Ident: ""
            LogType: ""
            PartitionsPerDc: 3
            MaxPartitions: 15
        }
        Yql {
            Path: "ZoraRobotParse"
            InputProto: "NProtos.TInput"
            OutputProto: "NProtos.TZoraRobotParseOutput"
        }
    }
}

#New channels
Channel {
    Input {
        Source {
            Ident: "zora"
            LogType: "postprocessing-noflow"
            Client: "postprocessing"
            MaxPartitions: 5
        }
        InflightLimit {
            ItemsCount: 10000
            ItemsSizeInBytes: 100000000
        }
        Yql {
            Path: "DoNothing"
            InputProto: "NProtos.TInput"
            OutputProto: "NProtos.TInput"
        }
    }
    Yql {
        Path: "ProcessZoraResponse"
        InputProto: "NProtos.TInput"
        OutputProto: "NProtos.TZoraCommonPipelineOutput"
        OutputSettings {
            TraceMessages: true
        }
    }
    Output {
        Name: "ZoraPipelineNew"
        Queue {
            Ident: ""
            LogType: ""
            PartitionsPerDc: 3
            MaxPartitions: 15
        }
        Yql {
            Path: "PipelineResults"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NProtos.TZoraCommonPipelineOutput"
        }
    }
}

Channel {
    Input {
        Source {
            Ident: "zora"
            LogType: "postprocessing-noflow"
            Client: "postprocessing"
            MaxPartitions: 5
        }
        InflightLimit {
            ItemsCount: 10000
            ItemsSizeInBytes: 100000000
        }
    }
    Yql {
        Path: "DoNothing"
        InputProto: "NProtos.TInput"
        OutputProto: "NProtos.TInput"
    }
    Output {
        Name: "ZoraRobotParseNew"
        Queue {
            Ident: ""
            LogType: ""
            PartitionsPerDc: 3
            MaxPartitions: 15
        }
        Yql {
            Path: "ZoraRobotParse"
            InputProto: "NProtos.TInput"
            OutputProto: "NProtos.TZoraRobotParseOutput"
        }
    }
}

Channel {
    Input {
        Source {
            Ident: "zora"
            LogType: "postprocessing-sitemaps"
            Client: "postprocessing"
            MaxPartitions: 5
        }
        InflightLimit {
            ItemsCount: 10000
            ItemsSizeInBytes: 100000000
        }
        Yql {
            Path: "DoNothing"
            InputProto: "NProtos.TInput"
            OutputProto: "NProtos.TInput"
        }
    }
    Yql {
        Path: "ProcessZoraResponse"
        InputProto: "NProtos.TInput"
        OutputProto: "NProtos.TZoraCommonPipelineOutput"
        OutputSettings {
            TraceMessages: true
        }
    }
    Output {
        Name: "ZoraSitemapsNew"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-sitemaps"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterSitemaps"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TSitemap"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
}

Channel {
    Input {
        Source {
            Ident: "zora"
            LogType: "postprocessing-main"
            Client: "postprocessing"
            MaxPartitions: 5
        }
        InflightLimit {
            ItemsCount: 10000
            ItemsSizeInBytes: 100000000
        }
        Yql {
            Path: "DoNothing"
            InputProto: "NProtos.TInput"
            OutputProto: "NProtos.TInput"
        }
    }
    Yql {
        Path: "ProcessZoraResponse"
        InputProto: "NProtos.TInput"
        OutputProto: "NProtos.TZoraCommonPipelineOutput"
        OutputSettings {
            TraceMessages: true
        }
    }
    Output {
        Name: "ZoraPagesNew"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-pages"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterPages"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 120
        MaxProducerCount: 10
    }
    Output {
        Name: "ZoraPagesFreshNew"
        Queue {
            Server: "bs-prod.logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-pages-fresh"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterPagesFresh"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
    Output {
        Name: "ZoraHitrenimalsPagesNew"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-hitrenimals-pages"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterHitrenimalsPages"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 120
        MaxProducerCount: 10
        IdleSend: true
    }
    Output {
        Name: "ZoraTranslatedSearchNew"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora@prestable"
            LogType: "translated-pages"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterTranslatedSearch"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 172800
        MaxProducerCount: 20
    }
    Output {
        Name: "ZoraImagesFreshNew"
        Queue {
            Server: "bs-prod.logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-images-fresh"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterImagesFresh"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TImage"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
    Output {
        Name: "ZoraAppDocsNew"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-app-docs"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterAppDocs"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
    Output {
        Name: "ZoraOriginalImagesNew"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora-prestable"
            LogType: "original-images"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterOriginalImages"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TTurboImagesItem"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
    Output {
        Name: "ZoraImagesNew"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-images"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterImages"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TImage"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
    }
    Output {
        Name: "MockPagesNew"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "mock-pages-prestable"
            PartitionsPerDc: 1
            MaxPartitions: 5
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterMockPages"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 172800
        MaxProducerCount: 10
    }
    Output {
        Name: "MockPagesFreshNew"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora@prestable"
            LogType: "mock-pages-fresh"
            PartitionsPerDc: 1
            MaxPartitions: 5
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterMockPagesFresh"
            InputProto: "NProtos.TZoraCommonPipelineOutput"
            OutputProto: "NKwYT.TDocument"
            InputSettings {
                TraceMessages: true
            }
            OutputSettings {
                TraceMessages: true
            }
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 172800
        MaxProducerCount: 10
    }
}

Channel {
    Input {
        Source {
            Ident: "zora"
            LogType: "postprocessing-hosts"
            Client: "postprocessing"
            MaxPartitions: 5
        }
        InflightLimit {
            ItemsCount: 10000
            ItemsSizeInBytes: 100000000
        }
    }
    Yql {
        Path: "DoNothing"
        InputProto: "NProtos.TInput"
        OutputProto: "NProtos.TInput"
    }
    Output {
        Name: "ZoraHostsNew"
        Queue {
            Server: "logbroker.yandex.net"
            Ident: "zora"
            LogType: "prestable-hosts"
            PartitionsPerDc: 3
            MaxPartitions: 15
            ProducerCodec: GZIP
        }
        Yql {
            Path: "FilterHosts"
            InputProto: "NProtos.TInput"
            OutputProto: "NKwYT.THost"
        }
        EnablePerFieldCounters: true
        ProducerMaxLifetimeSec: 120
        MaxProducerCount: 10
    }
}
Channel {
    Input {
        Source {
            Ident: "zora"
            LogType: "postprocessing-videorotor"
            Client: "postprocessing"
            MaxPartitions: 5
        }
        InflightLimit {
            ItemsCount: 10000
            ItemsSizeInBytes: 100000000
        }
    }
    Yql {
        Path: "DoNothing"
        InputProto: "NProtos.TInput"
        OutputProto: "NProtos.TInput"
    }
    Output {
        Name: "VideoRotorPipelineNew"
        Queue {
            Ident: "zora-prestable"
            LogType: "videoban"
            PartitionsPerDc: 3
            MaxPartitions: 15
        }
        Yql {
            Path: "VideoRotorPipeline"
            InputProto: "NProtos.TInput"
            OutputProto: "NProtos.TVideoRotorPipelineOutput"
        }
    }
}
Channel {
    Input {
        Source {
            Ident: "zora"
            LogType: "postprocessing-watto"
            Client: "postprocessing"
            MaxPartitions: 5
        }
        InflightLimit {
            ItemsCount: 10000
            ItemsSizeInBytes: 100000000
        }
    }
    Yql {
        Path: "DoNothing"
        InputProto: "NProtos.TInput"
        OutputProto: "NProtos.TInput"
    }
    Output {
        Name: "WattoPipelineNew"
        Queue {
            Ident: ""
            LogType: ""
            PartitionsPerDc: 3
            MaxPartitions: 15
        }
        Yql {
            Path: "WattoPipeline"
            InputProto: "NProtos.TInput"
            OutputProto: "NProtos.TWattoPipelineOutput"
        }
    }
}

Limits {
    OutputInflightLimit {
        ItemsCount: 10000
        ItemsSizeInBytes: 5000000000
    }
    MaxOutputMessageSize: 134217728
    WorkerThreadsCount: 8
}
HighMemoryPressureRatio: 0.96
UseProcesses: true
InstanceStateFilePath: "/db/bsconfig/webcache/rthub-zorapp/instance"
ExecutionTimeoutMillis: 15000
LibrariesPath: "data/libraries_nocompress"
YqlPath: "data/queries_nocompress"
UnifiedAgentUri: "unix:///tmp/unified_agent_zora_pp_rthub.sock"
