monitoring:
  port: 16300

status:
  port: 16301

storages:
  - name: spider_ua_storage
    plugin: fs
    config:
      directory: ./unified_agent_storage
      max_partition_size: 100mb

routes:
  - input:
      plugin: grpc
      config:
        uri: unix:///tmp/unified_agent.sock # Поддерживается также и host:port
    channel:
      pipe:
        - storage_ref:
            storage: spider_ua_storage
        - filter:
            plugin: protoseq_batch
            config:
              flush_period: 100ms
              limit:
                bytes: 256kb
        - filter:
            plugin: assign
            config:
              session:
              - server: "{$host_name}"
      case:
        - when:
            session:
              log-type: UrlLogs
          channel:
            output:
              plugin: logbroker
              config:
                endpoint: logbroker.yandex.net
                topic: /zora/spider-info-log
                tvm:
                  client_id: 2000193
                  secret:
                    file: ~/zora_secrets/tvm.keys
                export_session_meta_keys:
                  - server
        - when:
            session:
              log-type: HostLogs
          channel:
            output:
              plugin: logbroker
              config:
                endpoint: logbroker.yandex.net
                topic: /zora/spider-info-hosts-log
                tvm:
                  client_id: 2000193
                  secret:
                    file: ~/zora_secrets/tvm.keys
                export_session_meta_keys:
                  - server
        - when:
            session:
              log-type: RobotsLogs
          channel:
            output:
              plugin: logbroker
              config:
                endpoint: logbroker.yandex.net
                topic: /zora/spider-info-robots-log
                tvm:
                  client_id: 2000193
                  secret:
                    file: ~/zora_secrets/tvm.keys
                export_session_meta_keys:
                  - server
