GenAct {
  NumberOfThreads: 22

  EnableIcInternalLogger: true
  InterconnectCommonPriority: 5
  InterconnectProxyTCPPriority: 5
  InterconnectSessionTCPPriority: 5
  LoggerPriority: 5
  ASInternalLoggerMaxLagBeforeDroppingMSec: 3000

  ClusterConf: "config/test/cluster.conf"
}
Servers {
  MessagebusServer {
    MaxInFlight: 12000000
    SampleSockPath: "./run/MBSample.sock"
  }
  HttpServer {
    SampleSockPath: "./run/HttpSample.sock"
  }
}
Dns {
  TempFolder: "./temp/"
  LimitsConfig: "./config/test/limits.pb.txt"
}
Distr {
  DistrConf: "./config/test/distr.conf"
  DistrConfUserproxy: "./config/test/distr.conf.userproxy"
  Ipgeo: "./config/ipgeo.dat"
  IpgeoUserproxy: "./config/ipgeo.dat"
  YtProxy: "locke.yt.yandex.net"
  YtBasePath: "//home/zora/test"
  YtTokenPath: "./zora_secrets/yt.token"
  DisableConnectivityLib: true
}
Auth {
  SQuotaConfig: "./config/test/squota.conf"
  HNaMRCacheFolder: "/persistent/zora/run/"
  TvmSecretPath: "./zora_secrets/tvm.keys"
}
Rotor {
  RotorHostPort: "localhost"
  MbMaxInFlight: 12000000
}
CalcProc {
  CalcUser: "zora"
  NoMeta: true
  # MetaHost: "dev-zora-master.search.yandex.net"
  RthubClusterConfigPath: "./config/test/rthub_cluster.conf"
  DedicatedRthubClusterConfigPath: "./config/test/dedicated_rthub_cluster.conf"
  RthubMode: true
}
SockPath: "./run/fut_subs_lpsock"
WwwFolder: "./www/"

SpiderGrpcConfig {
  ServerUri: "[::]:22234"
  ClientPort: 22235
}

DistributionConfig: "./config/test/distribution.pb.txt"

RoleSelectorConfig {
    YtCluster: "markov"
    YtPrefix: "//home/zora/spider-test/"
    YtUser: "robot-zora"
    YtTokenPath: "./zora_secrets/yt.token"

    Config {
        RefreshPeriod: 30
        ExpireTime: 90
        MaxRolesWeight: 0

        Roles {
            Name: "spider"
            ShardCount: 30
            ObserveOnly: true
        }
    }
}

PdfetchGrpcConfig {
  ServerUri: "[::]:22235"
  ClusterConfPath: "./config/test/pdfetch_cluster.conf"
}
VideoPdfetchClusterConfPath: "./config/test/pdfetch_cluster.conf"

ActorSystemConfig {
    Pools {
        Id: POOL_DEFAULT
        Type: PT_BASIC
        Label: "zora"
        Threads: 1
    }
}
