<!DOCTYPE html>
<html charset="{{ query.encoding }}">
    <head>
        <title></title>
        <script type="text/javascript" src="{{ buildPath }}/e2e/local.js"></script>
        <script
            type="text/javascript"
            src="/socket/socket.io.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            window._socket = io('{{ host }}:{{ port }}');
        </script>
    </body>
</html>
