#!/bin/sh

PYTHONPATH={{testsuite_pythonpath}}:$PYTHONPATH

export PYTHONPATH

exec {{testsuite_python_binary}} -m tests_plugins.taxienv         \
     -s mongo,redis,postgresql,yt,ydb                             \
     "$@"
