doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/highlight/styles/tomorrow.css')
    script(src='/javascripts/highlight.pack.js')
  body
    h1 CSP Tester
    script hljs.initHighlightingOnLoad();
    block content
