{{#> base}}
    {{#*inline "head"}}
        <script>
            const articleJson = {
                "@id": "1",
                "@context": "schema.org",
                "@type": "Article",
                "author": {
                    "@type": "Person",
                    "name": "Vasily Pupkin"
                },
                "url": "https://example.com/article/1#my-article",
                "headline": "Vasily's guide to writing pointless articles",
                "text": ".".repeat(501),
                "datePublished": "2018-12-11T08:56:49Z",
                "dateModified": "2018-12-14T01:50:49Z",
                "about": {
                    "@type": "Thing",
                    "name": "Postmodern phylosophy"
                }
            };
            const articleTag = document.createElement('script');
            articleTag.innerHTML = JSON.stringify(articleJson);
            articleTag.setAttribute('type', 'application/ld+json');
            document.head.appendChild(articleTag);
        </script>
    {{/inline}}
    {{#*inline "content"}}
        <div>
            <div id="hermione-test">Hermione works!</div>
            <div id="my-article">
                <h1>My title</h1>
                <div>
                    This is articles content
                </div>
                <a href="./microdata.hbs" class="go">переходите, гости дорогие</a>
            </div>
        </div>
    {{/inline}}
{{/base}}
