{{#> base}}
    {{#*inline "content"}}
        <div id="parent">
            <div id="hermione-test">Hermione works!</div>
            <div id="article" itemtype="http://schema.org/Article">
                <div itemtype="http://schema.org/BreadcrumbList">
                    <div itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                        <meta itemprop="name info" content="DRIVE2"/>
                        <link itemprop="item" href="https://www.drive2.ru/">
                        <meta itemprop="position" content="1"/>
                    </div>
                    <div itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                        <meta itemprop="name" content="ZHOPA"/>
                        <link itemprop="item" href="https://www.drive2.ru/ZHOPA">
                        <meta itemprop="position" content="2"/>
                    </div>
                </div>
                <h1 itemprop="headline">How to drive</h1>
                <div itemprop="author" itemtype="http://schema.org/Person">
                    <div itemprop="name" >Vasily Pupkin</div>
                </div>
                <div itemprop="author" itemtype="http://schema.org/Person">
                    <div itemprop="name">John Doe</div>
                </div>
                <div itemprop="datePublished">2018-12-14T01:50:49Z</div>
                <div itemprop="dateModified">2018-12-11T08:56:49Z</div>
                <div itemprop="about">DRIVING! FOR GOD'S SAKE THIS SITE CALLED DRIVE2! WHAT ELSE THIS SHIT IS ABOUT!?</div>
                <div id="article-body" itemprop="articleBody">
                    <script>
                        document.getElementById('article-body').innerText = '.'.repeat(501);
                    </script>
                </div>
            </div>
        </div>
    {{/inline}}
{{/base}}
