{{#> base}}
    {{#*inline "head"}}
        <link rel="canonical" href="https://example.com/pointless-articles-2-electric-boogaloo">
        <meta property="og:type" content="article">
        <meta property="og:author" content="John Doe">
        <meta property="og:author" content="Jack Shit">
        <meta property="og:title" content="Some inconsequential article">
        <meta property="og:modified_time" content="2018-12-11T08:56:49Z">
        <meta property="og:published_time" content="2018-12-09T08:56:49Z">
        <meta property="og:url" content="https://example.com/artcicle-example">
        <meta property="og:tag" content="tag1">
        <meta property="og:tag" content="tag2">
        <meta property="og:section" content="Beeing generally useless">
        <meta property="og:section" content="Inernet garbage">
    {{/inline}}
    {{#*inline "content"}}
        <div>
            <h1>Another useless article</h1>
            <div id="article-body">
                <script>
                    document.getElementById('article-body').innerText = '.'.repeat(501);
                </script>
            </div>
        </div>
    {{/inline}}
{{/base}}
