include conf.d/yandex-taxi-unit.upstream_list;


server {
    include listen;
    server_name empty.yandex-team.ru;
    server_name empty.yandex.net;

    location / {
        proxy_http_version 1.1;
        proxy_pass http://upstream_name/;
    }
}
