{{#> base}}
    {{#*inline "title"}}
        Informer page title
    {{/inline}}
    {{#*inline "content"}}
        Informer page
        <div id="test">
            <a href="./another-page.hbs">
                <img
                        id="informer-image"
                        src="https://informer.yandex.ru/informer"
                        alt="informer image"
                        class="ym-advanced-informer"
                        data-lang="en"
                        data-cid="123"
                />
            </a>
            <br />
            <a id="link-to-page" href="./another-page.hbs"><span>Another Page</span></a>
            <br />
            <a href="./another-page.hbs">
                <img
                        id="not-an-informer-image"
                        alt="NOT an informer image"
                        class="ym-advanced-informer"
                        data-lang="en"
                        data-cid="123"
                />
            </a>
        </div>
        <script src="./helpers.js"></script>
    {{/inline}}
{{/base}}
