{{#> base}}
    {{#*inline "title"}}
        UA Informer page title
    {{/inline}}
    {{#*inline "defHeadCounterScripts"}}
        <script type="text/javascript" src="{{ buildPath }}/e2e/ua_informer.js"></script>
    {{/inline}}
    {{#*inline "content"}}
        UA Informer page
        <br />
        <a href="./another-page.hbs">
            <img
                    id="informer-image"
                    src="https://informer.yandex.ru/informer"
                    alt="informer image"
                    class="ym-advanced-informer"
                    data-lang="en"
                    data-cid="123"
            />
        </a>
        <script src="./helpers.js"></script>
    {{/inline}}
{{/base}}
