Source: yandex-mobile-test-taxi-minor-mongodb-config
Section: unknown
Priority: extra
Maintainer: Elena Konoreva <aesdana@yandex-team.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: yandex-mobile-test-taxi-minor-mongodb-config
Architecture: all
Description: Replicaset config
Conflicts: yandex-online-mongo
Depends: mongodb (>= 1:2.0.2.yandex3)
 

