{{#> base}}
    {{#*inline "title"}}
        Submit tracking page title
    {{/inline}}
    {{#*inline "content"}}
        Submit tracking page

        <form id="form1" name="searchForm">
            <input name="name">
            <button id="button1" type="submit">Отправить</button>
        </form>

        <div></div>
        <span></span>

        <div>
            <form id="form2">
                <input name="name">
                <input name="id">
                <button id="button2" type="submit">Отправить</button>
            </form>
        </div>

        <div>
            <form id="form3">
                <input name="name">
                <button id="button3" type="submit">
                    <span id="span3">Отправить</span>
                </button>
            </form>
        </div>

        <script>
            const form1 = document.getElementById('form1');
            form1.addEventListener('submit', function (e) {
                e.preventDefault();
            });

            const button2 = document.getElementById('button2');
            button2.addEventListener('click', function (e) {
                e.preventDefault();
            });

            const form3 = document.getElementById('form3');
            form3.addEventListener('submit', function (e) {
                e.preventDefault();
            });
        </script>
    {{/inline}}
{{/base}}
