<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false">

  <extensions>
    <add assembly="Yandex.Taximeter.Core"/>
  </extensions>

  <targets>
    <target name="null" xsi:type="Null" />
    <target name="main" xsi:type="AsyncWrapper"  timeToSleepBetweenBatches="100">
      <target xsi:type="File" fileName="/var/log/yandex/taximeter-web-client/taximeter-web-client.log"
            keepFileOpen="true" concurrentWrites="true">
        <layout xsi:type="TskvLayout"/>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="main" />
  </rules>
</nlog>