CREATE TABLE IF NOT EXISTS {{ teamcity_table_name }} (
    build_number VARCHAR(500) PRIMARY KEY,
    test_count NUMERIC,
    test_failed NUMERIC,
    agent_name VARCHAR(500),
    build_id NUMERIC,
    duration NUMERIC,
    test_duration NUMERIC,
    sandbox_duration NUMERIC,
    finish_date NUMERIC,
    start_date NUMERIC,
    status VARCHAR(1000),
    status_text VARCHAR(1000),
    branch_name VARCHAR(500),
    failure_reason VARCHAR(500)
);
