CREATE TABLE {{ teamcity_table_name }} (
    build_number String,
    test_count Uint64,
    test_failed Uint64,
    agent_name String,
    build_id Uint64,
    duration Uint64,
    test_duration Uint64,
    sandbox_duration Uint64,
    finish_date Uint64,
    start_date Uint64,
    status String,
    status_text String,
    branch_name String,
    failure_reason String,
    PRIMARY KEY (build_id)
);
