    eats-catalog.eda.tst.yandex.net/api/v2/catalog/slug_GET:
        And:
          - Equals: {http_host: "eats-catalog.eda.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - Or:
              - StartsWith: {request_url: "/api/v1/catalog"}
              - StartsWith: {request_url: "/api/v2/catalog"}
        Options:
            CustomHttp:
              - 400      # Bad Request
              - 401      # Unauthorized
              - 403      # Forbidden
              - 404      # Not found
              - 406      # Not acceptable.
              - 410      # Gone
              - 429      # Too many requests

    eats-catalog.eda.tst.yandex.net/4.0/eda-superapp/api/v2/catalog/slug_GET:
        And:
          - Equals: {http_host: "eats-catalog.eda.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - Or:
              - StartsWith: {request_url: "/4.0/eda-superapp/api/v1/catalog"}
              - StartsWith: {request_url: "/4.0/eda-superapp/api/v2/catalog"}
        Options:
            CustomHttp:
              - 400      # Bad Request
              - 401      # Unauthorized
              - 403      # Forbidden
              - 404      # Not found
              - 406      # Not acceptable.
              - 410      # Gone
              - 429      # Too many requests

    eats-catalog.eda.tst.yandex.net/api/v2/regions_GET:
        And:
          - Equals: {http_host: "eats-catalog.eda.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - Or:
              - StartsWith: {request_url: "/api/v2/regions"}
              - StartsWith: {request_url: "/4.0/eda-superapp/api/v2/regions"}
        Options:
            CustomHttp:
              - 400      # Bad Request
              - 401      # Unauthorized
              - 403      # Forbidden
              - 404      # Not found
              - 406      # Not acceptable. Could return arbitrary (any) JSON
              - 410      # Gone
              - 429      # Too many requests
