    eats-authproxy.eda.tst.yandex.net/api/v1/orders_POST:
        And:
          - Equals: {http_host: "eats-authproxy.eda.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Equals: {request_url: "/api/v1/orders"}
              - Equals: {request_url: "/api/v1/orders/"}
              - StartsWith: {request_url: "/api/v1/orders?"}
              - StartsWith: {request_url: "/api/v1/orders/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

