    chatterbox_taxi_tst_yandex_net_v1_tasks:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - Equals: { request_method: "POST" }
        - Or:
          - Equals: { request_url: "/v1/tasks" }
          - Equals: { request_url: "/v1/tasks/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_get_v1_tasks:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - Equals: { request_method: "GET" }
        - StartsWith: { request_url: "/v1/tasks/" }
        - Not:
          - Contains: { request_url: "/sip_url" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_init_client:
      And:
        - Or:
          - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
          - Equals: { http_host: "chatterbox.taxi.tst.yandex-team.ru" }
        - Equals: { request_method: "POST" }
        - Or:
          - Equals: { request_url: "/v1/tasks/init/client" }
          - Equals: { request_url: "/v1/tasks/init/client/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_init_driver:
      And:
        - Or:
          - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
          - Equals: { http_host: "chatterbox.taxi.tst.yandex-team.ru" }
        - Equals: { request_method: "POST" }
        - Or:
          - Equals: { request_url: "/v1/tasks/init/driver" }
          - Equals: { request_url: "/v1/tasks/init/driver/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_get_v1_tasks_sip_url:
      And:
        - Or:
          - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - Equals: { request_method: "GET" }
        - StartsWith: { request_url: "/v1/tasks/" }
        - Contains: { request_url: "/sip_url" }
      Options:
        CustomHttp:
          - 400
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_search:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks/search" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_update_meta:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Or:
          - EndsWith: { request_url: "/update_meta" }
          - EndsWith: { request_url: "/update_meta/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_add_to_meta:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Or:
          - EndsWith: { request_url: "/add_to_meta" }
          - EndsWith: { request_url: "/add_to_meta/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_take:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks/take" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_dashboard:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks/dashboard" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_yandex_net_v1_tasks_take_by_id:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks/" }
        - Or:
          - EndsWith: { request_url: "/take" }
          - EndsWith: { request_url: "/take/" }
        - Not:
          - StartsWith: { request_url: "/v1/tasks/take" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_me:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/me" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_close:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Or:
          - EndsWith: { request_url: "/close" }
          - EndsWith: { request_url: "/close/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_comment:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Or:
          - EndsWith: { request_url: "/comment" }
          - EndsWith: { request_url: "/comment/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_yandex_net_v1_tasks_communicate:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Or:
          - EndsWith: { request_url: "/communicate" }
          - EndsWith: { request_url: "/communicate/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_defer:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Contains: { request_url: "/defer" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_reopen:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Contains: { request_url: "/reopen" }

      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_assign:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Contains: { request_url: "/assign" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_create_extra_ticket:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks/" }
        - Contains: { request_url: "/create_extra_ticket" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_dismiss:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Contains: { request_url: "/dismiss" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_forward:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Contains: { request_url: "/forward/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_hidden_comment:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Or:
          - EndsWith: { request_url: "/hidden_comment" }
          - EndsWith: { request_url: "/hidden_comment/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_export:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Contains: { request_url: "/export/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_line_options:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - And:
          - StartsWith: { request_url: "/v1/lines/" }
          - Contains: { request_url: "/options" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_lines_available:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/lines/" }
        - Or:
          - EndsWith: { request_url: "/available" }
          - EndsWith: { request_url: "/available/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_lines_available_by_logins:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/lines/" }
        - Or:
          - EndsWith: { request_url: "/available_by_logins" }
          - EndsWith: { request_url: "/available_by_logins/" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_stat:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/stat" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_yandex_net_v1_stat_realtime_lines:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/stat/realtime/lines" }
      Options:
        CustomHttp:
          - 400
          - 401
          - 403

    chatterbox_taxi_yandex_net_v1_stat_realtime_supporters:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/stat/realtime/supporters" }
      Options:
        CustomHttp:
          - 400
          - 401
          - 403

    chatterbox_taxi_yandex_net_v1_stat_realtime_by_hour:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/stat/realtime/by_hour" }
      Options:
        CustomHttp:
          - 400
          - 401
          - 403

    chatterbox_taxi_yandex_net_v1_stat_config:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/stat/config" }
      Options:
        CustomHttp:
          - 401
          - 403

    chatterbox_taxi_tst_yandex_net_v1_webhooks_startrack_task:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/webhooks/startrack_task" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_get_v1_startrek_sip_url:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - Equals: { request_method: "GET" }
        - StartsWith: { request_url: "/v1/startrek/" }
        - Or:
            - EndsWith: { request_url: "/sip_url" }
            - EndsWith: { request_url: "/sip_url/" }
      Options:
        CustomHttp:
          - 400
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_webhooks_call:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/webhooks/" }
        - Or:
          - EndsWith: { request_url: "/call" }
          - EndsWith: { request_url: "/call/" }
        - Equals: { request_method: "POST" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 404
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_webhooks_tracker_call:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/webhooks/" }
        - Or:
          - EndsWith: { request_url: "/tracker_call" }
          - EndsWith: { request_url: "/tracker_call/" }
        - Equals: { request_method: "POST" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 404
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_attachment:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Contains: { request_url: "/attachment/" }
        - Equals: { request_method: "GET" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_sip_record:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks/" }
        - Contains: { request_url: "/sip_record/" }
        - Equals: { request_method: "GET" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 404
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_get_v1_startrek_sip_record:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/startrek/sip_record/" }
        - Equals: { request_method: "GET" }
      Options:
        CustomHttp:
          - 400
          - 401
          - 403
          - 404

    chatterbox_taxi_yandex_net_get_v1_user_status:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - Equals: { request_method: "GET" }
        - StartsWith: { request_url: "/v1/user/status" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_yandex_net_post_v1_user_status:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - Equals: { request_method: "POST" }
        - StartsWith: { request_url: "/v1/user/status" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_yandex_net_post_v1_user_incoming_sip:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - Equals: { request_method: "POST" }
        - StartsWith: { request_url: "/v1/user/incoming_sip" }
      Options:
        CustomHttp:
          - 401
          - 403
          - 406
          - 409
          - 410
          - 429

    chatterbox_taxi_tst_yandex_net_v1_tasks_move:
      And:
        - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Contains: { request_url: "/move" }
      Options:
        CustomHttp:
          - 400
          - 401
          - 403
          - 404

    chatterbox_taxi_yandex_net_v1_tasks_manual_update_meta:
      And:
        - Or:
          - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
          - Equals: { http_host: "chatterbox.taxi.tst.yandex-team.ru" }
        - StartsWith: { request_url: "/v1/tasks" }
        - Contains: { request_url: "/manual_update_meta" }
      Options:
        CustomHttp:
          - 400
          - 401
          - 403
          - 404

    chatterbox_taxi_yandex_net_v1_restart_routing:
      And:
        - Or:
          - Equals: { http_host: "chatterbox.taxi.tst.yandex.net" }
          - Equals: { http_host: "chatterbox.taxi.tst.yandex-team.ru" }
        - StartsWith: { request_url: "/v1/tasks/restart_routing" }
      Options:
        CustomHttp:
          - 400
          - 401
          - 403
          - 404
