    taxi_internal-trackstory_testing/pipeline/track_POST:
        And:
          - Equals: {http_host: "internal-trackstory.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Contains: {request_url: "/track?"}
              - Contains: {request_url: "/track/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    taxi_internal-trackstory_testing/pipeline/position_POST:
        And:
          - Equals: {http_host: "internal-trackstory.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Contains: {request_url: "/position?"}
              - Contains: {request_url: "/position/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    taxi_internal-trackstory_testing/pipeline/bulk/positions_POST:
        And:
          - Equals: {http_host: "internal-trackstory.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Contains: {request_url: "/bulk/positions"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    taxi_internal-trackstory_testing/pipeline/shorttrack_POST:
        And:
          - Equals: {http_host: "internal-trackstory.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Contains: {request_url: "/shorttrack?"}
              - Contains: {request_url: "/shorttrack/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    taxi_internal-trackstory_testing/pipeline/bulk/shorttracks_POST:
        And:
          - Equals: {http_host: "internal-trackstory.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Contains: {request_url: "/bulk/shorttracks"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests
