    taxi_billing-subventions-x_testing: # All handlers for host.
        And:
          - Equals: {http_host: "taxi_billing-subventions-x_testing"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    taxi_billing-subventions-x_testing/ping_GET:
        And:
          - Equals: {http_host: "taxi_billing-subventions-x_testing"}
          - Equals: {request_method: "GET"}
          - Or: # No description provided.
              - Equals: {request_url: "/ping"}
              - Equals: {request_url: "/ping/"}
              - StartsWith: {request_url: "/ping?"}
              - StartsWith: {request_url: "/ping/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests
