{% if api_coverage_enabled %}
async def test_api_coverage(
    collect_coverage_report,
    request,
):
    coverage_ratio = request.config.cache.get(
        'service_api_coverage_ratio', None,
    )
    if not coverage_ratio:
        return
{% endif %}
