    media-storage.taxi.tst.yandex.net/service_driver_photo_v1_store:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/driver-photo/v1/store"}
            - Equals: {request_url: "/service/driver-photo/v1/store/"}
            - StartsWith: {request_url: "/service/driver-photo/v1/store?"}
            - StartsWith: {request_url: "/service/driver-photo/v1/store/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests
              
    media-storage.taxi.tst.yandex.net/service_driver_photo_v1_retrieve:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/driver-photo/v1/retrieve"}
            - Equals: {request_url: "/service/driver-photo/v1/retrieve/"}
            - StartsWith: {request_url: "/service/driver-photo/v1/retrieve?"}
            - StartsWith: {request_url: "/service/driver-photo/v1/retrieve/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests

    media-storage.taxi.tst.yandex.net/service_driver_photo_v1_delete:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "DELETE"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/driver-photo/v1/delete"}
            - Equals: {request_url: "/service/driver-photo/v1/delete/"}
            - StartsWith: {request_url: "/service/driver-photo/v1/delete?"}
            - StartsWith: {request_url: "/service/driver-photo/v1/delete/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests
              
    media-storage.taxi.tst.yandex.net/service_sos_audio_v1_store:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/sos-audio/v1/store"}
            - Equals: {request_url: "/service/sos-audio/v1/store/"}
            - StartsWith: {request_url: "/service/sos-audio/v1/store?"}
            - StartsWith: {request_url: "/service/sos-audio/v1/store/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests
              
    media-storage.taxi.tst.yandex.net/service_sos_audio_v1_retrieve:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/sos-audio/v1/retrieve"}
            - Equals: {request_url: "/service/sos-audio/v1/retrieve/"}
            - StartsWith: {request_url: "/service/sos-audio/v1/retrieve?"}
            - StartsWith: {request_url: "/service/sos-audio/v1/retrieve/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests
              
    media-storage.taxi.tst.yandex.net/service_sos_audio_v1_delete:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "DELETE"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/sos-audio/v1/delete"}
            - Equals: {request_url: "/service/sos-audio/v1/delete/"}
            - StartsWith: {request_url: "/service/sos-audio/v1/delete?"}
            - StartsWith: {request_url: "/service/sos-audio/v1/delete/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests

    media-storage.taxi.tst.yandex.net/service_identity_card_v1_store:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/identity-card/v1/store"}
            - Equals: {request_url: "/service/identity-card/v1/store/"}
            - StartsWith: {request_url: "/service/identity-card/v1/store?"}
            - StartsWith: {request_url: "/service/identity-card/v1/store/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests

    media-storage.taxi.tst.yandex.net/service_identity_card_v1_retrieve:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/identity-card/v1/retrieve"}
            - Equals: {request_url: "/service/identity-card/v1/retrieve/"}
            - StartsWith: {request_url: "/service/identity-card/v1/retrieve?"}
            - StartsWith: {request_url: "/service/identity-card/v1/retrieve/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests

    media-storage.taxi.tst.yandex.net/service_identity_card_v1_delete:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "DELETE"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/identity-card/v1/delete"}
            - Equals: {request_url: "/service/identity-card/v1/delete/"}
            - StartsWith: {request_url: "/service/identity-card/v1/delete?"}
            - StartsWith: {request_url: "/service/identity-card/v1/delete/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests

    media-storage.taxi.tst.yandex.net/service_medical_card_v1_store:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/medical-card/v1/store"}
            - Equals: {request_url: "/service/medical-card/v1/store/"}
            - StartsWith: {request_url: "/service/medical-card/v1/store?"}
            - StartsWith: {request_url: "/service/medical-card/v1/store/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests

    media-storage.taxi.tst.yandex.net/service_medical_card_v1_retrieve:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/medical-card/v1/retrieve"}
            - Equals: {request_url: "/service/medical-card/v1/retrieve/"}
            - StartsWith: {request_url: "/service/medical-card/v1/retrieve?"}
            - StartsWith: {request_url: "/service/medical-card/v1/retrieve/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests

    media-storage.taxi.tst.yandex.net/service_medical_card_v1_delete:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "DELETE"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/medical-card/v1/delete"}
            - Equals: {request_url: "/service/medical-card/v1/delete/"}
            - StartsWith: {request_url: "/service/medical-card/v1/delete?"}
            - StartsWith: {request_url: "/service/medical-card/v1/delete/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests

    media-storage.taxi.tst.yandex.net/service_driver_license_v1_store:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/driver-license/v1/store"}
            - Equals: {request_url: "/service/driver-license/v1/store/"}
            - StartsWith: {request_url: "/service/driver-license/v1/store?"}
            - StartsWith: {request_url: "/service/driver-license/v1/store/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests

    media-storage.taxi.tst.yandex.net/service_driver_license_v1_retrieve:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/driver-license/v1/retrieve"}
            - Equals: {request_url: "/service/driver-license/v1/retrieve/"}
            - StartsWith: {request_url: "/service/driver-license/v1/retrieve?"}
            - StartsWith: {request_url: "/service/driver-license/v1/retrieve/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests

    media-storage.taxi.tst.yandex.net/service_driver_license_v1_delete:
        And:
          - Equals: {http_host: "media-storage.taxi.tst.yandex.net"}
          - Equals: {request_method: "DELETE"}
          - Or: # No description provided.
            - Equals: {request_url: "/service/driver-license/v1/delete"}
            - Equals: {request_url: "/service/driver-license/v1/delete/"}
            - StartsWith: {request_url: "/service/driver-license/v1/delete?"}
            - StartsWith: {request_url: "/service/driver-license/v1/delete/?"}
        Options:
            CustomHttp:
              - 400 # Неподдерживаемый тип данных
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not Found
              - 429 # Too many requests
