    driver-categories-api.taxi.tst.yandex.net/v1/categories_PUT:
        And:
          - Equals: { http_host: "driver-categories-api.taxi.tst.yandex.net" }
          - Equals: { request_method: "PUT" }
          - Or:
              - Equals: { request_url: "/v1/categories" }
              - Equals: { request_url: "/v1/categories/" }
              - StartsWith: { request_url: "/v1/categories?" }
              - StartsWith: { request_url: "/v1/categories/?" }
        Options:
            CustomHttp:
              - 400 # Bad Request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 405 # Method Not Allowed
              - 409 # Conflict
              - 429 # Too many requests

    driver-categories-api.taxi.tst.yandex.net/v1/categories_DELETE:
        And:
          - Equals: { http_host: "driver-categories-api.taxi.tst.yandex.net" }
          - Equals: { request_method: "DELETE" }
          - Or:
              - Equals: { request_url: "/v1/categories" }
              - Equals: { request_url: "/v1/categories/" }
              - StartsWith: { request_url: "/v1/categories?" }
              - StartsWith: { request_url: "/v1/categories/?" }
        Options:
            CustomHttp:
              - 400 # Bad Request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 405 # Method Not Allowed
              - 409 # Conflict
              - 429 # Too many requests

    driver-categories-api.taxi.tst.yandex.net/v1/categories_POST:
        And:
          - Equals: { http_host: "driver-categories-api.taxi.tst.yandex.net" }
          - Equals: { request_method: "POST" }
          - Or:
              - Equals: { request_url: "/v1/categories" }
              - Equals: { request_url: "/v1/categories/" }
              - StartsWith: { request_url: "/v1/categories?" }
              - StartsWith: { request_url: "/v1/categories/?" }
        Options:
            CustomHttp:
              - 400 # Bad Request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 405 # Method Not Allowed
              - 409 # Conflict
              - 429 # Too many requests

    driver-categories-api.taxi.tst.yandex.net/v1/categories_GET:
        And:
          - Equals: { http_host: "driver-categories-api.taxi.tst.yandex.net" }
          - Equals: { request_method: "GET" }
          - Or:
              - Equals: { request_url: "/v1/categories" }
              - Equals: { request_url: "/v1/categories/" }
              - StartsWith: { request_url: "/v1/categories?" }
              - StartsWith: { request_url: "/v1/categories/?" }
        Options:
            CustomHttp:
              - 400 # Bad Request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 405 # Method Not Allowed
              - 409 # Conflict
              - 429 # Too many requests
