    vgw-ya-tel-adapter.taxi.tst.yandex.net/talks/{talk_id}/record_GET:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - StartsWith: {request_url: "/talks/"}
          - Contains: {request_url: "/record"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    # Beeline
    vgw-ya-tel-adapter.taxi.tst.yandex.net/beeline/redirections_POST:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Equals: {request_url: "/beeline/redirections"}
              - Equals: {request_url: "/beeline/redirections/"}
              - StartsWith: {request_url: "/beeline/redirections?"}
              - StartsWith: {request_url: "/beeline/redirections/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests
              - 503 # Service unavailable

    vgw-ya-tel-adapter.taxi.tst.yandex.net/beeline/redirections_GET:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/beeline/redirections"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    vgw-ya-tel-adapter.taxi.tst.yandex.net/beeline/redirections_DELETE:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "DELETE"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/beeline/redirections/"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    vgw-ya-tel-adapter.taxi.tst.yandex.net/beeline/talks_GET:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - Or: # No description provided.
              - Equals: {request_url: "/beeline/talks"}
              - Equals: {request_url: "/beeline/talks/"}
              - StartsWith: {request_url: "/beeline/talks?"}
              - StartsWith: {request_url: "/beeline/talks/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    vgw-ya-tel-adapter.taxi.tst.yandex.net/beeline/talks/{talk_id}/record_GET:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - StartsWith: {request_url: "/beeline/talks/"}
          - Contains: {request_url: "/record"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    # Kcell
    vgw-ya-tel-adapter.taxi.tst.yandex.net/kcell/redirections_POST:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Equals: {request_url: "/kcell/redirections"}
              - Equals: {request_url: "/kcell/redirections/"}
              - StartsWith: {request_url: "/kcell/redirections?"}
              - StartsWith: {request_url: "/kcell/redirections/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests
              - 503 # Service unavailable

    vgw-ya-tel-adapter.taxi.tst.yandex.net/kcell/redirections_GET:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/kcell/redirections"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    vgw-ya-tel-adapter.taxi.tst.yandex.net/kcell/redirections_DELETE:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "DELETE"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/kcell/redirections/"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    vgw-ya-tel-adapter.taxi.tst.yandex.net/kcell/talks_GET:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - Or: # No description provided.
              - Equals: {request_url: "/kcell/talks"}
              - Equals: {request_url: "/kcell/talks/"}
              - StartsWith: {request_url: "/kcell/talks?"}
              - StartsWith: {request_url: "/kcell/talks/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    vgw-ya-tel-adapter.taxi.tst.yandex.net/kcell/talks/{talk_id}/record_GET:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - StartsWith: {request_url: "/kcell/talks/"}
          - Contains: {request_url: "/record"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    # A1
    vgw-ya-tel-adapter.taxi.tst.yandex.net/a1/redirections_POST:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Equals: {request_url: "/a1/redirections"}
              - Equals: {request_url: "/a1/redirections/"}
              - StartsWith: {request_url: "/a1/redirections?"}
              - StartsWith: {request_url: "/a1/redirections/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests
              - 503 # Service unavailable

    vgw-ya-tel-adapter.taxi.tst.yandex.net/a1/redirections_GET:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/a1/redirections"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    vgw-ya-tel-adapter.taxi.tst.yandex.net/a1/redirections_DELETE:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "DELETE"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/a1/redirections/"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    vgw-ya-tel-adapter.taxi.tst.yandex.net/a1/talks_GET:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - Or: # No description provided.
              - Equals: {request_url: "/a1/talks"}
              - Equals: {request_url: "/a1/talks/"}
              - StartsWith: {request_url: "/a1/talks?"}
              - StartsWith: {request_url: "/a1/talks/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    vgw-ya-tel-adapter.taxi.tst.yandex.net/a1/talks/{talk_id}/record_GET:
        And:
          - Equals: {http_host: "vgw-ya-tel-adapter.taxi.tst.yandex.net"}
          - Equals: {request_method: "GET"}
          - StartsWith: {request_url: "/a1/talks/"}
          - Contains: {request_url: "/record"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests
