    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/info_GET:
      And:
        - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: 
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/info"}
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/info/"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/info?"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/info/?"}
      Options: # No description provided.
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # корпоративный клиент не найден
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/feed/list_GET:
      And:
        - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: 
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/feed/list"}
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/feed/list/"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/feed/list?"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/feed/list/?"}
      Options: # No description provided.
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/employee-candidate/list_GET:
      And:
        - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: 
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee-candidate/list"}
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee-candidate/list/"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee-candidate/list?"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee-candidate/list/?"}
      Options: # No description provided.
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # corp_client_id not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/documents/list_GET:
      And:
        - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: # No description provided.
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/documents/list"}
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/documents/list/"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/documents/list?"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/documents/list/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests
  
    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/documents/urls_GET:
      And:
        - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: 
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/documents/urls"}
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/documents/urls/"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/documents/urls?"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/documents/urls/?"}
      Options: # No description provided.
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 409 # Попытка подтвердить заявку, которая не прошла оценку
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/edit_POST:
        And:
          - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/edit"}
              - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/edit/"}
              - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/edit?"}
              - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/edit/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # корпоративный клиент не найден
              - 409 # известная ревизия устарела
              - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/employee/edit_POST:
        And:
          - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee/edit"}
              - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee/edit/"}
              - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee/edit?"}
              - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee/edit/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # corp_client not found
              - 409 # to old revision
              - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/employee/remove_POST:
        And:
          - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee/remove"}
              - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee/remove/"}
              - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee/remove?"}
              - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee/remove/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/card/list_POST:
      And:
        - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or:
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/card/list"}
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/card/list/"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/card/list?"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/card/list/?"}
      Options: # No description provided.
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/card/unbound_POST:
      And:
        - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: 
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/card/unbound"}
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/card/unbound/"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/card/unbound?"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/card/unbound/?"}
      Options: # No description provided.
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Корп.клиент не найден, возможно удален или карта не найдена, возможно удалена 
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/employee/list_POST:
      And:
        - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: 
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee/list"}
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee/list/"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee/list?"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee/list/?"}
      Options: # No description provided.
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 409 # Попытка подтвердить заявку, которая не прошла оценку
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/employee/permission/list_POST:
      And:
        - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # No description provided.
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee/permission/list"}
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee/permission/list/"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee/permission/list?"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee/permission/list/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Пермишены не найдены, возможно сотрудник или корп.клиент удален 
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/client/employee-candidate/upsert_PUT:
      And:
        - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
        - Equals: {request_method: "PUT"}
        - Or: # No description provided.
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee-candidate/upsert"}
          - Equals: {request_url: "/api/b2b/cargo-corp/v1/client/employee-candidate/upsert/"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee-candidate/upsert?"}
          - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/client/employee-candidate/upsert/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # corp_client not found
          - 409 # old revision
          - 429 # Too many requests

    cargo-corp.taxi.tst.yandex.net/api/b2b/cargo-corp/v1/launch_POST:
        And:
          - Equals: {http_host: "cargo-corp.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - Equals: {request_url: "/api/b2b/cargo-corp/v1/launch"}
              - Equals: {request_url: "/api/b2b/cargo-corp/v1/launch/"}
              - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/launch?"}
              - StartsWith: {request_url: "/api/b2b/cargo-corp/v1/launch/?"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 429 # Too many requests
