    Monitoring:
      vhost-500:
        DefaultLimits: { Warn: 0.0, Crit: 34.0, NonAlerting: 1 }
        Features:
          - MatchRule: { StartsWith: { request_url: "/ping" } }
            Limits: { Crit: 50, Warn: 15.0, NonAlerting: 5 }
          - MatchRule: { StartsWith: { request_url: "/admin/" } }
            Limits: { Crit: 10, Warn: 0.0, NonAlerting: 1 }
          - MatchRule: { StartsWith: { request_url: "/internal/" } }
            Limits: { Crit: 10, Warn: 0.0, NonAlerting: 0 }
          - MatchRule: { StartsWith: { request_url: "/internal/v1/catalog/stock/" } }
            Limits: { Crit: 10, Warn: 0.0, NonAlerting: 0 }
          - MatchRule: { StartsWith: { request_url: "/internal/v1/catalog/v1/depots" } }
            Limits: { Crit: 1, Warn: 0.0, NonAlerting: 0 }
