    Monitoring:
      vhost-500:
        DefaultLimits: { Warn: 0.0, Crit: 34.0, NonAlerting: 1 }
        Features:
          - MatchRule: { StartsWith: { request_url: "/ping" } }
            Limits: { Crit: 50, Warn: 15.0, NonAlerting: 5 }
          - MatchRule: { StartsWith: { request_url: "/admin/" } }
            Limits: { Crit: 10, Warn: 0.0, NonAlerting: 0 }
          - MatchRule: { StartsWith: { request_url: "/lavka/v1/orders/v1/submit" } }
            Limits: { Crit: 50, Warn: 20.0, NonAlerting: 10 }
          - MatchRule: { StartsWith: { request_url: "/lavka/v1/orders/v2/submit" } }
            Limits: { Crit: 50, Warn: 20.0, NonAlerting: 10 }
          - MatchRule: { StartsWith: { request_url: "/processing/" } }
            Limits: { Crit: 1, Warn: 0, NonAlerting: 0 }
          - MatchRule: { StartsWith: { request_url: "/internal/v1/get-chatterbox-order-meta" } }
            Limits: { Crit: 1, Warn: 0, NonAlerting: 0 }
          - MatchRule: { StartsWith: { request_url: "/internal/" } }
            Limits: { Crit: 1, Warn: 0, NonAlerting: 0 }
