#include "test_traits.hpp"
#include <lowlevel/fb_serialization_test.hpp>
#include <geobus/types/{{fname}}.hpp>

#include <gtest/gtest.h>

namespace geobus::lowlevel {

namespace {{cpp_namespace}} {

INSTANTIATE_TYPED_TEST_SUITE_P({{name}}SerializationTest,
                               FlatbuffersSerializationTest,
                               types::{{name}});

}
}  // namespace geobus::lowlevel
