    driver-orders-app-api.taxi.tst.yandex.net/driver/v1/orders-app-api/v2/requestconfirm/driving_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - StartsWith: {request_url: "/driver/v1/orders-app-api/v2/requestconfirm/driving"}
        Options:
            CustomHttp:
              - 400      # Bad Request
              - 401      # Unauthorized
              - 403      # Forbidden
              - 404      # Not found
              - 406      # Not acceptable. Could return arbitrary (any) JSON
              - 410      # Gone
              - 429      # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/driver/v1/orders-app-api/v2/requestconfirm/waiting_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - StartsWith: {request_url: "/driver/v1/orders-app-api/v2/requestconfirm/waiting"}
        Options:
            CustomHttp:
              - 400      # Bad Request
              - 401      # Unauthorized
              - 403      # Forbidden
              - 404      # Not found
              - 406      # Not acceptable. Could return arbitrary (any) JSON
              - 410      # Gone
              - 429      # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/driver/v1/orders-app-api/v2/requestconfirm/transporting_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - StartsWith: {request_url: "/driver/v1/orders-app-api/v2/requestconfirm/transporting"}
        Options:
            CustomHttp:
              - 400      # Bad Request
              - 401      # Unauthorized
              - 403      # Forbidden
              - 404      # Not found
              - 406      # Not acceptable. Could return arbitrary (any) JSON
              - 410      # Gone
              - 429      # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/driver/v1/orders-app-api/v2/requestconfirm/complete_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - StartsWith: {request_url: "/driver/v1/orders-app-api/v2/requestconfirm/complete"}
        Options:
            CustomHttp:
              - 400      # Bad Request
              - 401      # Unauthorized
              - 403      # Forbidden
              - 404      # Not found
              - 406      # Not acceptable. Could return arbitrary (any) JSON
              - 410      # Gone
              - 429      # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/driver/v1/orders-app-api/v2/requestconfirm/reject_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - StartsWith: {request_url: "/driver/v1/orders-app-api/v2/requestconfirm/reject"}
        Options:
            CustomHttp:
              - 400      # Bad Request
              - 401      # Unauthorized
              - 403      # Forbidden
              - 404      # Not found
              - 406      # Not acceptable. Could return arbitrary (any) JSON
              - 410      # Gone
              - 429      # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/internal/v1/order/update/destinations_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/internal/v1/order/update/destinations"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 410 # Response 410
              - 429 # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/internal/v1/order/update/porchnumber_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/internal/v1/order/update/porchnumber"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 410 # Response 410
              - 429 # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/internal/v1/order/update/comment_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/internal/v1/order/update/comment"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 410 # Response 410
              - 429 # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/internal/v1/order/update/user_ready_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/internal/v1/order/update/user_ready"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 410 # Response 410
              - 429 # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/internal/v1/order/update/dont_call_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/internal/v1/order/update/dont_call"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 410 # Response 410
              - 429 # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/internal/v1/order/update/payment_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/internal/v1/order/update/payment"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 410 # Response 410
              - 429 # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/internal/v1/order/update/client_geo_sharing_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - Or: # No description provided.
              - StartsWith: {request_url: "/internal/v1/order/update/client_geo_sharing"}
        Options:
            CustomHttp:
              - 400 # Bad request
              - 401 # Unauthorized
              - 403 # Forbidden
              - 404 # Not found
              - 410 # Response 410
              - 429 # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/internal/v2/order/cancel/user_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - StartsWith: {request_url: "/internal/v2/order/cancel/user"}
        Options:
            CustomHttp:
              - 400      # Bad Request
              - 401      # Unauthorized
              - 403      # Forbidden
              - 404      # Not found
              - 406      # Not acceptable. Could return arbitrary (any) JSON
              - 410      # Gone
              - 429      # Too many requests

    driver-orders-app-api.taxi.tst.yandex.net/internal/v2/order/cancel/multioffer_POST:
        And:
          - Equals: {http_host: "driver-orders-app-api.taxi.tst.yandex.net"}
          - Equals: {request_method: "POST"}
          - StartsWith: {request_url: "/internal/v2/order/cancel/multioffer"}
        Options:
            CustomHttp:
              - 400      # Bad Request
              - 401      # Unauthorized
              - 403      # Forbidden
              - 404      # Not found
              - 406      # Not acceptable. Could return arbitrary (any) JSON
              - 410      # Gone
              - 429      # Too many requests
