    cargo-matcher.taxi.tst.yandex.net/api/b2b/cargo-matcher/v1/tariffs_POST:
      And:
        - Equals: {http_host: "cargo-matcher.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение тарифов доступных корп клиенту в точке
          - Equals: {request_url: "/api/b2b/cargo-matcher/v1/tariffs"}
          - Equals: {request_url: "/api/b2b/cargo-matcher/v1/tariffs/"}
          - StartsWith: {request_url: "/api/b2b/cargo-matcher/v1/tariffs?"}
          - StartsWith: {request_url: "/api/b2b/cargo-matcher/v1/tariffs/?"}
      Options:
        CustomHttp:
          - 400 # Неправильные параметры заявки
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Not found
          - 429 # Too many requests

    cargo-matcher.taxi.tst.yandex.net/b2b/cargo/integration/v1/tariffs_POST:
      And:
        - Equals: {http_host: "cargo-matcher.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение тарифов доступных корп клиенту в точке
          - Equals: {request_url: "/b2b/cargo/integration/v1/tariffs"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/tariffs/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/tariffs?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/tariffs/?"}
      Options:
        CustomHttp:
          - 400 # Неправильные параметры заявки
          - 401 # Unauthorized
          - 403 # Неверный corp_client_id для данной заявки, или ошибка аутентификации
          - 404 # Редактируемая заявка не найдена
          - 429 # Too many requests

    cargo-matcher.taxi.tst.yandex.net/b2b/cargo-matcher/v1/tariffs_POST:
      And:
        - Equals: {http_host: "cargo-matcher.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение тарифов доступных корп клиенту в точке
          - Equals: {request_url: "/b2b/cargo-matcher/v1/tariffs"}
          - Equals: {request_url: "/b2b/cargo-matcher/v1/tariffs"}
          - StartsWith: {request_url: "/b2b/cargo-matcher/v1/tariffs?"}
          - StartsWith: {request_url: "/b2b/cargo-matcher/v1/tariffs/?"}
      Options:
        CustomHttp:
          - 400 # Неправильные параметры заявки
          - 401 # Unauthorized
          - 403 # Неверный corp_client_id для данной заявки, или ошибка аутентификации
          - 404 # Редактируемая заявка не найдена
          - 429 # Too many requests

    cargo-matcher.taxi.tst.yandex.net/b2b/cargo/integration/v1/check-price_POST:
      And:
        - Equals: {http_host: "cargo-matcher.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Оценка заявки и параметров автомобиля без создания оффера
          - Equals: {request_url: "/b2b/cargo/integration/v1/check-price"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/check-price/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/check-price?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/check-price/?"}
      Options:
        CustomHttp:
          - 400 # Неправильные параметры заявки
          - 401 # Unauthorized
          - 403 # Неверный corp_client_id для данной заявки, или ошибка аутентификации
          - 404 # Редактируемая заявка не найдена
          - 409 # Нет подходящих машин | Не удалось построить маршрут
          - 429 # Too many requests

    cargo-matcher.taxi.tst.yandex.net/api/b2b/cargo-matcher/v1/check-price_POST:
      And:
        - Equals: {http_host: "cargo-matcher.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Оценка заявки и параметров автомобиля без создания оффера
          - Equals: {request_url: "/api/b2b/cargo-matcher/v1/check-price"}
          - Equals: {request_url: "/api/b2b/cargo-matcher/v1/check-price/"}
          - StartsWith: {request_url: "/api/b2b/cargo-matcher/v1/check-price?"}
          - StartsWith: {request_url: "/api/b2b/cargo-matcher/v1/check-price/?"}
      Options:
        CustomHttp:
          - 400 # Неправильные параметры заявки
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Not found
          - 409 # Нет подходящих машин | Не удалось построить маршрут
          - 429 # Too many requests
