    parks-activation.taxi.yandex.net/v1/parks/activation/history_GET:
      And:
        - Equals: {http_host: "parks-activation.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - StartsWith: {request_url: "/v1/parks/activation/history"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    parks-activation.taxi.yandex.net/v1/parks/activation/updates_POST:
      And:
        - Equals: {http_host: "parks-activation.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - StartsWith: {request_url: "/v1/parks/activation/updates"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests
