    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v1/claims/accept_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Подтверждение заявки
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/accept"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/accept/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/accept?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/accept/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Попытка подтвердить заявку, которая не прошла оценку
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v1/claims/cancel_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Отмена заявки
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/cancel"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/cancel/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/cancel?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/cancel/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Попытка отменить неактуальную версию заявки
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v1/claims/document_GET:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: # Получение накладной или акта приема-передачи
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/document"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/document/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/document?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/document/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Передан неактуальный статус или версия заявки
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v1/claims/payments/settings_GET:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: # No description provided.
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/payments/settings"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/payments/settings/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/payments/settings?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/payments/settings/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v1/claims/performer-position_GET:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: # Получение позиции исполнителя заявки
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/performer-position"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/performer-position/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/performer-position?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/performer-position/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Исполнитель или позиция исполнителя не найдены
          - 409 # Заявка в неактивном статусе
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v1/driver-voiceforwarding_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение номера телефона для звонка водителю
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/driver-voiceforwarding"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/driver-voiceforwarding/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/driver-voiceforwarding?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/driver-voiceforwarding/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Заявка или исполнитель заказа не найдены
          - 409 # Заказ завершен
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/claims/bulk_info_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение информации по нескольким заявкам
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/bulk_info"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/bulk_info/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/bulk_info?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/bulk_info/?"}
      Options:
        CustomHttp:
          - 400 # Слишком много заявок в запросе
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/claims/confirmation_code_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение кода подтверждения
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/confirmation_code"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/confirmation_code/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/confirmation_code?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/confirmation_code/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Заявка не найдена или выдача кода подтверждения через API запрещена.
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/claims/create_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Создание заявки с мультиточками
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/create"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/create/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/create?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/create/?"}
      Options:
        CustomHttp:
          - 400 # Неверный запрос
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Not found
          - 409 # Существует заявка с таким request_id от другого клиента
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/claims/edit_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Редактирование заявки с мультиточками
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/edit"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/edit/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/edit?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/edit/?"}
      Options:
        CustomHttp:
          - 400 # Неправильные параметры заявки
          - 401 # Unauthorized
          - 403 # Неверный corp_client_id для данной заявки, или ошибка аутентификации
          - 404 # Редактируемая заявка не найдена
          - 409 # Конфликт. Попытка изменить статус для неактуальной версии или неподходящий статус заявки
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/claims/info_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение информации по заявкам с учетом мультиточек
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/info"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/info/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/info?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/info/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/claims/cancel-info_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение информации о возможности отмены
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/cancel-info"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/cancel-info/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/cancel-info?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/cancel-info/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Заявка не найдена
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/claims/search_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Поиск заявок
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/search"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/search/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/search?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/search/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/optimize-route/result_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение результатов исполнения задачи оптимизации или проверка ее статуса
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/result"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/result/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/result?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/result/?"}
      Options:
        CustomHttp:
          - 400 # Неверный запрос или неверные параметры задачи
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Задача не найдена
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/optimize-route/start_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Создание задачи по оптимизации переданного маршрута
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/start"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/start/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/start?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/start/?"}
      Options:
        CustomHttp:
          - 400 # Неверный запрос
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/optimize-route/xlsx/result_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Проверка статуса задачи на создание оптимальных заявок
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/xlsx/result"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/xlsx/result/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/xlsx/result?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/xlsx/result/?"}
      Options:
        CustomHttp:
          - 400 # Неверный запрос или некорректные параметры задачи
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Задача не найдена
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/optimize-route/xlsx/start_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Создание оптимальных заявок на основе XLSX маршрута
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/xlsx/start"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/xlsx/start/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/xlsx/start?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/optimize-route/xlsx/start/?"}
      Options:
        CustomHttp:
          - 400 # Неправильно построенный запрос или неверный формат XLSX файла
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/accept_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Подтверждение заявки
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/accept"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/accept/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/accept?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/accept/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Попытка подтвердить заявку, которая не прошла оценку
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/cancel_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Отмена заявки
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/cancel"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/cancel/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/cancel?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/cancel/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Попытка отменить неактуальную версию заявки
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/create_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Создание заявки
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/create"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/create/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/create?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/create/?"}
      Options:
        CustomHttp:
          - 400 # Неправильные параметры заявки
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Not found
          - 409 # Существует заявка с таким request_id от другого клиента
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/document_GET:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: # Получение накладной или акта приема-передачи
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/document"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/document/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/document?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/document/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Передан неактуальный статус или версия заявки
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/edit_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Редактирование заявки
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/edit"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/edit/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/edit?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/edit/?"}
      Options:
        CustomHttp:
          - 400 # Неправильные параметры заявки
          - 401 # Unauthorized
          - 403 # Неверный corp_client_id для данной заявки, или ошибка аутентификации
          - 404 # Редактируемая заявка не найдена
          - 409 # Конфликт, попытка отредактировать устаревшую версию заявки
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/info_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение информации по заявке
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/info"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/info/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/info?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/info/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/journal_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Журнал изменений заказа
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/journal"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/journal/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/journal?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/journal/?"}
      Options:
        CustomHttp:
          - 400 # BAD REQUEST
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # TOO MANY REQUESTS

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/journal_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Журнал изменений заказа
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/journal"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/journal/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/journal?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/journal/?"}
      Options:
        CustomHttp:
          - 400 # BAD REQUEST
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # TOO MANY REQUESTS

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/performer-position_GET:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: # Получение позиции исполнителя заявки
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/performer-position"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/performer-position/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/performer-position?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/performer-position/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Исполнитель или позиция исполнителя не найдены
          - 409 # Заявка в неактивном статусе
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/set-points-ready_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Установка статуса готовности для точки
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/set-points-ready"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/set-points-ready/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/set-points-ready?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/set-points-ready/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Заявка не найдена
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/driver-voiceforwarding_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение номера телефона для звонка водителю
          - Equals: {request_url: "/b2b/cargo/integration/v1/driver-voiceforwarding"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/driver-voiceforwarding/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/driver-voiceforwarding?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/driver-voiceforwarding/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Заявка или исполнитель заказа не найдены
          - 409 # Заказ завершен
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/apply-changes/request_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Частичное редактирование заявки после ее подтверждения
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/apply-changes/request"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/apply-changes/request/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/apply-changes/request?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/apply-changes/request/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/apply-changes/result_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получить результат применения изменений
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/apply-changes/result"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/apply-changes/result/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/apply-changes/result?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/apply-changes/result/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/bulk_info_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение информации по нескольким заявкам
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/bulk_info"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/bulk_info/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/bulk_info?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/bulk_info/?"}
      Options:
        CustomHttp:
          - 400 # Слишком много заявок в запросе
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/confirmation_code_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение кода подтверждения
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/confirmation_code"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/confirmation_code/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/confirmation_code?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/confirmation_code/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Заявка не найдена или выдача кода подтверждения через API запрещена.
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/create_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Создание заявки с мультиточками
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/create"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/create/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/create?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/create/?"}
      Options:
        CustomHttp:
          - 400 # Неверный запрос
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Not found
          - 409 # Существует заявка с таким request_id от другого клиента
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/edit_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Редактирование заявки с мультиточками
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/edit"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/edit/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/edit?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/edit/?"}
      Options:
        CustomHttp:
          - 400 # Неправильные параметры заявки
          - 401 # Unauthorized
          - 403 # Неверный corp_client_id для данной заявки, или ошибка аутентификации
          - 404 # Редактируемая заявка не найдена
          - 409 # Конфликт. Попытка изменить статус для неактуальной версии или неподходящий статус заявки
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/info_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение информации по заявкам с учетом мультиточек
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/info"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/info/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/info?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/info/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/cancel-info_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение информации о возможности отмены
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/cancel-info"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/cancel-info/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/cancel-info?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/cancel-info/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/search/active_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Поиск активных заявок
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/search/active"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/search/active/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/search/active?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/search/active/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/search_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Поиск заявок
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/search"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/search/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/search?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/search/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/performer-position_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение позиции исполнителя заявки
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/performer-position"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/performer-position/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/performer-position?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/performer-position/?"}
      Options:
        CustomHttp:
          - 400 # BAD REQUEST
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 409 # Conflict
          - 429 # TOO MANY REQUESTS

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/points-eta_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Получение прогноза по времени прибытия на точки
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/points-eta"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/points-eta/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/points-eta?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/points-eta/?"}
      Options:
        CustomHttp:
          - 400 # BAD REQUEST
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 409 # Conflict
          - 429 # TOO MANY REQUESTS

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/create-accepted_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Создание подтвержденной заявки
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/create-accepted"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/create-accepted/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/create-accepted?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/create-accepted/?"}
      Options:
        CustomHttp:
          - 400 # Неверный запрос
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Not found
          - 409 # Существует заявка с таким request_id от другого клиента
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/claims/accept_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Подтверждение заявки
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/accept"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/accept/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/accept?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/accept/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Попытка подтвердить заявку, которая не прошла оценку
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/accept_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Подтверждение заявки
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/accept"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/accept/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/accept?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/accept/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Попытка подтвердить заявку, которая не прошла оценку
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/claims/cancel_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Отмена заявки
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/cancel"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/cancel/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/cancel?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/cancel/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Попытка отменить неактуальную версию заявки
          - 429 # Too many requests
    
    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/cancel_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Отмена заявки
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/cancel"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/cancel/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/cancel?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/cancel/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Попытка отменить неактуальную версию заявки
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v1/claims/return_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Отмена заявки
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/return"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v1/claims/return/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/return?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v1/claims/return/?"}
      Options:
        CustomHttp:
          - 400 # Некорректная точка
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Курьер еще не найден, вы можете отменить заявку
          - 410 # Заявка в неактивном статусе
    
    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v1/claims/return_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Отмена заявки
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/return"}
          - Equals: {request_url: "/b2b/cargo/integration/v1/claims/return/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/return?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v1/claims/return/?"}
      Options:
        CustomHttp:
          - 400 # Некорректная точка
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Курьер еще не найден, вы можете отменить заявку
          - 410 # Заявка в неактивном статусе
  
    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/claims/return_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Отмена заявки
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/return"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/return/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/return?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/return/?"}
      Options:
        CustomHttp:
          - 400 # Некорректная точка
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Курьер еще не найден, вы можете отменить заявку
          - 410 # Заявка в неактивном статусе
    
    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/return_POST:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: # Отмена заявки
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/return"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/return/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/return?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/return/?"}
      Options:
        CustomHttp:
          - 400 # Некорректная точка
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Курьер еще не найден, вы можете отменить заявку
          - 410 # Заявка в неактивном статусе

    cargo-claims.taxi.tst.yandex.net/api/b2b/cargo-claims/v2/claims/document_GET:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: # Получение накладной или акта приема-передачи
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/document"}
          - Equals: {request_url: "/api/b2b/cargo-claims/v2/claims/document/"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/document?"}
          - StartsWith: {request_url: "/api/b2b/cargo-claims/v2/claims/document/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Передан неактуальный статус или версия заявки
          - 429 # Too many requests

    cargo-claims.taxi.tst.yandex.net/b2b/cargo/integration/v2/claims/document_GET:
      And:
        - Equals: {http_host: "cargo-claims.taxi.tst.yandex.net"}
        - Equals: {request_method: "GET"}
        - Or: # Получение накладной или акта приема-передачи
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/document"}
          - Equals: {request_url: "/b2b/cargo/integration/v2/claims/document/"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/document?"}
          - StartsWith: {request_url: "/b2b/cargo/integration/v2/claims/document/?"}
      Options:
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Ошибка идентификации
          - 404 # Заявка не найдена
          - 409 # Передан неактуальный статус или версия заявки
          - 429 # Too many requests

    Monitoring:
      vhost-500:
        Blacklist:
        - StartsWith: {request_url: "/driver/v1/cargo-claims/v1/cargo/voiceforwarding"}
        - StartsWith: {request_url: "/api/integration/v1/driver-voiceforwarding"}
