    cargo-fiscal.taxi.tst.yandex.net/api/b2b/cargo-fiscal/receipts/delivery/orders/generate_POST:
      And:
        - Equals: {http_host: "cargo-fiscal.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: 
          - Equals: {request_url: "/api/b2b/cargo-fiscal/receipts/delivery/orders/generate"}
          - Equals: {request_url: "/api/b2b/cargo-fiscal/receipts/delivery/orders/generate/"}
          - StartsWith: {request_url: "/api/b2b/cargo-fiscal/receipts/delivery/orders/generate?"}
          - StartsWith: {request_url: "/api/b2b/cargo-fiscal/receipts/delivery/orders/generate/?"}
      Options: # No description provided.
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests

    cargo-fiscal.taxi.tst.yandex.net/api/b2b/cargo-fiscal/receipts/delivery/orders/result_POST:
      And:
        - Equals: {http_host: "cargo-fiscal.taxi.tst.yandex.net"}
        - Equals: {request_method: "POST"}
        - Or: 
          - Equals: {request_url: "/api/b2b/cargo-fiscal/receipts/delivery/orders/result"}
          - Equals: {request_url: "/api/b2b/cargo-fiscal/receipts/delivery/orders/result/"}
          - StartsWith: {request_url: "/api/b2b/cargo-fiscal/receipts/delivery/orders/result?"}
          - StartsWith: {request_url: "/api/b2b/cargo-fiscal/receipts/delivery/orders/result/?"}
      Options: # No description provided.
        CustomHttp:
          - 400 # Bad request
          - 401 # Unauthorized
          - 403 # Forbidden
          - 404 # Not found
          - 429 # Too many requests
