{{#> base}}
{{#*inline "title"}}
    yandex page title
{{/inline}}
{{#*inline "defHeadCounterScripts"}}
    <script type="text/javascript" src="{{ buildPath }}/prod/tag.js"></script>
{{/inline}}
{{#*inline "head"}}
<script type="text/javascript">
    setForceSessionCookie();
</script>
{{/inline}}
{{#*inline "content"}}
    <div id="main">yandex page</div>
{{/inline}}
{{/base}}
