<table>
    <tr>
        <th>Test name</th>
        <th>Status</th>
    </tr>
    {% for test_name, log in failed_tests %}
    <tr>
      <td>{{ test_name }}</td>
      <td>
        <span class="status status_exception"> FAILURE </span>
        <details>
          <code style="white-space: pre-wrap">{{ log }}</code>
        </details>
      </td>
    </tr>
    {% endfor %}

    {% for test_name in successful_tests %}
    <tr>
      <td>{{ test_name }}</td>
      <td><span class="status status_success"> SUCCESS </span></td>
    </tr>
    {% endfor %}

    {% for test_name in skipped_tests %}
    <tr>
      <td>{{ test_name }}</td>
      <td><span class="status status_draft"> SKIPPED </span></td>
    </tr>
    {% endfor %}
</table>
