<h3>Report on test running times</h3>
<p>
    <b>Total time spent for tests:</b> {{ "{:.2f}".format(total_duration) }} [sec]
</p>
<p>
    <b>Stats per suite:</b>
    <table border="1" cellpadding="3">
        <tr>
            <th>Time [sec]</th>
            <th>Suite</th>
        </tr>
        {% for item in suite_stats %}
        <tr>
           <td> {{ "{:.2f}".format(item['duration_sec']) }} </td>
           <td> {{item['suite']}} </td>
        </tr>
        {% endfor %}
    </table>
</p>
<p>
    <b>Stats across all testcases</b>
    <table border="1" cellpadding="3">
        <tr>
            <th>Time [sec]</th>
            <th>Suite</th>
            <th>Test name</th>
        </tr>
        {% for item in tests %}
            {% if item.passed %}
                <tr>
            {%else%}
                <tr bgcolor="red">
            {% endif %}
               <td>{{ "{:.2f}".format(item.duration_sec) }}</td>
               <td>{{item.suite()}}</td>
               <td>{{item.test_name()}}</td>
            </tr>
        {% endfor %}
    </table>
</p>
