Source: test-package-name-source
Section: misc
Priority: extra
Maintainer: Sergey Pomazanov <alberist@yandex-team.ru>
Build-Depends:
 ahelper,
 build-essential,
 debhelper (>=11),
 whelper,
 yandex-debhelper-all,
Standards-Version: 3.9.8

Package: test-package-name
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Test service description
