.result {
    display: none;

    &_visible {
        display: block;
    }

    &__content {
        margin-bottom: 20px;
    }

    &__csp {
        font-family: "Lucida Console", Monaco, monospace;
    }

    &__valid {
        color: darkgreen;
    }

    &__valid,
    &__invalid {
        display: none;
    }

    &_status_valid &__valid {
        display: block;
    }

    &_status_valid .result__content {
        display: none;
    }

    &_status_invalid &__invalid {
        display: block;
    }

    .cut__switcher {
        margin-bottom: 12px;
    }
}
