{% extends "tasks/view.html" %}

{% block specific %}

{% set tree = task.ctx.get('formulas_tree') %}
{% if tree %}
  <div>
    models with ff_unimplemented factors:
  <div>
  {% for depth, f in tree %}
    <div>
      {% for i in range(depth) %} &nbsp;&nbsp; {% endfor%}
      <a href="{{f.get('formula_link')}}">{{f.get('formula_id')}}</a>&nbsp;
      <a href="https://staff.yandex-team.ru/{{f.get('author')}}/">{{f.get('author')}}</a>
      {% if depth<=0 %}{{f.get('filename')}}{% endif %}: {{f.get('factors_string')}}
    </div>
  {% endfor %}
{% else %}
  <div>
    there are no models with ff_unimplemented factors
  <div>
{% endif %}

{% endblock %}
