<b><font color="red">{{ view.shortcut }}</font></b> <a href="{{ view.link }}">{{ view.type }} #{{ view.id }}</a>: <b>{{ view.tests_status }}</b>
{% if view.has_allure_link %}<br/><br/>
<table border="1">
<tr><td>Всего тестов:</td><td>{{ view.suites_total }}</td></tr>
<tr><td>Тестов пройдено:</td><td>{{ view.suites_success }}</td></tr>
<tr><td>Тестов провалено:</td><td>{{ view.suites_failed }}</td></tr>
</table>
{% if view.has_failed_suites %}<br/>
<details>
<code>{{ "<br/>\n".join(view.failed_suites) }}</code>
</details><br/>
{% endif %}<br/>
<a href="{{ view.allure_link }}">{{ view.report_description }}</a>
{% endif %}
