**!!{{ view.shortcut }}!!** (({{ view.link }} {{ view.type }} #{{ view.id }})): **{{ view.tests_status }}**
{% if view.has_allure_link %}
#|
|| Всего тестов: | {{ view.suites_total }} ||
|| Тестов пройдено: | {{ view.suites_success }} ||
|| Тестов провалено: | {{ view.suites_failed }} ||
|#
{% if view.has_failed_suites %}
<{ Подробнее
%%
{{ "\n".join(view.failed_suites) }}
%%
}>
{% endif %}
(({{ view.allure_link }} {{ view.report_description }}))
{% endif %}
