# Taxi extra requirements
-i https://pypi.yandex-team.ru/simple/
-r requirements.txt

# YT mock tests
yandex-yt >= 0.9.17
yandex-yt-yson-bindings >= 0.3.27.post0

mypy-extensions >= 0.4.3
jsonschema >= 2.6.0, < 4
yappi >= 1.2.1
