# Basic testsuite dependencies
PyYAML >= 3.13
aiohttp ~= 3.5
pytest >= 3.7, < 6.0
pytest-aiohttp ~= 0.3.0
python-dateutil ~= 2.7.3
pytz >= 2018.5
requests >= 2.18.4
uvloop >= 0.9.1
werkzeug ~= 0.14.1
freezegun ~= 0.3.10
cached_property >= 1.5.1

# Databases
pymongo ~= 3.7.1
redis ~= 2.10.6
