{{#> base}}
{{#*inline "title"}}
    title page test
{{/inline}}
{{#*inline "content"}}
    <h1>title page test</h1>
    <a id="next" href="/test/selenium-webdriver/secondPage.hbs">Next page</a>
{{/inline}}
{{/base}}