Source: yandex-taxi-src
Section: misc
Priority: extra
Maintainer: Maksim Zubkov <maksimzubkov@yandex-team.ru>
Build-Depends:
 build-essential,
 debhelper (>=9),
 libuv1-dev,
 yandex-debhelper-all,
 yandex-dh-environment,
Standards-Version: 3.9.8

Package: yandex-taxi-src
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 nginx,
 supervisor,
 taxi-deps-py3-common (>=0.47),
 yandex-environment,
 yandex-taxi-config,
Description: Yandex.Taxi sources
