#! /usr/bin/make -f

%:
	dh $@ --with nginx --with environment

override_dh_nginx:
	dh_nginx $@ --no-restart

override_dh_auto_clean:
	dh_auto_clean --no-act

override_dh_auto_build:
	dh_auto_build --no-act

override_dh_auto_install:
	dh_auto_install --no-act

override_dh_strip: ;
