Source: yandex-mobile-test-taxi-tracker-mongodb-config
Section: unknown
Priority: extra
Maintainer: Elena Konoreva <aesdana@yandex-team.ru>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: yandex-mobile-test-taxi-tracker-mongodb-config
Architecture: all
Depends: 
Description: mongodb config for %mobile_test_db_mongo_taxi_tracker
 mongodb config for %mobile_test_db_mongo_taxi_tracker
