#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DESTDIR=debian/config-mobile-mongodb-taxi-partners-test/

%:
	dh  $@

override_dh_builddeb:
	dh_builddeb -- -Zgzip


