{{#> base}}
    {{#*inline "title"}}
        EnableAll page title
    {{/inline}}
    {{#*inline "content"}}
        <h1>EnableAll page</h1>
        <button id="button">Кнопка</button>
        <a id="link" href="https://myrandomsitehost.ru/some-url">External link</a>
        <script>
            Array.prototype.slice.call(document.querySelectorAll('a'))
                    .forEach(function (a) {
                        a.onclick = function (e) {
                            e.preventDefault();
                        };
                    });
        </script>
    {{/inline}}
{{/base}}
