{{#> base}}
    {{#*inline "title"}}
        yandex page title
    {{/inline}}
    {{#*inline "defHeadCounterScripts"}}
        <script type="text/javascript" src="{{ buildPath }}/e2e/tag.js"></script>
    {{/inline}}
    {{#*inline "head"}}
        <script type="text/javascript">
            setForceSessionCookie();
        </script>
    {{/inline}}
    {{#*inline "content"}}
        <div class="content">
            Status Check page
        </div>
    {{/inline}}
{{/base}}
