{{#> base}}
{{#*inline "title"}}
    Destruct page title
{{/inline}}
{{#*inline "content"}}
    Destruct page
     <div>
            <a id="ext-link" href="https://myrandomsitehost.ru/some-url">External link</a>
            <a id="file-link" href="/files/file.txt">File</a>
            <a id="file-ext-link" href="https://myrandomsitehost.ru/some-url/file.txt">External file</a>
            <a id="file-with-user-extension-link" href="/files/file.zhopeg">Strange file</a>
            <form id="myForm">
                <button type="submit" id="myButton"></button>
            </form>
            <script>
                Array.prototype.slice.call(document.querySelectorAll('a,button'))
                    .forEach(function (a) {
                        a.onclick = function (e) {
                            e.preventDefault();
                        };
                    });
            </script>
        </div>
{{/inline}}
{{/base}}
