[req]
default_bits        = 2048
distinguished_name  = req_distinguished_name
string_mask         = utf8only
default_md          = sha256
default_days        = 1100
prompt              = no

[req_distinguished_name]
C               = RU
ST              = Moscow
L               = Moscow
O               = Yandex
emailAddress    = soc@yandex-team.ru
CN              = oscar