.graph-chat-start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.graph-chat-start-page__text {
  max-width: 300px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
}

.graph-chat-disabled-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    padding: var(--nd-size-base) var(--nd-size-2x);
    padding-bottom: var(--nd-size-3x);
  }
}