{{#> base}}
{{#*inline "defHeadScripts"}}
{{/inline}}
{{#*inline "defBodyScripts"}}
{{/inline}}
{{#*inline "content"}}
    Refer page
    <a href="{{ baseUrl }}/hit.hbs" class="nextPage">go to next page</a>
{{/inline}}
{{/base}}