<?xml version="1.0" encoding="utf-8"?>
<post obj="sandbox-tmp.grumpy" id="0:35587f3a3c90...06840e9d9e53" groups="2" size="44516" key="{}">
<complete addr="2a02:6b8:0:1a16:114:5555:3:cac:1025" path="/srv/storage/60/2/data-0.13" group="3402" status="0"/>
<complete addr="2a02:6b8:0:821:2:5555:3:eee:1025" path="/srv/storage/59/2/data-0.13" group="4643" status="0"/>
<written>2</written>
</post>
