html, body {
    margin: 0;
    height: 100%;
}

body, input, select {
    font: 13px 'Helvetica Neue', Arial, sans-serif
}

body {
    display: flex;
    flex-direction: row;

    background: antiquewhite;
    --fill-color-rgb: 255, 255, 255;
    --overlay-color: rgba(var(--fill-color-rgb), 0.8);
    --color: #000;
}

body.dark-theme {
    background: #465469;
    --fill-color-rgb: 0, 0, 0;
    --overlay-color: rgba(var(--fill-color-rgb), 0.6);
    --color: #fff;
}
.hermione button,
.hermione input[type=button],
.hermione input[type=submit] {
    display: none;
}
.hermione .field {
    margin: 0;
}

.right-panel {
    width: 180px;
    margin-right: 12px;
    height: 100%;
}
.right-panel__wrap {
    position: sticky;
    top: 8px;
}

.left-side {
    flex: 1 0 auto;
    margin: 0 8px;
}

.panel-item {
    margin: 8px 0;
    background: var(--overlay-color);
    color: var(--color);
    border-radius: 9px;
    padding: 12px 14px;
}

.container {
    margin: 0 auto;
    --item-ratio: 1;
}

.container_width_s {
    width: 728px;
    --item-ratio: 0.84;
}

.container_width_m,
.container_width_auto {
    width: 856px;
    --item-ratio: 1;
}

.container_width_l {
    width: 1024px;
    --item-ratio: 1.21;
}

@media (max-width: 1050px) {
    .container_width_auto {
        width: 728px;
        --item-ratio: 0.84;
    }
}

@media (min-width: 1200px) {
    .container_width_auto {
        width: 1024px;
        --item-ratio: 1.21;
    }
}

.tablo {
    --item-width: 100px;
    --item-height: 75px;
    margin-top: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, calc(var(--item-ratio) * var(--item-width)));
    grid-gap: 8px;
    position: relative;
    z-index: 1;
}

.tablo-item {
    display: flex;
    cursor: pointer;
    width: calc(var(--item-ratio) * var(--item-width));
    height: calc(var(--item-ratio) * var(--item-height));
    border-radius: 8px;
    background: rgb(var(--fill-color-rgb));
    box-shadow: inset 0 0 2px 1px rgba(var(--fill-color-rgb), 1);
    color: var(--color);
}

.tablo-item::before {
    margin: auto;
}

.tablo-item:hover::before {
    content: '❌';
}

.tablo-item-add {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.tablo-item-add::before {
    content: '➕' !important;
}

.tablo-item-add:hover {
    opacity: 1;
}

.field {
    margin: 10px;
    display: block;
}

.lib-creating-dev-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-width {
    width: 100%;
}

map-element input {
    width: 50px;
    margin: 0 10px 5px 0;
}
