@import "highlight.css";

html {
    --default-color: #fff;
    --accent-color: #fc0;
    --accent-color-highlight: #ffde22;
    --accent-color-disabled: #af9c13;
    --accent-color2: #4eb;
    --error-color: #dd4511;
    --container-width: 1000px;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    font: 16px Sans-serif;
    background: #222;
    color: #fff;
    color: var(--default-color);
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #222;
}

.title {
    font-weight: normal;
    margin: 0 auto;
    max-width: calc(var(--container-width) - 20px);
}

.content {
    max-width: var(--container-width);
    padding: 100px 0;
    margin: 0 auto;
}

.search {
    padding: 2px 10px;
}

.search__input {
    font-size: 20px;
    display: block;
    width: 100%;
    background: #efefef;
    border: none;
    box-sizing: border-box;
    padding: 6px 10px;
    transition: ease-out 0.25s;
}

.search__input:focus {
    outline: none;
    box-shadow: 0 0 10px 1px var(--accent-color);
}

.path {
    display: flex;
    margin: 10px;
    user-select: none;
}

.path__item {
    padding: 4px 12px;
    clip-path: polygon(calc(100% - 5px) 100%, 100% 50%, calc(100% - 5px) 0, 0 0, 0 100%);
    transition: ease-out 0.25s;
    background: #333;
    cursor: pointer;
}

.path__item:not(:first-child) {
    clip-path: polygon(calc(100% - 5px) 100%, 100% 50%, calc(100% - 5px) 0%, 0 0, 5px 50%, 0 100%);
}

.path__item:hover {
    background: #444;
}

.path__item:active {
    background: #555;
}

.path__clear {
    padding: 4px 12px;
    transition: ease-out 0.25s;
    background: #333;
    cursor: pointer;
}

.path__clear:hover {
    background: #444;
}

.path__clear:active {
    background: #555;
}

.items {
    position: relative;
    margin: 30px 10px;
}

.items__page {
    overflow: hidden;
}

.items__page_animated {
    animation: pageShow 0.3s ease-out 1 both;
}

.items__page_hidden {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    animation-name: pageHide;
    pointer-events: none;
}

.item {
    padding: 4px 12px;
    margin: 10px 0;
    transition: ease-out 0.25s;
    background: #333;
    cursor: pointer;
    user-select: none;
}

.item:hover {
    background-color: #444;
}

.item:active {
    background-color: #555;
}

.item_test {
    color: var(--accent-color2);
}

.item_error {
    color: var(--error-color);
}

.item_loaded,
.item_loading {
    cursor: default;
}

.item_progress {
    background-image: linear-gradient(to bottom, var(--accent-color2), transparent);
    background-size: 3px 12px;
    background-repeat: repeat-y;
    animation: itemProgress 0.8s infinite linear;
}

.item__top {
    display: flex;
    justify-content: space-between;
}

.item__title_suffix {
    opacity: 0.4;
    transition: ease-out 0.25s;
}

.item:hover .item__title_suffix {
    opacity: 1;
}

.item__info {
    opacity: 0.4;
}

.item__content {
    color: var(--default-color);
}

.item__data {
    margin: 15px 0;
}

.item__data-title {
    margin: 8px 5px;
}

.item__data-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 3px 0;
    padding: 2px 0;
    background: #222;
}

.item__data-name {
    display: inline-block;
    margin-left: 5px;
    min-width: 7em;
    user-select: auto;
}

.item__data-open {
    font-family: inherit;
    font-size: 16px;
    display: inline-block;
    padding: 2px 5px;
    background: var(--accent-color);
    border: none;
    border-radius: 0;
    color: #000;
    text-decoration: none;
    transition: ease-out 0.25s;
}

:not(.item__data-open) + .item__data-open {
    margin-left: auto;
}

.item__data-open ~ .item__data-open {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.item__data-open:hover {
    background: var(--accent-color-highlight);
}

.item__data-open:disabled {
    background: var(--accent-color-disabled);
}

.item__out {
    margin: 20px 0 10px;
    background: #222;
}

.item__out-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.item__out-title {
    margin-left: 5px;
}

.item__out-log {
    font-family: monospace;
    display: none;
    margin: 15px 5px 0;
    white-space: pre;
    overflow: auto;
    user-select: auto;
}

.item__out-log_visible {
    display: block;
}

.logger {
    margin: 10px;
}

.logger-item {
    padding: 4px 12px;
    margin: 10px 0;
    transition: ease-out 0.25s;
    background: #333;
}

.logger-item:hover {
    background: #444;
}

.logger-item__title {
    color: var(--error-color);
}

.logger-item__stack,
.logger-item__fileview {
    font-family: monospace;
    font-size: 13px;
    margin: 6px 0 12px;
    padding: 3px 5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-break: break-word;
    background: #222;
}

.logger-item__file-link {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.4);
}

@keyframes pageShow {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pageHide {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(40px);
    }
}

@keyframes itemProgress {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 12px;
    }
}
