dump/dbtaxi/commission_contracts.bson filter=lfs diff=lfs merge=lfs -text
dump/dbtaxi/parks.bson filter=lfs diff=lfs merge=lfs -text
dump/dbtaxi/tariff_settings.bson filter=lfs diff=lfs merge=lfs -text
dump/dbtaxi/cities.bson filter=lfs diff=lfs merge=lfs -text
dump/dbtaxi/comission_contracts.bson filter=lfs diff=lfs merge=lfs -text
dump/dbtaxi/subvention_rules.bson filter=lfs diff=lfs merge=lfs -text
dump/dbtaxi/tariffs.bson filter=lfs diff=lfs merge=lfs -text
dump/dbtaxi/countries.bson filter=lfs diff=lfs merge=lfs -text
dump/dbtaxi/mph_thresholds.bson filter=lfs diff=lfs merge=lfs -text
generated/07-enable-shift-ended.json filter=lfs diff=lfs merge=lfs -text
generated/99-balances-select.json filter=lfs diff=lfs merge=lfs -text
generated/01-process_driver_geoarea_activity.json filter=lfs diff=lfs merge=lfs -text
generated/04-process-doc.json filter=lfs diff=lfs merge=lfs -text
generated/06-wait-for-process-orders.json filter=lfs diff=lfs merge=lfs -text
generated/08-wait-for-shift-ends.json filter=lfs diff=lfs merge=lfs -text
generated/02-wait_for_process_events.json filter=lfs diff=lfs merge=lfs -text
generated/03-order-complete.json filter=lfs diff=lfs merge=lfs -text
generated/05-subvention-calculation.json filter=lfs diff=lfs merge=lfs -text
data/balances_select.json filter=lfs diff=lfs merge=lfs -text
data/driver_geoarea_activity.json filter=lfs diff=lfs merge=lfs -text
data/order_complete.json filter=lfs diff=lfs merge=lfs -text
dump/dbsubvention_reasons/dry_subvention_reasons.bson filter=lfs diff=lfs merge=lfs -text
dump/dbsubvention_reasons/dry_subventions.bson filter=lfs diff=lfs merge=lfs -text
dump/dbsubvention_reasons/subvention_reasons.bson filter=lfs diff=lfs merge=lfs -text
dump/dbstq_config/stq_config.bson filter=lfs diff=lfs merge=lfs -text
generated/05-wait-for-process-orders.json filter=lfs diff=lfs merge=lfs -text
