{{#> base}}
    {{#*inline "title"}}
        external link page title
    {{/inline}}
    {{#*inline "content"}}
        <div>
            <a id="ext-link" href="https://myrandomsitehost.ru/some-url">External link</a>
            <a id="int-link" href="internal-link">Internal link</a>
            <a id="file-link" href="/files/file.txt">File</a>
            <a id="file-ext-link" href="https://myrandomsitehost.ru/some-url/file.txt">External file</a>
            <a id="file-with-user-extension-link" href="/files/file.zhopeg">Strange file</a>
            <a id="tel-link" href="tel:+79999999999">Tel</a>
            <a id="mailto-link" href="mailto:metrica-dev@yandex-team.ru">Mailto</a>
            <script>
                Array.prototype.slice.call(document.querySelectorAll('a'))
                    .forEach(function (a) {
                        a.onclick = function (e) {
                            e.preventDefault();
                        };
                    });
            </script>
        </div>
    {{/inline}}
{{/base}}
