Source: test-package-name-source
Section: misc
Priority: extra
Maintainer: Sergey Pomazanov <alberist@yandex-team.ru>
Build-Depends:
 build-essential,
 debhelper (>=9),
 yandex-debhelper-all,
Standards-Version: 3.9.8

Package: test-package-name
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 yandex-geo-dorblu-agent,
Replaces:
 yandex-geo-dorblu-agent,
Description: Test service description
