<?xml version="1.0" encoding="utf-8"?>
<yandex>
    <acs>
        <host>127.0.0.1</host>
        <port>3306</port>
        <user>metrika</user>
        <password>metrika</password>
    </acs>
    <pg-dicts>
        <host index="0">man-9yw3ugphg18l5007.db.yandex.net</host>
        <host index="1">sas-34qeh9rxl9zb3gl9.db.yandex.net</host>
        <host index="2">vla-95vv8kelpioo64y5.db.yandex.net</host>
        <port>6432</port>
        <user>metrika</user>
        <password>{{ pg_dicts_password }}</password>
        <db>dicts</db>
        <pool>false</pool>
    </pg-dicts>
    <zookeeper-servers-clickhouse>
        <node>
            <host>localhost</host>
            <port>2181</port>
        </node>
    </zookeeper-servers-clickhouse>
    <macros>
        <layer>01</layer>
        <shard>01</shard>
        <replica>localhost</replica>
    </macros>
</yandex>
