.issues {
    line-height: 1.4;
    margin-bottom: 16px;
}

.issues__issue {
    padding-bottom: 0.4em;
}

.issues__issue_severity_High {
    color: darkred;
}

.issues__issue_severity_Medium {
    color: black;
}

.issues__issue_severity_Low {
    color: darkslategray;
}

.issues__no-protection {
    margin-bottom: 24px;
    padding: 12px;
    background-color: #eee;
}
