<include>
{% for item in regtest if inventory_hostname in item.host %}
        <gateway name="{{ item.name }}">
           <param name="username" value="{{ item.user }}"/>
           <param name="from-user" value="{{ item.user }}"/>
          <param name="password" value="{{ regsecrets.value[item.user] }}"/>
         <!--  <param name="from-domain" value=""/> -->
           <param name="realm" value="realm1"/>
           <param name="proxy" value="{{ item.proxy }}:{{ item.port }}"/>
           <param name="expire-seconds" value="60"/>
           <param name="register" value="true"/>
           <param name="retry-seconds" value="30"/>
        </gateway>
{% endfor %}
</include>