<include>
{% for phonecalls in taxi_phonecall_test %}
{% if ansible_hostname == regex_search("test|dev") }

        <gateway name="TEST item.name TEST">
           <param name="username" value=""/>
           <param name="password" value=""/>
           <param name="realm" value=""/>
           <param name="proxy" value="TEST item.proxy TEST:5060"/>
           <param name="expire-seconds" value="60"/>
           <param name="register" value="false"/>
           <param name="register-transport" value="udp"/>
           <param name="ping" value="15" />
           <param name="retry-seconds" value="30"/>
           <param name="caller-id-in-from" value="true"/>
        </gateway>


{% endif %}
{% endfor %}
</include>