<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg \(%X\)%n
            </pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="INFO"/>
    <logger name="io.grpc.netty" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="ru.yandex.passport.tvmauth" level="INFO"/>
    <logger name="ru.yandex.logbroker" level="INFO"/>
    <logger name="ACCESS_LOG" level="OFF" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
