.testing-record {
  background-color: var(--background-zone);
  border-radius: var(--base-border-radius);
  padding: var(--base-padding-medium);
  box-sizing: border-box;

  .status-container {
    margin-top: -5px;
  }

  .diff-label {
    margin: auto;
    text-align: left;
    width: 100%;
  }

  .diff-container {
    margin-top: 5px;

    > * {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }
}