Source: config-nginx-taxi-test-eda-ext-proxy
Section: devel
Priority: optional
Maintainer: Anna Martynova <broom@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: config-nginx-taxi-test-eda-ext-proxy
Architecture: all
Depends: ${misc:Depends}
Description: Config nginx for taxi test eda ext proxy server
 Config nginx for taxi test eda ext proxy server
