{% extends "base.html" %}
{% load i18n utils %}
{% block title %}{% trans "Tests" %}{% endblock %}

{% block h1 %}<h1>Тесты</h1>{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-12 col-12">
            <div class="card-header">
                <div class="">
                    <a {% if request.path == '/tests/' %}class="font-weight-bold"{% endif %} href="{% url 'tests:list' %}">{% trans 'My tests' %}</a> |
                    <a {% if request.path == '/tests/all' %}class="font-weight-bold"{% endif %} href="{% url 'tests:all' %}">{% trans 'All tests' %}</a> |
                    <a href="{% url 'tests:archive' %}">{% trans 'Archive' %}</a> |
                    <a href="{% url 'tests:create-test' %}">{% trans 'Create test' %}</a>
                </div>
            </div>

            <div class="row">
                {% include 'chunks/test_list.html' with tests=tests %}
            </div>
        </div>

    </div>
<style>
    .table td, .table th {
        border:none;
    }
</style>
{% endblock %}