include conf.d/99-myservice-upstream;

some
"data"
some global extra

server {
    include listen;
    include listen_https;

    client_max_body_size 12345m;

    server_name empty.dev.yandex-team.ru;
    server_name empty.tst.yandex-team.ru;
    server_name empty.yandex-team.ru;
    server_name empty.yandex.net;
    server_name empty.yandex.ru;

    location / {
        include random str1;
        include random str2;
        proxy_http_version 1.1;
        proxy_pass http://service_upstream_name/;
        proxy_set_header Connection "";
        proxy_hide_header X-YaTaxi-Api-OperationId;
        proxy_ignore_client_abort on;
        other
        "data"
        some location extra
        unit default location extra
    }
    server
    "extra"
    some server extra
    unit's server extra
}
