
{{#> base}}
{{#*inline "title"}}
Clickmap page title
{{/inline}}
{{#*inline "content"}}
<style>
    .div1 {
        width: 400px;
        height: 400px;
        background: gray;
    }
    .div2 {
        width: 200px;
        height: 200px;
        background: green;
    }
    .div3 {
        width: 100px;
        height: 100px;
        background: red;
    }
    .div4 {
        width: 50px;
        height: 50px;
        background: blue;
    }
</style>
<div>
    <a id="link" href="#">Link</a>
    <div id="div1" class="div1">
        div1
        <div id="div2" class="div2">
            <img id="img1">
            div2
        </div>
        <div id="div3" class="div3">
            div3
        </div>
        <div id="div4" class='ym-disable-clickmap div4'>
            div4
            <span id="span2">
                <img id="img2">
            </span>
        </div>
    </div>
    <script>
        document.querySelector('#link').onclick = function (e) {
            e.preventDefault()
        }
    </script>
</div>
{{/inline}}
{{/base}}
