#!/usr/bin/env bash
set -e

REPO_DIR=/taxi/backend-py3
{{ underscored_upper_service }}_DIR=$REPO_DIR/services/{{ service }}
{{ underscored_upper_service }}_GENERATED_DIR={{ '${' }}{{ underscored_upper_service }}_DIR}/{{ underscored_service }}/generated/
SETTINGS_PROD=${{ underscored_upper_service }}_GENERATED_DIR/service/settings/settings.production
if [ -d "${{ underscored_upper_service }}_GENERATED_DIR" ]; then
    echo "{{ service }} update package"
    mkdir -p /var/cache/yandex/taxi/configs/
    mkdir -p /etc/yandex/{{ taxi_web_service }}/
    chown -R www-data:www-data /var/cache/yandex/taxi/configs
    mkdir -p /usr/lib/yandex/{{ taxi_web_service }}/ \
           /etc/yandex/{{ taxi_web_service }}/
    rm -rf /usr/lib/yandex/{{ taxi_web_service }}/* \
           /etc/yandex/{{ taxi_web_service }}/*
    mkdir -p /var/cache/yandex/taxi/{{ service }}/files/

    ln -s $REPO_DIR/taxi /usr/lib/yandex/{{ taxi_web_service }}/taxi
    if [ -d $REPO_DIR/generated ]; then
      ln -s $REPO_DIR/generated /usr/lib/yandex/{{ taxi_web_service }}/generated
    fi
    for LIB_DIR in $REPO_DIR/libraries/*; do
        DIR_NAME=$(basename $LIB_DIR)
        PACKAGE_NAME=${DIR_NAME//-/_}
        PACKAGE_DIR=$LIB_DIR/$PACKAGE_NAME
        if [ -d $PACKAGE_DIR ]; then
            ln -s $PACKAGE_DIR /usr/lib/yandex/{{ taxi_web_service }}/$PACKAGE_NAME
        fi
    done
    ln -s ${{ underscored_upper_service }}_DIR/{{ underscored_service }} \
          /usr/lib/yandex/{{ taxi_web_service }}/{{ underscored_service }}
    ln -sf ${{ underscored_upper_service }}_DIR/debian/yandex-{{ taxi_web_service }}.nginx \
           /etc/nginx/sites-available/yandex-{{ taxi_web_service }}
    ln -sf ${{ underscored_upper_service }}_DIR/debian/yandex-{{ taxi_web_service }}.upstream_list.production \
           /etc/nginx/conf.d/99-yandex-{{ taxi_web_service }}-upstream
    if [ -f $SETTINGS_PROD ]; then
        ln -s $SETTINGS_PROD /etc/yandex/{{ taxi_web_service }}/settings.yaml
    fi
fi

for num in {01..16}; do
    ln -sf yandex_{{ underscored_taxi_web_service }}_00.sock /tmp/yandex_{{ underscored_taxi_web_service }}_${num}.sock
done

/taxi/tools/run.py \
    --syslog \
    --wait \
      mongo.taxi.yandex:27017 \
      http://configs.taxi.yandex.net/ping \
    --nginx yandex-{{ taxi_web_service }} \
    --run su www-data -s /bin/bash -c "/usr/lib/yandex/taxi-py3-2/bin/python3.7 \
          -m {{ underscored_service }}.generated.web.run_web --path=/tmp/yandex_{{ underscored_taxi_web_service }}_00.sock \
          --instance=00"

