.testids-field {
    display: flex;
    flex-direction: column;
    gap: 16px;

    color: var(--clr_el_gray_080);

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding-left: var(--space-32);
    }

    &__item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    &__item-name {
        flex-grow: 1;

        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    }

    &__item-name-text {
        border-bottom: 1px dashed var(--clr_el_gray_050);
        cursor: pointer;
    }

    &__add-flags {
        color: var(--clr_el_gray_060);
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
        border-bottom: 1px dashed var(--clr_el_gray_060);
    }

    &__item-buttons {
        white-space: nowrap;
        margin-left: 9px;
    }

    &__letter {
        margin-right: 8px;
        margin-left: calc(var(--space-32) * -1);
        width: 24px;
        height: 24px;
    }

    &__key-value {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;

        & .button__shape {
            color: var(--clr_el_gray_050);
        }
    }
}
